.slots{
  background: $white;
  padding: 30px;
  border-radius: 8px;
  margin: 0 0 20px 0;
  &__title{
    margin: 0 0 20px 0;
  }

  &__list{
    //display: grid;
    //grid-template-columns: auto auto auto auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 20px 0;
  }
  &__item{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    max-width: 190px;

    img{
      width: 190px;
      height: 190px;
      object-fit: cover;
    }

    &:hover .slots__item-info{
      opacity: 1;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }

    &-info{
      opacity: 0;
      background: rgba(105, 26, 46, 0.8);
      backdrop-filter: blur(2px);
      border-radius: 8px;
      position: absolute;
      padding: 15px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: opacity $transition;
    }
    &-title{
      text-align: center;
      font-family: $font-popins-semb;
      font-size: 17px;
      line-height: 20px;
      color: $pink;
    }
    &-text{
      font-size: 13px;
      line-height: 20px;
      color: $grey;
      margin: 0 0 8px 0;
    }
    &-btn{
      font-size: 15px;
      line-height: 20px;
      padding: 12px 35px 10px;
    }
  }

  &__all-link {
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: $black-one;
    transition: color $transition;

    &::before {
      content: '';
      position: absolute;
      width: 11px;
      height: 7px;
      top: 56%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
    }

    &:hover {
      color: $orangeBtn-hover;
    }
  }
}



@media screen and (max-width: 1024px) {
  .slots{
    padding: 30px 15px 20px;
    margin: 0 0 10px 0;
    border-radius: 0;

  }
}

@media screen and (max-width: 800px) {
  .slots{
    &__list{
      grid-template-columns: auto auto auto;
    }
  }
}

@media screen and (max-width: 600px) {
  .slots{
    &__list{
      display:grid ;
      grid-template-columns: auto auto;
      justify-content: center;
      gap: 15px;
    }
    &__item{
      max-width: 100%;
      img{
        width: 170px;
        height: 170px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .slots{

    &__item{
      &-title{
        font-size: 12px;
        line-height: 15px;
      }
      &-text{
        font-size: 11px;
        line-height: 17px;
      }
      &-btn{
        font-size: 13px;
        line-height: 15px;
        padding: 10px 26px 8px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .slots{
    &__item{
      max-width: 100%;
      img{
        width: 150px;
        height: 150px;
      }
    }
  }
}
