.faq{
  padding: 50px 0;
  background: $white;
  background-size: 100%;
  &__title{
    text-align: center;
    color: $black;
    margin: 0 0 25px 0;
  }
}

.accordion__item{
  &:not(:last-child){
    margin: 0 0 10px 0;
  }
}
.accordion__header {
  display: flex;
  position: relative;
  align-items: center;
  font-family: $font-popins-semb;
  padding: 22px 55px 21px 20px;
  background: $white-bg;
  border-radius: 8px;
  font-size: 18px;
  line-height: 27px;
  color: $black;
  cursor: pointer;
  transition: background-color $transition;
  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    right: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 7px 9px;
    border-color: transparent transparent $gray transparent;
    transform: rotate(180deg);
    margin: 0 0 0 6px;
    transition: transform $transition, border-color $transition;
  }
  &::before{
    content: '';
    width: 28px;
    height: 28px;
    min-width: 28px;
    min-height: 28px;
    margin: 0 10px 0 0;
    background: url("../img/general-block-image/faq-image.svg") no-repeat center/contain;
    display: inline-block;
  }

}

.accordion__item_slidedown .accordion__header,
.accordion__item_show .accordion__header {
  border: none;
}

.accordion__header:hover {
  background-color: $gray-border-menu-hover;
}

.accordion__content {
  display: flex;
  flex-direction: column;
  padding: 25px 35px 15px;
  background: transparent;
  p{
    font-size: 14px;
    line-height: 26px;
    color: $gray;
    &:not(:last-child){
      margin: 0 0 20px 0;
    }
  }
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.accordion__item_show .accordion__header::after, .accordion__item_slidedown .accordion__header::after {
  transform:  rotate(0deg);
  border-color: transparent transparent $green transparent;
}



@media screen and (max-width: 600px) {
  .faq {
    padding: 30px 0;
    &__container {
      padding: 0;
    }

    &__title {
      margin: 0 0 20px 0;
      padding: 0 15px;
    }
  }


  .accordion__header {
    border-radius: 0;
    padding: 15px 35px 14px 15px;
    font-size: 14px;
    line-height: 21px;

    &::before {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin: 0 10px 0 0;
    }

    &::after {
      border-width: 0 5px 7px;
      right: 15px;
    }
  }

  .accordion__content {
    padding: 15px 15px 10px 15px;

    p {
      font-size: 12px;
      line-height: 26px;

      &:not(:last-child) {
        margin: 0 0 15px 0;
      }
    }
  }

}
