.footer {
  padding: 50px 0 30px 0;
  background: $black-one;

  &__subtext{
    margin: 0 0 60px 0;
    p{
      color: $white;
      font-size: 15px;
      line-height: 20px;
      &:not(:last-child){
        margin: 0 0 20px 0;
      }
    }
  }

  &__link {
    display: inline-block;
    max-width: 240px;
    margin: 0 0 45px 0;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 60px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 60px 0 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 270px;

    &:not(:last-child) {
      margin: 0 60px 0 0;
    }

    &-title {
      font-family: $font-popins-semb;
      color: $white;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.04em;
      margin: 0 0 20px 0;
    }

    &-link {
      display: inline-block;
      font-size: 15px;
      line-height: 20px;
      color: $grey-footer;
      transition: color $transition;

      &:hover {
        color: $white;
      }

      &:not(:last-child) {
        margin: 0 0 20px 0;
      }
    }
  }

  &__wrap-info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__social {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 15px;
    margin: 0 0 20px 0;

    &-mail{
      display: flex;
      flex-direction: column;
      &-text{
        color: $white;
        font-size: 17px;
        line-height: 22px;
        margin: 0 0 8px 0;
      }
      &-link{
        color: #C1C1D4;
        font-size: 15px;
        line-height: 20px;
        text-decoration: underline;
        transition: color .3s ease;
        &:hover{
          text-decoration: underline;
          color: $white;
        }
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 42px;
      border-radius: 8px;

      svg {
        max-width: 100%;
        max-height: 100%;
        fill: $white;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__sponsor {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;

    &-item {
      display: inline-block;

      &:not(:last-child) {
        margin: 0 25px 0 0;
      }
    }
  }

  &__text {
    color: $grey;
    font-size: 13px;
    line-height: 20px;

    &-link {
      white-space: nowrap;
      color: $white;
      text-decoration: underline;
    }
  }


  &__cookie {
    position: fixed;
    width: 80%;
    padding: 20px 40px;
    background: $burgundy-gradient;
    z-index: 10;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    display: flex;
    align-items: center;

    &._hidden {
      display: none;
      visibility: hidden;
    }

    &-img {
      min-width: 40px;
      max-width: 41px;
      margin: 0 15px 0 0;
    }

    &-info {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
    }

    &-text {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: $white;
      flex: 1 1 auto;
      margin: 0 20px 0 0;
    }

    &-btn {
      display: inline-block;
      padding: 12px 25px 10px;
      white-space: nowrap;

    }
  }

  &__btn-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: opacity $transition, visibility $transition;

    &._hidden {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 1600px) {
  .footer {
    &__cookie {
      width: 70%;
    }
  }
}

@media screen and (max-width: 1170px) {
  .footer {
    &__row {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 30px;
      margin: 0 30px 0 0;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
    }

    &__sponsor {
      margin: 0 0 25px 0;
    }

    &__item {
      &:not(:last-child) {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 750px) {
  .footer {
    &__row {
      display: grid;
      grid-template-columns: auto auto;
      gap: 30px;

    }

    &__cookie {
      width: 60%;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 0;

    &__subtext{
      margin: 0 0 40px 0;
      p{
        font-size: 13px;
        line-height: 15px;
      }
    }

    &__wrapper {
      flex-direction: column;
      align-items: stretch;
      margin: 0 0 40px 0;
    }

    &__row {
      margin: 0 0 40px 0;
      grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      gap: 30px 15px;
    }

    &__item {
      max-width: 100%;
    }

    &__social {
      align-self: center;
    }

    &__sponsor {
      justify-content: center;
      margin: 0 0 15px 0;

      &-item {
        &:not(:last-child) {
          margin: 0 15px 0 0;
        }
      }
    }

    &__text {
      font-size: 11px;
      line-height: 16px;
    }

    &__cookie {
      align-items: flex-start;
      padding: 20px 15px;
      bottom: 10px;
      width: 98%;

      &-text {
        font-size: 13px;
        line-height: 22px;
        margin: 0 0 10px 0;
      }

      &-info {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__btn-top {
      z-index: 10;
      bottom: 29px;
      right: 20px;
      width: 45px;
      height: 43px;

    }
  }
}