.subscribe{
  padding: 70px 0 90px 0;
  background: $green url("../img/general-block-image/subscribe/bg-sub-desc.webp") no-repeat 50% 0/cover;

  &__row{
    max-width: 580px;
  }
  &__title{
    color: $white;
    text-shadow: $shadow-text-2;
    margin: 0 0 10px 0;
  }
  &__text{
    font-size: 15px;
    line-height: 22px;
    color: $gray-text-on-green;
    text-shadow: $shadow-text-2;
    margin: 0 0 30px 0;
  }

  &__form{
    margin: 0 0 5px 0;
    &-wrap{
      max-width: 460px;
      position: relative;
    }
  }
  &__email{
    width: 100%;
    border-radius: 100px;
    background: $white;
    padding: 10px 19px 8px;
    font-family: $font-popins-reg;
    box-shadow: $shadow-text-2;
    font-size: 15px;
    line-height: 30px;
    &::placeholder{
      font-size: 15px;
      line-height: 30px;
      color: $black;
    }
  }
  &__submit{
    padding: 12px 25px 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__info{
    max-width: 490px;
    color: $gray-text-on-green;
    text-shadow: $shadow-text-2;
    font-size: 13px;
    line-height: 17px;
    &-link{
      font-family: $font-popins-semb;
      color: $salad;
      white-space: nowrap;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .subscribe{
    padding: 50px 0 300px 0;
    background: $green url("../img/general-block-image/subscribe/bg-sub-mob.webp") no-repeat 50% 50%/cover;
    &__title{
      text-align: center;
      margin: 0 0 10px 0;
    }
    &__text{
      text-align: center;
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 20px 0;
    }
    &__form{
      &-wrap{
        max-width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &__email{
      margin: 0 0 15px 0;
      display: inline-block;
    }
    &__submit{
      top: 38%;
    }
    &__info{
      text-align: center;
    }
  }
}