@charset "UTF-8";
/* stylelint-disable */
@font-face {
  font-family: "Popins-reg";
  src: url("../fonts/../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Popins-medium";
  src: url("../fonts/../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Popins-semb";
  src: url("../fonts/../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
.burgundy-btn {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  color: #e7fd52;
  border-radius: 100px;
  background: #0b764f;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.burgundy-btn:hover {
  background: #06602f;
}

.white-btn {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  color: #151a18;
  border-radius: 100px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.white-btn:hover {
  background: #bdbbbb;
}

.transparent-btn {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  color: #151a18;
  border-radius: 100px;
  border: 1px solid #c2c3c4;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.transparent-btn:hover {
  background: #bdbbbb;
}

.transparent-salad-btn {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  color: #e7fd52;
  border-radius: 100px;
  border: 1px solid #e7fd52;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.transparent-salad-btn:hover {
  color: #abbe45;
}

.orange-btn {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  border-radius: 100px;
  background: #e7fd52;
  color: #283d1a;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.orange-btn:hover {
  background: #abbe45;
}

.grey-btn {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  border-radius: 100px;
  color: #151a18;
  background: #f3f5f6;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.grey-btn:hover {
  background: #bdbbbb;
}

.grey-btn-two {
  font-family: "Popins-semb", sans-serif;
  text-transform: uppercase;
  border-radius: 200px;
  color: #e7fd52;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.grey-btn-two:hover {
  background: rgba(26, 25, 25, 0.3);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
picture {
  width: auto;
  height: auto;
  max-width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0 50px 0;
}
.wrapper__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 30px 0 30px 0;
    overflow: hidden;
  }
  .wrapper__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 !important;
  }
}
.title {
  font-family: "Popins-semb", sans-serif;
  color: #151a18;
  font-size: 32px;
  line-height: 39px;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 24px;
    line-height: 30px;
  }
}

[class*=__container] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Popins-reg", sans-serif;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #151a18;
  background: #f3f5f6;
}
body._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    background: -webkit-gradient(linear, right top, left top, from(#0b764f), to(#0b764f));
    background: linear-gradient(270deg, #0b764f 0%, #0b764f 100%);
    border-radius: 100px;
    width: 54px;
    height: 54px;
    position: relative;
    z-index: 5;
  }
  .menu__icon span {
    width: 28px;
    height: 28px;
    background: url("../img/burger-img.svg") no-repeat 0 0/contain;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .menu__icon._active span {
    opacity: 0;
  }
  .menu__icon::before {
    opacity: 0;
    content: "";
    position: absolute;
    width: 26px;
    height: 3px;
    background: #e7fd52;
    border-radius: 2px;
    top: 15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu__icon._active::before {
    opacity: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .menu__icon::after {
    opacity: 0;
    content: "";
    bottom: 15px;
    position: absolute;
    width: 26px;
    height: 3px;
    background: #e7fd52;
    border-radius: 2px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .menu__icon._active::after {
    opacity: 1;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%) rotate(45deg);
    -ms-transform: translate(-50%, 50%) rotate(45deg);
    transform: translate(-50%, 50%) rotate(45deg);
  }
  .menu__icon._active img {
    opacity: 0;
  }
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background: #151a18;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 9px 0;
  }
}
.header__language {
  margin: 0 0 0 20px;
  cursor: pointer;
  min-width: 40px;
  max-width: 40px;
  height: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 1240px) {
  .header__language {
    margin: 0 0 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .header__language {
    position: absolute;
    top: 26px;
    right: 79px;
    z-index: 11;
  }
}
.header__language::before {
  position: absolute;
  background: transparent;
  cursor: pointer;
  width: 160%;
  height: 50px;
  top: 0;
  left: -20px;
  z-index: 0;
}
.header__language:hover::before {
  content: "";
}
.header__language:hover::after {
  border-color: transparent transparent #e7fd52 transparent;
}
.header__language:hover::before {
  content: "";
}
.header__language:hover .header__language-list {
  display: block;
}
@media screen and (max-width: 1024px) {
  .header__language:hover .header__language-list {
    display: none;
  }
}
.header__language-item {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Popins-reg", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.004em;
  color: #ffffff;
  padding: 8px 20px 6px;
}
.header__language-item._active::after {
  content: "";
}
.header__language-item::after {
  position: absolute;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 12px;
  height: 9px;
  background: url("../img/arrow-language.svg") no-repeat 0 0/contain;
}
.header__language-item:hover {
  background: #2c312f;
}
.header__language-item::before {
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
}
.header__language-pt::before {
  content: "";
  background: url("../img/language-uk.svg") no-repeat 0 0/contain;
}
.header__language-en::before {
  content: "";
  background: url("../img/language-en.webp") no-repeat 0 0/contain;
}
.header__language-list {
  display: none;
  min-width: 170px;
  max-width: 170px;
  top: 210%;
  right: 0;
  position: absolute;
  padding: 10px 0;
  background: #151a18;
  color: #ffffff;
  border-top: 1px solid #e7fd52;
  border-radius: 0 0 2px 2px;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}
@media screen and (max-width: 1024px) {
  .header__language-list {
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background: #0b764f;
    top: 35px;
  }
}
.header__language-list._open {
  display: block !important;
}
.header__language::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 4px 6px 4px;
  border-color: transparent transparent #858585 transparent;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.header__language-select {
  width: 100%;
  height: 100%;
}
.header__language-select._en {
  background: url("../img/language-en.webp") no-repeat 0 0/contain;
}
.header__language-select._pt {
  background: url("../img/language-uk.svg") no-repeat 0 0/contain;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}
.header__logo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  z-index: 10;
  width: 176px;
  min-width: 176px;
  height: 60px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .header__menu {
    padding: 80px 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#085a3d), to(#038941));
    background: linear-gradient(180deg, #085a3d 0%, #038941 100%);
    overflow: auto;
    top: 0;
    z-index: 4;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .header__menu._active {
    left: 0;
  }
}
.header__nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 15px 0 0;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
  }
}
.header__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 0 20px;
}
.header__search::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/search-icon.svg") no-repeat 0 0/contain;
  right: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header__search-input {
  font-family: "Popins-reg", sans-serif;
  display: inline-block;
  width: 280px;
  padding: 15px 40px 13px 25px;
  font-size: 13px;
  line-height: 20px;
  border-radius: 100px;
  background: #ffffff;
  color: #151a18;
  border: 1px solid #e7fd52;
}
@media screen and (max-width: 1240px) {
  .header__search-input {
    width: 227px;
  }
}
.header__search-input::-webkit-input-placeholder {
  font-family: "Popins-reg", sans-serif;
  color: #151a18;
}
.header__search-input::-moz-placeholder {
  font-family: "Popins-reg", sans-serif;
  color: #151a18;
}
.header__search-input:-ms-input-placeholder {
  font-family: "Popins-reg", sans-serif;
  color: #151a18;
}
.header__search-input::-ms-input-placeholder {
  font-family: "Popins-reg", sans-serif;
  color: #151a18;
}
.header__search-input::placeholder {
  font-family: "Popins-reg", sans-serif;
  color: #151a18;
}
.header__search-input:focus {
  outline: 1px solid #e7fd52;
}

@media screen and (max-width: 1024px) {
  .header__search {
    padding-top: 15px;
    margin: 0 auto 25px;
    max-width: 500px;
    width: 100%;
  }
  .header__search::before {
    right: auto;
    top: 62%;
    left: 18px;
  }
  .header__search-input {
    background: -webkit-gradient(linear, right top, left top, from(#0b764f), to(#0b764f));
    background: linear-gradient(270deg, #0b764f 0%, #0b764f 100%);
    color: #ffffff;
    border: none;
    display: block;
    opacity: 1;
    visibility: visible;
    position: static;
    width: 100%;
    padding: 15px 13px 13px 45px;
    font-size: 13px;
    line-height: 20px;
  }
  .header__search-input::-webkit-input-placeholder {
    color: #ffffff;
  }
  .header__search-input::-moz-placeholder {
    color: #ffffff;
  }
  .header__search-input:-ms-input-placeholder {
    color: #ffffff;
  }
  .header__search-input::-ms-input-placeholder {
    color: #ffffff;
  }
  .header__search-input::placeholder {
    color: #ffffff;
  }
  .header__nav {
    overflow-y: scroll;
    padding: 35px 0 35px 0;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu .menu-list .menu-item {
  position: relative;
}
.menu .menu-list .menu-item:not(:last-child) {
  margin: 0 20px 0 0;
}
.menu .menu-list .menu-item a,
.menu .menu-list .menu-item span {
  cursor: pointer;
  font-family: "Popins-medium", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding-block: 20px;
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media screen and (max-width: 1350px) {
  .menu .menu-list .menu-item a,
  .menu .menu-list .menu-item span {
    font-size: 16px;
  }
}
@media screen and (max-width: 1279px) {
  .menu .menu-list .menu-item a,
  .menu .menu-list .menu-item span {
    font-size: 14px;
  }
}
@media screen and (max-width: 1080px) {
  .menu .menu-list .menu-item a,
  .menu .menu-list .menu-item span {
    font-size: 12px;
  }
}
.menu .menu-list .menu-item .sub-menu {
  padding: 10px 0;
  display: none;
  position: absolute;
  background-color: #151a18;
  border-top: 1px solid #E82052;
  border-radius: 0 0 2px 2px;
  min-width: 220px;
  max-width: 220px;
  z-index: 1;
  left: -10px;
  top: 100%;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}
@media screen and (max-width: 1350px) {
  .menu .menu-list .menu-item .sub-menu {
    min-width: 210px;
    max-width: 210px;
  }
}
@media screen and (max-width: 1279px) {
  .menu .menu-list .menu-item .sub-menu {
    min-width: 200px;
    max-width: 200px;
  }
}
@media screen and (max-width: 1130px) {
  .menu .menu-list .menu-item .sub-menu {
    min-width: 180px;
    max-width: 180px;
  }
}
@media screen and (max-width: 1024px) {
  .menu .menu-list .menu-item .sub-menu {
    background: transparent;
  }
}
.menu .menu-list .menu-item .sub-menu .menu-item {
  position: relative;
  margin: 0;
}
.menu .menu-list .menu-item .sub-menu .menu-item.mobile-active > a::after {
  right: 10px;
  border-color: transparent transparent #e7fd52 transparent;
  -webkit-transform: translateX(-50%) rotate(180deg);
  -ms-transform: translateX(-50%) rotate(180deg);
  transform: translateX(-50%) rotate(180deg);
}
.menu .menu-list .menu-item .sub-menu .menu-item a,
.menu .menu-list .menu-item .sub-menu .menu-item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 7px 35px 6px 20px;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 1350px) {
  .menu .menu-list .menu-item .sub-menu .menu-item a,
  .menu .menu-list .menu-item .sub-menu .menu-item span {
    font-size: 12px;
  }
}
@media screen and (max-width: 1279px) {
  .menu .menu-list .menu-item .sub-menu .menu-item a,
  .menu .menu-list .menu-item .sub-menu .menu-item span {
    font-size: 12px;
  }
}
@media screen and (max-width: 1080px) {
  .menu .menu-list .menu-item .sub-menu .menu-item a,
  .menu .menu-list .menu-item .sub-menu .menu-item span {
    font-size: 11px;
  }
}
.menu .menu-list .menu-item .sub-menu .menu-item a::after,
.menu .menu-list .menu-item .sub-menu .menu-item span::after {
  margin: 0;
  position: absolute;
  right: 15px;
  top: 45%;
  -webkit-transform: translateX(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) rotate(-90deg);
  transform: translateX(-50%) rotate(-90deg);
}
.menu .menu-list .menu-item .sub-menu .menu-item a:hover,
.menu .menu-list .menu-item .sub-menu .menu-item span:hover {
  background: #2c312f;
}
@media screen and (max-width: 1024px) {
  .menu .menu-list .menu-item .sub-menu .menu-item a:hover,
  .menu .menu-list .menu-item .sub-menu .menu-item span:hover {
    background: transparent;
  }
}
.menu .menu-list .menu-item .sub-menu .menu-item .sub-menu {
  border-top: none;
  top: 0;
  left: 100%;
  border-radius: 0 2px 2px 2px;
}
.menu .menu-list .menu-item:has(.sub-menu) a:hover::after {
  background-color: #E82052;
}
.menu .menu-list .menu-item:has(.sub-menu) a::after {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-mask: url("../img/header-menu-arrow.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../img/header-menu-arrow.svg") no-repeat center;
  mask: url("../img/header-menu-arrow.svg") no-repeat center;
  mask-size: contain;
  margin: 0 0 0 4px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.menu .menu-list .menu-item.active a::before {
  content: "";
  width: 100%;
  position: absolute;
  margin-top: 30px;
  height: 3px;
  border-radius: 2px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), -webkit-gradient(linear, left top, left bottom, from(#E82052), to(#e9305e));
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #E82052 0%, #e9305e 100%);
}
@media (max-width: 1250px) {
  .menu .menu-list .menu-item:nth-child(10) .sub-menu, .menu .menu-list .menu-item:nth-child(9) .sub-menu, .menu .menu-list .menu-item:nth-child(8) .sub-menu, .menu .menu-list .menu-item:nth-child(7) .sub-menu {
    left: auto;
    right: 0;
  }
  .menu .menu-list .menu-item:nth-child(10) .sub-menu .sub-menu, .menu .menu-list .menu-item:nth-child(9) .sub-menu .sub-menu, .menu .menu-list .menu-item:nth-child(8) .sub-menu .sub-menu, .menu .menu-list .menu-item:nth-child(7) .sub-menu .sub-menu {
    left: auto;
    right: 108%;
  }
}
@media (max-width: 1024px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    overflow-y: scroll;
    padding-bottom: 50px;
  }
  .menu .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  .menu .menu-list .menu-item {
    position: relative;
  }
  .menu .menu-list .menu-item:not(:last-child) {
    margin: 0 0 0 0;
  }
  .menu .menu-list .menu-item a,
  .menu .menu-list .menu-item span {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 17px;
    width: 100%;
    padding: 18px 30px 18px 10px;
  }
  .menu .menu-list .menu-item a::before,
  .menu .menu-list .menu-item span::before {
    content: none;
  }
  .menu .menu-list .menu-item a::after,
  .menu .menu-list .menu-item span::after {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 25px;
  }
  .menu .menu-list .menu-item .sub-menu {
    background: transparent;
    -webkit-filter: none;
    filter: none;
    display: none;
    position: static;
    padding: 0;
    border: none;
    width: 100%;
    max-width: 100%;
  }
  .menu .menu-list .menu-item .sub-menu .menu-item {
    width: 100%;
  }
  .menu .menu-list .menu-item .sub-menu .menu-item a,
  .menu .menu-list .menu-item .sub-menu .menu-item span {
    font-size: 17px;
    padding: 14px 30px 14px 20px;
    background: none;
    border-radius: 0;
    width: 100%;
  }
  .menu .menu-list .menu-item .sub-menu .menu-item a::before,
  .menu .menu-list .menu-item .sub-menu .menu-item span::before {
    content: none;
  }
  .menu .menu-list .menu-item .sub-menu .menu-item a::after,
  .menu .menu-list .menu-item .sub-menu .menu-item span::after {
    position: absolute;
    right: 10px;
    top: 21px;
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu {
    display: block;
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu a::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu-2,
  .menu .menu-list .menu-item.mobile-active .sub-menu-3 {
    border-radius: 0;
    background: none;
    margin: 0;
    display: none;
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu-2 a,
  .menu .menu-list .menu-item.mobile-active .sub-menu-3 a {
    padding: 14px 30px 14px 35px;
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu-2._open,
  .menu .menu-list .menu-item.mobile-active .sub-menu-3._open {
    display: block;
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu-2 a::after,
  .menu .menu-list .menu-item.mobile-active .sub-menu-3 a::after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .menu .menu-list .menu-item.mobile-active .sub-menu-3 {
    background: #ffffff;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .menu .menu-list .menu-item.mobile-active .sub-menu-3 {
    background: transparent;
  }
}
@media (max-width: 1024px) {
  .menu .menu-list .menu-item.mobile-active .sub-menu-3 a {
    padding: 14px 30px 14px 50px;
  }
}

.drop-menu {
  display: none;
  position: absolute;
  top: 63px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  right: 0;
  min-width: 375px;
  max-width: 375px;
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}
.drop-menu._active {
  display: block;
}
.drop-menu__title {
  padding: 7px 20px;
  background: #d9dde0;
  font-family: "Popins-reg", sans-serif;
  color: rgba(17, 17, 17, 0.5);
  font-size: 14px;
  line-height: 20px;
}
.drop-menu__title span {
  color: #151a18;
}
.drop-menu__list {
  padding: 10px 0;
  background: #ffffff;
}
.drop-menu__link {
  padding: 5px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.drop-menu__link:hover {
  background: #bdbbbb;
}
.drop-menu__item-image {
  min-width: 65px;
  max-width: 65px;
  margin: 0 10px 0 0;
}
.drop-menu__item-image img {
  border-radius: 4px;
}
.drop-menu__item-text {
  font-family: "Popins-reg", sans-serif;
  color: #151a18;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1240px) {
  .drop-menu {
    top: 68px;
    border-radius: 4px;
  }
}
@media screen and (max-width: 1024px) {
  .drop-menu {
    min-width: auto;
    max-width: 100%;
    width: 100%;
    z-index: 6;
  }
  .drop-menu__title {
    background: #0b764f;
    color: #ffffff;
  }
  .drop-menu__title span {
    color: #ffffff;
  }
  .drop-menu__item-text {
    color: #ffffff;
  }
  .drop-menu__list {
    background: #038941;
  }
  .drop-menu__link {
    background: #038941;
  }
}
.main {
  margin: 0 40px 0 0;
}
@media screen and (max-width: 1285px) {
  .main {
    margin: 0 20px 0 0;
  }
}

.aside {
  position: relative;
  min-width: 400px;
  max-width: 400px;
}
@media screen and (max-width: 1285px) {
  .aside {
    min-width: 380px;
    max-width: 380px;
  }
}
@media screen and (max-width: 1024px) {
  .aside {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .aside {
    min-width: auto;
  }
}

.wrapper {
  padding: 30px 0 50px 0;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 15px 0 0 0;
  }
}

.blog {
  padding: 30px;
  background: -webkit-gradient(linear, right top, left top, from(#0b764f), to(#0b764f));
  background: linear-gradient(270deg, #0b764f 0%, #0b764f 100%);
  border-radius: 20px;
  margin: 0 0 20px 0;
}
.blog h2 {
  font-family: "Popins-semb", sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 15px 0;
}
.blog__tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 28px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  margin: 0 0 15px 0;
}
.blog__tabs-item {
  width: calc(50% - 2.5px);
}
.blog__tabs-item:not(:last-child) {
  margin: 0 5px 0 0;
}
.blog__tabs-btn {
  padding: 9px 0;
  width: 100%;
  text-align: center;
  position: relative;
  display: inline-block;
  background: transparent;
  font-size: 13px;
  line-height: 22px;
  color: #d2e4dd;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.blog__tabs-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #0b764f;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.blog__tabs-btn::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e7fd52;
  border-radius: 100px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.blog__tabs-btn-one._active, .blog__tabs-btn-two._active {
  color: #e7fd52;
}
.blog__tabs-btn-one._active::after, .blog__tabs-btn-one._active::before, .blog__tabs-btn-two._active::after, .blog__tabs-btn-two._active::before {
  opacity: 1;
}
.blog__tabs-btn:hover {
  color: #e7fd52;
}
.blog__tabs-btn:hover::after, .blog__tabs-btn:hover::before {
  opacity: 1;
}
.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.blog__list-one._hidden {
  display: none;
}
.blog__list-two._hidden {
  display: none;
}
.blog__item {
  position: relative;
}
.blog__item:not(:last-child) {
  margin: 0 0 20px 0;
}
.blog__item-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.blog__item-image {
  margin: 0 0 15px 0;
}
.blog__item-image img {
  border-radius: 8px;
}
.blog__item-licensed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.004em;
  color: #7387ba;
  margin: 0 0 5px 0;
}
.blog__item-licensed span {
  display: inline-block;
}
.blog__item-licensed span:not(:last-child) {
  margin: 0 8px 0 0;
}
.blog__item p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 0 0 5px 0;
}
.blog__item time {
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .blog {
    padding: 30px 0;
    border-radius: 0;
  }
  .blog h2 {
    padding: 0 15px;
    text-align: center;
  }
  .blog__tabs {
    width: 90%;
    margin: 0 auto 15px auto;
  }
  .blog__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0 15px;
    min-width: 100%;
  }
  .blog__item {
    min-width: 310px;
    max-width: 315px;
  }
  .blog__item:not(:last-child) {
    margin: 0 15px 0 0;
  }
}
.casino__breadcrumbs {
  padding: 10px 0 0 0;
}
.casino__breadcrumbs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: scroll;
}
.casino__breadcrumbs-link {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  color: #151a18;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.casino__breadcrumbs-link:hover {
  color: #858585;
}
.casino__breadcrumbs-link:last-child:hover {
  color: #151a18;
}
.casino__breadcrumbs-link:not(:last-child) {
  margin: 0 18px 0 0;
}
.casino__breadcrumbs-link:not(:last-child)::before {
  content: "•";
  position: absolute;
  font-size: 12px;
  line-height: 20px;
  color: #151a18;
  right: -11px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 600px) {
  .casino__breadcrumbs-link {
    font-size: 12px;
    line-height: 20px;
  }
}
.author {
  margin: 0 0 40px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
}
.author h1 {
  font-family: "Popins-semb", sans-serif;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #151a18;
  margin: 0 0 10px 0;
}
.author__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 0 30px 0;
}
.author__info-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 25px 0 0;
}
.author__info-date p {
  font-size: 15px;
  line-height: 22px;
  color: #151a18;
}
.author__info-date p:not(:last-child) {
  margin: 0 20px 0 0;
}
.author__info-licensed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.author__info-licensed span {
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  color: #7387ba;
}
.author__info-licensed span:not(:last-child) {
  margin: 0 20px 0 0;
}
.author__wrap {
  border-radius: 8px;
  overflow: hidden;
}
.author__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  background: #ffffff;
}
.author__name-image {
  max-width: 60px;
  margin: 0 12px 0 0;
  position: relative;
}
.author__name-image-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.author__name-image img {
  border-radius: 4px;
}
.author__name-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0 15px 0 0;
}
.author__name-info p:first-child {
  font-family: "Popins-semb", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #151a18;
}
.author__name-info p:nth-child(2) {
  font-size: 11px;
  line-height: 20px;
  color: #151a18;
}
.author__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.author__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  height: 42px;
  border-radius: 8px;
}
.author__social-item:not(:last-child) {
  margin: 0 10px 0 0;
}
.author__social-item svg {
  max-width: 100%;
  max-height: 100%;
  fill: #ffffff;
}

@media screen and (max-width: 1024px) {
  .author {
    border-radius: 0;
    margin: 0 0 20px 0;
  }
  .author h1, .author__info {
    padding: 0 15px;
    margin: 0 0 20px 0;
  }
  .author__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .author__info-date {
    margin: 0 0 15px 0;
  }
  .author__wrap {
    border-radius: 0;
  }
  .author__social {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .author__social-item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .author h1 {
    font-size: 17px;
    line-height: 28px;
    margin: 0 0 10px 0;
  }
  .author__info-date {
    margin: 0 0 15px 0;
  }
  .author__info-date p {
    font-size: 11px;
    line-height: 14px;
  }
  .author__info-date p:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .author__info-licensed span {
    font-size: 12px;
    line-height: 15px;
  }
  .author__info-licensed span:not(:last-child) {
    margin: 0 8px 0 0;
  }
}
@media screen and (max-width: 372px) {
  .author__info-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .author__info-date p:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.news {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin: 0 0 20px 0;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.news__blog > a {
  color: #151a18;
  text-decoration: underline;
}
.news__blog > a:hover {
  text-decoration: none;
}
.news__blog h2 {
  font-family: "Popins-semb", sans-serif;
  font-size: 28px;
  line-height: 48px;
  color: #151a18;
  margin: 0 0 10px 0;
}
.news__blog h3, .news__blog h4, .news__blog h5, .news__blog h6 {
  font-family: "Popins-semb", sans-serif;
  letter-spacing: -0.01em;
  color: #151a18;
}
.news__blog h3 {
  font-size: 20px;
  line-height: 40px;
}
.news__blog h4 {
  font-size: 18px;
  line-height: 48px;
}
.news__blog h5 {
  font-size: 16px;
  line-height: 48px;
}
.news__blog h6 {
  font-size: 14px;
  line-height: 48px;
}
.news__blog p, .news__blog li {
  font-family: "Popins-reg", sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 20px 0;
  color: #151a18;
}
.news__blog ol {
  list-style-type: none;
  margin: 0 0 30px 0;
  counter-reset: counter-ol;
}
.news__blog ol li {
  position: relative;
  padding-left: 35px;
}
.news__blog ol li::before {
  position: absolute;
  top: 2px;
  left: 0;
  counter-increment: counter-ol;
  content: counter(counter-ol) " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Popins-semb", sans-serif;
  color: #ffffff;
  min-width: 24px;
  min-height: 24px;
  font-size: 15px;
  line-height: 25px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#085a3d), to(#038941));
  background: linear-gradient(180deg, #085a3d 0%, #038941 100%);
}
.news__blog ol li:not(:last-child) {
  margin: 0 0 20px 0;
}
.news__blog ol li p {
  margin: 0;
  color: #151a18;
}
.news__blog ul {
  margin: 0 0 30px 0;
}
.news__blog ul li {
  position: relative;
  padding: 0 0 0 47px;
}
.news__blog ul li::before {
  content: "i";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 5px;
  left: 0;
  width: 34px;
  height: 34px;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  font-family: sans-serif;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#085a3d), to(#038941));
  background: linear-gradient(180deg, #085a3d 0%, #038941 100%);
}
.news__blog ul li:not(:last-child) {
  margin: 0 0 15px 0;
}
.news__blog ul li p {
  margin: 0;
  color: #151a18;
}
.news__blog blockquote {
  position: relative;
  padding: 85px 30px 20px;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, left bottom, from(#085a3d), to(#038941));
  background: linear-gradient(180deg, #085a3d 0%, #038941 100%);
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  margin: 0 0 20px 0;
}
.news__blog blockquote::before {
  pointer-events: none;
  content: "‟";
  font-size: 65px;
  line-height: 65px;
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  height: 18px;
  color: #e7fd52;
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 30px;
}
.news__blog blockquote::after {
  pointer-events: none;
  content: "‟";
  font-size: 65px;
  line-height: 65px;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  height: 18px;
  color: #e7fd52;
  position: absolute;
  display: inline-block;
  top: 40px;
  left: 52px;
}

.content-table {
  border-radius: 20px;
  overflow-x: hidden;
}
.content-table table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 20px 0;
  background: #ffffff;
}
.content-table table tr, .content-table table td {
  border: 1px solid #ddd;
  padding: 15px;
  color: #151a18;
  font-size: 15px;
  line-height: 20px;
}
.content-table table tr:first-child {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: -webkit-gradient(linear, left top, left bottom, from(#085a3d), to(#038941));
  background: linear-gradient(180deg, #085a3d 0%, #038941 100%);
}
.content-table table tr:first-child td {
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .news {
    padding: 30px 15px 20px;
    margin: 0 0 20px 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 600px) {
  .content-table table tr, .content-table table td {
    padding: 10px;
    font-size: 13px;
    line-height: 19px;
  }
  .news__blog h2 {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }
  .news__blog h3, .news__blog h4, .news__blog h5, .news__blog h6 {
    font-size: 17px;
    line-height: 26px;
  }
  .news__blog p, .news__blog li {
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 15px 0;
  }
  .news__blog ol {
    margin: 0 0 20px 0;
  }
  .news__blog ol li:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .news__blog ul {
    margin: 0 0 20px 0;
  }
  .news__blog blockquote {
    padding: 85px 20px 20px 20px;
    font-size: 13px;
    line-height: 28px;
  }
}
/*# sourceMappingURL=main13_crit.css.map */