/* stylelint-disable */
.casino-online {
  position: sticky;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.casino-online__wrap {
  padding: 30px 40px;
  border-radius: 8px;
  background: linear-gradient(252.32deg, #8A2336 0%, #631728 28.99%, #340918 100%);
  margin: 0 0 20px 0;
}
.casino-online__all-link {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: inline-block;
  padding: 18px 40px 16px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.casino-online__title {
  font-family: "Popins-semb", sans-serif;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin: 0 0 10px 0;
  text-align: center;
}
.casino-online__tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FCEDF0;
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 5px;
  margin: 0 0 20px 0;
}
.casino-online__tabs-btn {
  width: calc(50% - 2.5px);
  display: inline-block;
  padding: 7px 15px 5px;
  color: black;
  font-size: 13px;
  border-radius: 8px;
  line-height: 22px;
  background: transparent;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.casino-online__tabs-btn:first-child {
  margin: 0 5px 0 0;
}
.casino-online__tabs-btn:hover {
  background: #E1712D;
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);
}
.casino-online__tabs-btn-one._active, .casino-online__tabs-btn-two._active {
  background: #E1712D;
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);
}
.casino-online__list-one._hidden {
  display: none;
}
.casino-online__list-two._hidden {
  display: none;
}
.casino-online__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 315px;
}
.casino-online__item:not(:last-child) {
  margin: 0 0 15px 0;
}
.casino-online__item-btn {
  margin-top: 25px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.casino-online__item-image {
  min-width: 100px;
  max-width: 100px;
  margin: 0 15px 0 0;
}
.casino-online__item-image img {
  width: 100px;
  height: 46px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}
.casino-online__item-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.casino-online__item-title {
  font-family: "Popins-reg", sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.004em;
  color: #FFFFFF;
}
.casino-online__item-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.casino-online__item-reviews-img {
  display: inline-block;
  margin: 0 5px 0 0;
}
.casino-online__item-reviews-grade {
  font-family: "Popins-reg", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #808080;
}
.casino-online__item-link {
  display: inline-block;
  padding: 7px 26px 5px;
  font-family: "Popins-reg", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .casino-online {
    width: 80%;
    margin: 0 auto;
  }
  .casino-online__item {
    width: 100%;
  }
  .casino-online__all-link {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .casino-online {
    width: 100%;
  }
  .casino-online__wrap {
    width: 100%;
    padding: 20px 15px;
    border-radius: 0;
  }
  .casino-online__title {
    font-size: 20px;
    line-height: 48px;
  }
}
.faq {
  padding: 55px 0;
  background: #FFFFFF url("../img/general-block-image/bg-faq-desc.webp") no-repeat 50% 0;
  background-size: 100%;
}
.faq__title {
  text-align: center;
  color: #111111;
  margin: 0 0 25px 0;
}

.accordion__item:not(:last-child) {
  margin: 0 0 10px 0;
}

.accordion__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Popins-semb", sans-serif;
  padding: 12px 25px 10px 25px;
  border-radius: 8px;
  background: #FCEDF0;
  font-size: 20px;
  line-height: 48px;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.accordion__header::after {
  display: inline-block;
  margin: 0 0 0 25px;
  width: 38px;
  height: 38px;
  min-width: 38px;
  min-height: 38px;
  border-radius: 8px;
  background: #691A2E url("../img/general-block-image/polygon-faq.svg") no-repeat center;
  background-size: 11px 7px;
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);
  content: "";
}

.accordion__item_slidedown .accordion__header,
.accordion__item_show .accordion__header {
  border: none;
}

.accordion__header:hover {
  background-color: #dec2c8;
}

.accordion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 25px 15px 25px;
  background: transparent;
}
.accordion__content p {
  font-size: 15px;
  line-height: 30px;
  color: #111111;
}
.accordion__content p:not(:last-child) {
  margin: 0 0 20px 0;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

@media screen and (max-width: 600px) {
  .faq {
    padding: 50px 0 30px 0;
    background: #FFFFFF;
  }
  .faq__container {
    padding: 0;
  }
  .faq__title {
    margin: 0 0 20px 0;
    padding: 0 15px;
  }
  .accordion__header {
    border-radius: 0;
    padding: 19px 14px 17px;
    font-size: 14px;
    line-height: 21px;
  }
  .accordion__content {
    padding: 15px 15px 10px 15px;
  }
  .accordion__content p {
    font-size: 12px;
    line-height: 26px;
  }
  .accordion__content p:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.subscribe {
  padding: 70px 0 90px 0;
  background: #691A2E url("../img/general-block-image/subscribe/bg-sub-desc.webp") no-repeat 50% 0/cover;
}
.subscribe__row {
  max-width: 580px;
}
.subscribe__title {
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
.subscribe__text {
  font-size: 15px;
  line-height: 22px;
  color: #808080;
  margin: 0 0 30px 0;
}
.subscribe__form {
  margin: 0 0 5px 0;
}
.subscribe__form-wrap {
  max-width: 460px;
  position: relative;
}
.subscribe__email {
  width: 100%;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 10px 19px 8px;
  font-family: "Popins-reg", sans-serif;
  font-size: 15px;
  line-height: 30px;
}
.subscribe__email::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 30px;
  color: #111111;
}
.subscribe__email::-moz-placeholder {
  font-size: 15px;
  line-height: 30px;
  color: #111111;
}
.subscribe__email:-ms-input-placeholder {
  font-size: 15px;
  line-height: 30px;
  color: #111111;
}
.subscribe__email::-ms-input-placeholder {
  font-size: 15px;
  line-height: 30px;
  color: #111111;
}
.subscribe__email::placeholder {
  font-size: 15px;
  line-height: 30px;
  color: #111111;
}
.subscribe__submit {
  padding: 12px 25px 10px;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.subscribe__info {
  max-width: 490px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 17px;
}
.subscribe__info-link {
  font-family: "Popins-semb", sans-serif;
  color: #FFFFFF;
  white-space: nowrap;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .subscribe {
    padding: 50px 0 200px 0;
    background: #4a101d url("../img/general-block-image/subscribe/bg-sub-mob.webp") no-repeat 50% 100%/100%;
  }
  .subscribe__title {
    text-align: center;
    margin: 0 0 10px 0;
  }
  .subscribe__text {
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 20px 0;
  }
  .subscribe__form-wrap {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .subscribe__email {
    margin: 0 0 15px 0;
    display: inline-block;
  }
  .subscribe__submit {
    display: inline-block;
    position: static;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .subscribe__info {
    text-align: center;
  }
}
.footer {
  padding: 50px 0 30px 0;
  background: #111111;
}
.footer__subtext {
  margin: 0 0 60px 0;
}
.footer__subtext p {
  color: #FFFFFF;
  font-size: 15px;
  line-height: 20px;
}
.footer__subtext p:not(:last-child) {
  margin: 0 0 20px 0;
}
.footer__link {
  display: inline-block;
  max-width: 240px;
  margin: 0 0 45px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 60px 0;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin: 0 60px 0 0;
}
.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 270px;
}
.footer__item:not(:last-child) {
  margin: 0 60px 0 0;
}
.footer__item-title {
  font-family: "Popins-semb", sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.04em;
  margin: 0 0 20px 0;
}
.footer__item-link {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  color: #C1C1D4;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__item-link:hover {
  color: #FFFFFF;
}
.footer__item-link:not(:last-child) {
  margin: 0 0 20px 0;
}
.footer__wrap-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  gap: 10px 15px;
  margin: 0 0 20px 0;
}
.footer__social-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__social-mail-text {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 22px;
  margin: 0 0 8px 0;
}
.footer__social-mail-link {
  color: #C1C1D4;
  font-size: 15px;
  line-height: 20px;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__social-mail-link:hover {
  text-decoration: underline;
  color: #FFFFFF;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  height: 42px;
  border-radius: 8px;
}
.footer__social-item svg {
  max-width: 100%;
  max-height: 100%;
  fill: #FFFFFF;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 30px 0 0;
}
.footer__sponsor-item {
  display: inline-block;
}
.footer__sponsor-item:not(:last-child) {
  margin: 0 25px 0 0;
}
.footer__text {
  color: #808080;
  font-size: 13px;
  line-height: 20px;
}
.footer__text-link {
  white-space: nowrap;
  color: #FFFFFF;
  text-decoration: underline;
}
.footer__cookie {
  position: fixed;
  width: 80%;
  padding: 20px 40px;
  background: linear-gradient(252.32deg, #8A2336 0%, #631728 28.99%, #340918 100%);
  z-index: 10;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__cookie._hidden {
  display: none;
  visibility: hidden;
}
.footer__cookie-img {
  min-width: 40px;
  max-width: 41px;
  margin: 0 15px 0 0;
}
.footer__cookie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.footer__cookie-text {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 20px 0 0;
}
.footer__cookie-btn {
  display: inline-block;
  padding: 12px 25px 10px;
  white-space: nowrap;
}
.footer__btn-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.footer__btn-top._hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 1600px) {
  .footer__cookie {
    width: 70%;
  }
}
@media screen and (max-width: 1170px) {
  .footer__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin: 0 30px 0 0;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer__sponsor {
    margin: 0 0 25px 0;
  }
  .footer__item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 750px) {
  .footer__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    gap: 30px;
  }
  .footer__cookie {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }
  .footer__subtext {
    margin: 0 0 40px 0;
  }
  .footer__subtext p {
    font-size: 13px;
    line-height: 15px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin: 0 0 40px 0;
  }
  .footer__row {
    margin: 0 0 40px 0;
    -ms-grid-columns: calc(50% - 15px) calc(50% - 15px);
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 30px 15px;
  }
  .footer__item {
    max-width: 100%;
  }
  .footer__social {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .footer__sponsor {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 0 15px 0;
  }
  .footer__sponsor-item:not(:last-child) {
    margin: 0 15px 0 0;
  }
  .footer__text {
    font-size: 11px;
    line-height: 16px;
  }
  .footer__cookie {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 20px 15px;
    bottom: 10px;
    width: 98%;
  }
  .footer__cookie-text {
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 10px 0;
  }
  .footer__cookie-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer__btn-top {
    z-index: 10;
    bottom: 29px;
    right: 20px;
    width: 45px;
    height: 43px;
  }
}
/*# sourceMappingURL=main13.css.map */