/* stylelint-disable */
.pageTitle {
  font-family: "Popins-semibold", sans-serif;
  font-size: 54px;
  line-height: 114%;
  background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionTitle {
  font-family: "Popins-semibold", sans-serif;
  font-size: 40px;
  line-height: 130%;
  background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionText {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1279px) {
  .pageTitle {
    font-size: 49px;
  }
  .sectionTitle {
    font-size: 36px;
  }
  .sectionText {
    font-size: 15px;
  }
}
@media screen and (max-width: 1080px) {
  .pageTitle {
    font-size: 43px;
  }
  .sectionTitle {
    font-size: 32px;
  }
  .sectionText {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  .pageTitle {
    font-size: 37px;
  }
  .sectionTitle {
    font-size: 28px;
  }
  .sectionText {
    font-size: 13px;
  }
}
@media screen and (max-width: 375px) {
  .pageTitle {
    font-size: 32px;
  }
  .sectionTitle {
    font-size: 24px;
  }
  .sectionText {
    font-size: 12px;
  }
}
.hero {
  background: #130d2c url("../img/new-page/hero-bg-desk.png") no-repeat 50% 0/cover;
  padding-top: 135px;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 377px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 13, 44, 0)), to(#130d2c));
  background: linear-gradient(180deg, rgba(19, 13, 44, 0) 0%, #130d2c 100%);
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 35px;
  position: relative;
  padding-bottom: 60px;
}
.hero__info {
  width: 100%;
  max-width: 584px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero__back-btn {
  z-index: 2;
  position: absolute;
  color: #e5053d;
  font-family: "Popins-bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.hero__back-btn::before {
  content: "";
  display: block;
  height: 18px;
  width: 27px;
  background-color: #e5053d;
  -webkit-mask: url("../img/new-app-page/hero/triple-arrow.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../img/new-app-page/hero/triple-arrow.svg") no-repeat center;
  mask: url("../img/new-app-page/hero/triple-arrow.svg") no-repeat center;
  mask-size: contain;
  margin: 0 0 0 8px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.hero__back-btn:hover {
  color: #b4012e;
}
.hero__back-btn:hover::before {
  background-color: #b4012e;
}
.hero__title {
  margin-bottom: 30px;
  max-width: 584px;
}
.hero__sub-title {
  max-width: 552px;
  color: rgba(255, 255, 255, 0.8);
}
.hero__note {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 850px;
  border-radius: 12px;
  border: 1px solid rgba(225, 32, 193, 0.4);
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.084)), to(rgba(217, 217, 217, 0.042)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  z-index: 1;
}
.hero__note span {
  color: #e853cf;
}
.hero__ico {
  width: 32px;
  height: 32px;
}
.hero__text {
  color: #fff;
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.hero .plane {
  position: relative;
  width: 100%;
  min-height: 511px;
  background: url("../img/new-strategies-page/hero/union.png") no-repeat 0 0/contain;
}
.hero .plane__x {
  color: white;
  background: none;
  -webkit-text-fill-color: white;
  border-radius: 10px;
  border: 1px solid rgba(157, 155, 155, 0.3);
  background: lightgray 0% 0%/100px 100px repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.08)), to(rgba(217, 217, 217, 0.04)));
  background: lightgray 0% 0%/100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 0 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 2;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.hero .plane__x--1 {
  left: 55px;
  top: 95px;
}
.hero .plane__x--2 {
  top: 0;
  left: 50%;
}
.hero .plane__x--3 {
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  right: 23px;
  top: 116px;
}
.hero .plane__x--4 {
  bottom: 40px;
  right: 180px;
}

@media (max-width: 1330px) {
  .hero__container {
    gap: 20px;
  }
}
@media (max-width: 1220px) {
  .hero .plane {
    min-height: 480px;
  }
}
@media (max-width: 1080px) {
  .hero .plane {
    min-height: 440px;
  }
  .hero .plane__x {
    height: auto;
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .hero .plane {
    min-height: 410px;
  }
  .hero .plane__x {
    padding: 10px 15px;
  }
}
@media (max-width: 970px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .hero__back-btn {
    top: 0px;
  }
  .hero .plane {
    background-position-x: 50%;
    max-width: 662px;
    margin: 20px auto 0;
  }
  .hero__info {
    margin: 0 auto 30px;
  }
  .hero__note {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 560px) {
  .hero {
    padding-top: 80px;
    padding-bottom: 0px;
  }
  .hero__container {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 550px) {
  .hero__title {
    margin-bottom: 20px;
  }
  .hero__back-btn {
    font-size: 14px;
    gap: 8px;
  }
  .hero__back-btn::before {
    width: 21px;
    height: 14px;
  }
  .hero__info {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 490px) {
  .hero__note {
    padding: 13px 18px;
    gap: 15px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero .plane {
    min-height: 390px;
  }
}
@media screen and (max-width: 450px) {
  .hero__note {
    padding: 10px;
  }
  .hero__ico {
    width: 28px;
    height: 28px;
  }
  .hero .plane {
    min-height: 350px;
  }
  .hero .plane__x--1 {
    left: 25px;
  }
  .hero .plane__x--2 {
    left: 40%;
  }
  .hero .plane__x--3 {
    right: 13px;
    top: 80px;
  }
  .hero .plane__x--4 {
    right: 20%;
  }
}
@media screen and (max-width: 420px) {
  .hero .sectionTitle {
    font-size: 23px;
  }
  .hero .plane {
    min-height: 310px;
  }
}
@media screen and (max-width: 380px) {
  .hero .sectionTitle {
    font-size: 22px;
  }
  .hero .plane {
    min-height: 280px;
  }
  .hero .plane__x {
    padding: 8px;
  }
}
@media screen and (max-width: 350px) {
  .hero__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero .plane {
    margin-top: 0;
    min-height: 255px;
  }
}
.the-most {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#130d2c), to(#100c23));
  background: linear-gradient(to bottom, #130d2c, #100c23);
}
.the-most__container {
  padding: 0 15px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
}
.the-most .column__top {
  position: relative;
  padding-top: 70px;
}
.the-most .column__top::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../img/new-strategies-page/the-most/bg.png") no-repeat 0 0/contain;
}
.the-most .column__title {
  margin-bottom: 20px;
}
.the-most .column__bottom {
  margin-top: 70px;
}
.the-most .bottom {
  border: 1px solid rgba(225, 32, 193, 0.4);
  border-radius: 12px;
  background: lightgray 0% 0%/100px 100px repeat, -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.08)), to(rgba(217, 217, 217, 0.04)));
  background: lightgray 0% 0%/100px 100px repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.the-most .bottom::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.2;
  background: #393737 0% 0%/100px 100px repeat;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.the-most .bottom::after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/new-strategies-page/the-most/corner.png") no-repeat 0 0/cover;
}
.the-most .bottom__title {
  margin-bottom: 12px;
  color: #fff;
  font-family: "Popins-semibold", sans-serif;
  font-size: 22px;
  line-height: 130%;
}
.the-most .bottom__text {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Popins-regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.the-most .bottom__img {
  margin-top: 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #0f0c22;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
  padding: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  .the-most__container {
    gap: 20px;
  }
}
@media screen and (max-width: 970px) {
  .the-most__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .the-most .column {
    max-width: 662px;
    margin: 0 auto;
  }
  .the-most .column__bottom {
    margin-top: 40px;
  }
}
@media screen and (max-width: 560px) {
  .the-most .column__top {
    padding-top: 40px;
  }
  .the-most .bottom::after {
    width: 43px;
    height: 43px;
  }
}
.footer {
  padding: 50px 0 45px 0;
  background: #100C23;
}
.footer__container {
  position: relative;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .footer__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 30px;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
@media screen and (max-width: 1024px) {
  .footer__menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 700px) {
  .footer__menu {
    gap: 30px;
  }
}
.footer__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.footer__menu-title {
  text-transform: uppercase;
  color: #7e8087;
  font-family: "Popins-semibold", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}
.footer__menu-link {
  font-family: "Popins-semibold", sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
}
.footer__menu-link:hover {
  color: #ff3a6c;
}
.footer__logo {
  width: 176px;
  height: 60px;
  margin-bottom: 26px;
}
.footer__button {
  margin-bottom: 34px;
  width: 260px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Popins-bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__button img {
  margin-top: 2px;
}
@media screen and (max-width: 1024px) {
  .footer__button {
    margin-bottom: 0;
    margin-left: auto;
  }
}
.footer__button:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .footer__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__social-item {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e32cc4;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(227, 44, 196, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(227, 44, 196, 0.48);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__social-item:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #ae1494;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__info-logo {
  width: 44px;
  height: 44px;
}
.footer__info-text {
  font-family: "Popins-regular", sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__btn-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68px;
  height: 68px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  border-radius: 12px;
  z-index: 99;
}
.footer__btn-top:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.footer__btn-top span {
  display: inline-block;
  width: 24px;
  height: 34px;
  margin-left: 2px;
  background-color: #fff;
  -webkit-mask: url("../img/new-page/play-btn.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../img/new-page/play-btn.svg") no-repeat center;
  mask: url("../img/new-page/play-btn.svg") no-repeat center;
  mask-size: contain;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.footer__btn-top._hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .footer__btn-top {
    z-index: 10;
    bottom: 29px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  .footer__btn-top span {
    width: 23px;
    height: 30px;
  }
}
@media screen and (max-width: 560px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .footer__logo {
    width: 94px;
    height: 32px;
    margin-bottom: 0;
  }
  .footer__button {
    height: 34px;
    font-size: 14px;
    gap: 14px;
    width: 155px;
  }
  .footer__button-arrow {
    height: 15px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
  .footer__menu-title {
    color: white;
    font-size: 14px;
    padding-block: 12px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .footer__menu-title::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask-size: contain;
    margin: 0 0 0 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__menu-title:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #e82052;
  }
  .footer__menu-title:hover::after {
    background-color: #e82052;
  }
  .footer__menu-item {
    position: relative;
    gap: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgba(227, 44, 196, 0)), to(#e32cc4));
    background: linear-gradient(270deg, rgba(227, 44, 196, 0) 0%, #e32cc4 100%);
    z-index: 1;
  }
  .footer__menu-item:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgba(227, 44, 196, 0)), to(#e32cc4));
    background: linear-gradient(270deg, rgba(227, 44, 196, 0) 0%, #e32cc4 100%);
    z-index: 1;
  }
  .footer__menu-link {
    height: 0;
    opacity: 0;
    padding-left: 20px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .footer__menu-link--active {
    overflow: auto;
    height: 30px;
    opacity: 1;
  }
  .footer__menu-link--active::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 9px;
    background-color: #e82052;
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask-size: contain;
    margin: 0 0 0 4px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 14px;
  }
  .footer__menu-link--active:last-child {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=new-strategies-page.css.map */