/* stylelint-disable */
.footer {
  padding: 50px 0 45px 0;
  background: #100C23;
}
.footer__container {
  position: relative;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.footer__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.footer__menu-title {
  text-transform: uppercase;
  color: #7e8087;
  font-family: "Popins-semb", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}
.footer__menu-link {
  font-family: "Popins-semb", sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
}
.footer__menu-link:hover {
  color: #ff3a6c;
}
.footer__logo {
  width: 176px;
  height: 60px;
  margin-bottom: 26px;
}
.footer__btn-top {
  position: absolute;
  right: 15px;
  top: -84px;
  width: 68px;
  height: 68px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__btn-top-arrow {
  height: 33px;
}
.footer__btn-top:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.footer__button {
  margin-bottom: 34px;
  width: 260px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Popins-bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__button:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
.footer__social-item {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e32cc4;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(227, 44, 196, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(227, 44, 196, 0.48);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__social-item:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #ae1494;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__info-logo {
  width: 44px;
  height: 44px;
}
.footer__info-text {
  font-family: "Popins-reg", sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=new-main2.css.map */