/* stylelint-disable */
.hero {
  background: #130d2c url("../img/new-page/hero-bg-desk.png") no-repeat 50% 0/cover;
  padding-top: 134px;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 350px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 13, 44, 0)), to(#130d2c));
  background: linear-gradient(180deg, rgba(19, 13, 44, 0) 0%, #130d2c 100%);
}
@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 130px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.hero__left {
  max-width: 600px;
}
.hero__back-btn {
  margin-bottom: 40px;
}
.hero__title {
  margin-bottom: 30px;
  font-family: "Popins-semibold", sans-serif;
  line-height: 114%;
  font-size: 54px;
  background: linear-gradient(204deg, #fff 72%, #e6466e 82%, #e548ca 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text {
  margin-bottom: 26px;
  font-family: "Popins-regular", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 150%;
  max-width: 555px;
}
.hero__sub-text {
  color: rgba(255, 255, 255, 0.2);
  font-family: "Popins-regular", sans-serif;
  font-size: 12px;
  line-height: 150%;
  max-width: 555px;
}
.hero__right {
  width: 50%;
}

.back-btn {
  color: #E82052;
  text-transform: uppercase;
  font-family: "Popins-bold", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.back-btn::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 18px;
  background-color: #E82052;
  -webkit-mask: url("../img/new-page/play-btn.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../img/new-page/play-btn.svg") no-repeat center;
  mask: url("../img/new-page/play-btn.svg") no-repeat center;
  mask-size: contain;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.back-btn:hover {
  color: #ff3a6c;
}
.back-btn:hover::before {
  background-color: #ff3a6c;
}

.right {
  position: relative;
  max-width: 560px;
  padding: 30px 40px 40px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: brightness(120%) blur(25px);
  backdrop-filter: brightness(120%) blur(25px);
  overflow: hidden;
}
.right::before {
  content: "";
  position: absolute;
  top: -21px;
  left: -21px;
  width: 143px;
  height: 144px;
  border-radius: 12px;
  background: #ff267e;
  -webkit-filter: blur(60px);
  filter: blur(60px);
}
.right::after {
  content: "";
  position: absolute;
  bottom: -21px;
  right: -21px;
  width: 143px;
  height: 144px;
  border-radius: 12px;
  background: #ff267e;
  -webkit-filter: blur(60px);
  filter: blur(60px);
}
.right__header {
  position: relative;
}
.right__title {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Popins-semibold", sans-serif;
  font-size: 24px;
  line-height: 150%;
}
.right__logo {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
}
.right__list {
  margin-bottom: 26px;
}
.right__item {
  position: relative;
  margin-bottom: 8px;
  color: #fff;
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.right__item::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/new-page/hero-check-icon.png") no-repeat 0 0/cover;
}
.bonus {
  position: relative;
  z-index: 1;
}
.bonus__text {
  padding: 20px 30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #0f0c22;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
  color: #fff;
  font-family: "Popins-semibold", sans-serif;
  font-size: 20px;
  line-height: 150%;
}
.bonus__btn {
  padding: 16px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px 2px 12px 12px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 2.732px 5.465px 0px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 2.732px 5.465px 0px rgba(255, 98, 65, 0.48);
  color: #fff;
  text-shadow: 0px 1.366px 0.683px rgba(0, 0, 0, 0.25);
  font-family: "Popins-bold", sans-serif;
  font-size: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.bonus__btn:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
@media screen and (max-width: 1080px) {
  .right__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .right__title {
    margin-bottom: 0;
  }
  .right__logo {
    position: static;
  }
}
@media screen and (max-width: 1024px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 30px;
  }
  .hero__right {
    width: 100%;
    margin: 45px auto 0;
  }
  .hero__left {
    margin: 0 auto;
  }
  .hero__title {
    font-size: 49px;
  }
  .back-btn {
    position: absolute;
    top: 0;
    font-size: 14px;
    gap: 8px;
    margin-bottom: 0;
    letter-spacing: 0.28px;
  }
  .back-btn::before {
    width: 14px;
    height: 21px;
  }
}
@media screen and (max-width: 560px) {
  .hero {
    padding-top: 89px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 120%;
    background: linear-gradient(204deg, #fff 47%, #e6466e 79%, #e548ca 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero__container {
    padding-bottom: 40px;
  }
  .right {
    padding: 20px;
  }
  .right__title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 130%;
  }
  .right__text {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .right__sub-text {
    font-size: 10px;
  }
  .right__logo {
    width: 80px;
    height: 80px;
  }
  .right__header {
    margin-bottom: 20px;
  }
  .right__item {
    gap: 8px;
    font-size: 14px;
    margin-bottom: 12px;
  }
  .right__item::before {
    width: 20px;
    height: 20px;
  }
  .bonus__text {
    font-size: 16px;
    line-height: 130%;
    padding: 20px;
  }
  .bonus__btn {
    padding: 16px 20px;
  }
}
.info {
  background: #130d2c;
  color: white;
}
.info__container {
  padding-bottom: 30px;
}
.info__title {
  font-family: "Popins-semibold", sans-serif;
  font-size: 40px;
  line-height: 130%;
  background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info__text {
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.info .swiper {
  padding-top: 0;
  padding-bottom: 20px;
}
.info .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 14px;
}
.info .swiper-slide {
  max-width: 288px;
  height: 96px;
  padding: 20px 24px;
  border-radius: 10px;
  border: 1px solid rgba(225, 32, 193, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.08)), to(rgba(217, 217, 217, 0.04)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.info .swiper-button-prev {
  display: none;
}
.info .swiper-button-next {
  display: none;
}
.info .slide__header {
  margin-bottom: 8px;
}
.info .slide__ico {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
.info .slide__title {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.info .slide__text {
  color: #fff;
  font-family: "Popins-semibold", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

@media screen and (max-width: 620px) {
  .info .swiper-wrapper {
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    gap: 0;
    padding-bottom: 20px;
  }
  .info .swiper-slide {
    width: auto;
    max-width: none;
    height: auto;
    width: 288px;
  }
  .info .swiper-pagination-bullet {
    background-color: #e5053d;
    width: 12px;
    height: 12px;
  }
}
.how-get {
  background-color: #100c23;
}
.how-get__container {
  padding: 100px 15px;
}
.how-get__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 90px;
  gap: 100px;
}
.how-get__item:last-child {
  margin-bottom: 0;
}

.item__logo {
  width: 50%;
  max-width: 558px;
  position: relative;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.item__image {
  width: 558px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid rgba(211, 211, 211, 0.231372549);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.08)), to(rgba(217, 217, 217, 0.04)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(217, 217, 217, 0.04) 100%);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.item__description {
  position: absolute;
  border: 1px solid rgba(225, 32, 193, 0.4);
  bottom: -40px;
  max-width: 487px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  padding: 16px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#282538), to(rgba(217, 217, 217, 0.04)));
  background: linear-gradient(180deg, #282538 0%, rgba(217, 217, 217, 0.04) 100%);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
}
.item__ico {
  width: 32px;
  height: 32px;
}
.item__text {
  color: #fff;
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.item__details {
  width: 50%;
  max-width: 558px;
}
.item__title {
  margin-bottom: 20px;
  font-family: "Popins-semibold", sans-serif;
  font-size: 40px;
  line-height: 130%;
  background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.item__sub-text {
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.item__sub-text--1 {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
}
.item__sub-text--1.short {
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-clamp: 10;
  -webkit-line-clamp: 10;
}
.item__content--1 {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
}
.item__content--1.short {
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-clamp: 10;
  -webkit-line-clamp: 10;
}
.item__content--2 {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
}
.item__content--2.short {
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-clamp: 8;
  -webkit-line-clamp: 8;
}
.item__content--3 {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  overflow: hidden;
}
.item__content--3.short {
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  line-clamp: 8;
  -webkit-line-clamp: 8;
}
.item__link {
  display: none;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 0;
  left: 0;
  right: 0;
  color: #e5053d;
  text-align: center;
  font-family: "Popins-bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: transparent;
}
.item__link::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 13px;
  background-color: #e5053d;
  -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
  mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
  mask-size: contain;
  margin: 0 0 0 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.item__link:hover {
  color: #b4012e;
}
.item__link:hover::after {
  background-color: #b4012e;
}
.item__link.visible {
  display: block;
}
.item__link.less {
  position: relative;
  margin-top: 10px;
}
.item__link.less::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@media screen and (max-width: 1220px) {
  .how-get__item {
    gap: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .how-get__container {
    padding: 40px 15px;
  }
  .how-get__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .how-get__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .item__logo {
    width: 100%;
    margin: 0 auto;
  }
  .item__details {
    width: 100%;
    margin: 0 auto;
  }
  .item--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 560px) {
  .how-get__item:last-child {
    margin-bottom: 0;
  }
  .item {
    gap: 28px;
  }
  .item__title {
    margin-bottom: 14px;
    font-size: 24px;
  }
  .item__sub-text {
    margin-bottom: 14px;
    font-size: 12px;
  }
  .item__link {
    font-size: 14px;
  }
  .item__link::after {
    width: 14px;
    height: 10px;
  }
  .item__description {
    padding: 13px 18px;
    gap: 18px;
    bottom: 10px;
    -webkit-transform: translateX(-50%) translateY(100%);
    -ms-transform: translateX(-50%) translateY(100%);
    transform: translateX(-50%) translateY(100%);
  }
  .item__ico {
    width: 28px;
    height: 28px;
  }
  .item__text {
    font-size: 12px;
  }
}
.casinos {
  color: #E82052;
  background-color: #130d2c;
}
.casinos__container {
  padding: 100px 15px;
  position: relative;
}
.casinos__title {
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Popins-semibold", sans-serif;
  font-size: 40px;
  line-height: 130%;
  background: var(--1, linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.casinos__description {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Popins-regular", sans-serif;
  font-size: 16px;
  line-height: 150%;
}
.casinos__header {
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.casinos__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.casinos__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.casinos__button {
  width: 54px;
  height: 54px;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.casinos__button img {
  width: 19px;
  height: 26px;
}
.casinos__button--prew img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.casinos__button--next img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.casinos__button:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.casinos__button:disabled,
.casinos__button button[disabled] {
  cursor: no-drop;
  opacity: 0.5;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.casinos .casino {
  border-radius: 12px;
  border: 1px solid rgba(225, 32, 193, 0.4);
  -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 24px;
}
.casinos .casino__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.casinos .casino__title {
  color: #fff;
  font-family: "Popins-medium", sans-serif;
  font-size: 24px;
  line-height: 150%;
}
.casinos .casino__sub-title {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Popins-regular", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.casinos .casino__logo {
  min-width: 98px;
  height: 98px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff267e), to(#af1554));
  background: linear-gradient(180deg, #ff267e 0%, #af1554 100%);
}
.casinos .casino__bonus {
  padding: 19px 30px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #0f0c22;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
  color: #fff;
  font-family: "Popins-semibold", sans-serif;
  font-size: 14px;
  line-height: 150%;
}
.casinos .swiper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 54px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(19, 13, 44, 0)), to(#130d2c));
  background: linear-gradient(90deg, rgba(19, 13, 44, 0) 0%, #130d2c 100%);
}
.casinos .swiper-pagination {
  display: none;
}

@media screen and (max-width: 1150px) {
  .casinos__container {
    padding: 40px 0;
  }
  .casinos__header {
    margin-bottom: 24px;
    padding: 0 14px;
  }
  .casinos__title {
    margin-bottom: 14px;
    text-align: center;
    font-size: 24px;
  }
  .casinos__description {
    font-size: 12px;
  }
  .casinos .swiper {
    padding: 0 0 40px;
  }
  .casinos .swiper-slide {
    min-width: none;
    height: 288px;
    border-radius: 12px;
    border: 1px solid rgba(225, 32, 193, 0.4);
    -webkit-box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .casinos .swiper-pagination-bullet {
    width: 0;
    height: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 750px) {
  .casinos .swiper::after {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .casinos__title {
    width: 100%;
  }
  .casinos__description {
    text-align: center;
  }
  .casinos__buttons {
    display: none;
  }
  .casinos .swiper-pagination {
    display: block;
  }
  .casinos .swiper-pagination-bullet {
    background-color: #e5053d;
    width: 12px;
    height: 12px;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .casinos .swiper-pagination-bullet:hover {
    opacity: 0.8;
  }
}
.footer {
  padding: 50px 0 45px 0;
  background: #100C23;
}
.footer__container {
  position: relative;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .footer__left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 30px;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
@media screen and (max-width: 1024px) {
  .footer__menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 700px) {
  .footer__menu {
    gap: 30px;
  }
}
.footer__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.footer__menu-title {
  text-transform: uppercase;
  color: #7e8087;
  font-family: "Popins-semibold", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
}
.footer__menu-link {
  font-family: "Popins-semibold", sans-serif;
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
}
.footer__menu-link:hover {
  color: #ff3a6c;
}
.footer__logo {
  width: 176px;
  height: 60px;
  margin-bottom: 26px;
}
.footer__button {
  margin-bottom: 34px;
  width: 260px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Popins-bold", sans-serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__button img {
  margin-top: 2px;
}
@media screen and (max-width: 1024px) {
  .footer__button {
    margin-bottom: 0;
    margin-left: auto;
  }
}
.footer__button:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .footer__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.footer__social-item {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e32cc4;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(227, 44, 196, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(227, 44, 196, 0.48);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer__social-item:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #ae1494;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__info-logo {
  width: 44px;
  height: 44px;
}
.footer__info-text {
  font-family: "Popins-regular", sans-serif;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.5);
}
.footer__btn-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68px;
  height: 68px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #e5053d;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  box-shadow: 0px 4px 8px -2px rgba(255, 98, 65, 0.48);
  border-radius: 12px;
  z-index: 99;
}
.footer__btn-top:hover {
  background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%), #b4012e;
}
.footer__btn-top span {
  display: inline-block;
  width: 24px;
  height: 34px;
  margin-left: 2px;
  background-color: #fff;
  -webkit-mask: url("../img/new-page/play-btn.svg") no-repeat center;
  -webkit-mask-size: contain;
  -webkit-mask: url("../img/new-page/play-btn.svg") no-repeat center;
  mask: url("../img/new-page/play-btn.svg") no-repeat center;
  mask-size: contain;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.footer__btn-top._hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  .footer__btn-top {
    z-index: 10;
    bottom: 29px;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  .footer__btn-top span {
    width: 23px;
    height: 30px;
  }
}
@media screen and (max-width: 560px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .footer__logo {
    width: 94px;
    height: 32px;
    margin-bottom: 0;
  }
  .footer__button {
    height: 34px;
    font-size: 14px;
    gap: 14px;
    width: 155px;
  }
  .footer__button-arrow {
    height: 15px;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
  .footer__menu-title {
    color: white;
    font-size: 14px;
    padding-block: 12px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .footer__menu-title::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask-size: contain;
    margin: 0 0 0 4px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__menu-title:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #e82052;
  }
  .footer__menu-title:hover::after {
    background-color: #e82052;
  }
  .footer__menu-item {
    position: relative;
    gap: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .footer__menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgba(227, 44, 196, 0)), to(#e32cc4));
    background: linear-gradient(270deg, rgba(227, 44, 196, 0) 0%, #e32cc4 100%);
    z-index: 1;
  }
  .footer__menu-item:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: -webkit-gradient(linear, right top, left top, from(rgba(227, 44, 196, 0)), to(#e32cc4));
    background: linear-gradient(270deg, rgba(227, 44, 196, 0) 0%, #e32cc4 100%);
    z-index: 1;
  }
  .footer__menu-link {
    height: 0;
    opacity: 0;
    padding-left: 20px;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .footer__menu-link--active {
    overflow: auto;
    height: 30px;
    opacity: 1;
  }
  .footer__menu-link--active::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 9px;
    background-color: #e82052;
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    -webkit-mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask: url("../img/new-page/header-menu-arrow.svg") no-repeat center;
    mask-size: contain;
    margin: 0 0 0 4px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-left: 14px;
  }
  .footer__menu-link--active:last-child {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=new-main2.css.map */