.top{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: $white;
  border-radius: 8px;
  box-shadow: $shadow-text-3;
  &__all-link{
    display: inline-block;
    font-family: $font-popins-semb;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    align-self: center;
    text-align: center;
    padding: 19px 85px 17px;
  }


  h2{
    font-family: $font-popins-semb;
    font-size: 25px;
    line-height: 32px;
    color: $black;
    margin: 0 0 20px 0;
  }


  &__list{
    display: grid;
    grid-template-columns: calc(50% - 12px) calc(50% - 12px);
    gap: 24px;
    margin: 0 0 30px 0;
  }

  &__item{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid $black;

    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      margin: 0 0 15px 0;
      img{
        width: 100%;
        border-radius: 8px;
        height: 170px;
        object-fit: cover;
      }
    }

    &-licensed{
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      color: $purple;
      margin: 0 0 5px 0;
      span{
        display: inline-block;
        &:not(:last-child){
          margin: 0 8px 0 0;
        }
      }
    }

    p{
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $black;
      margin: 0 0 5px 0;
    }

    time{
      font-size: 15px;
      line-height: 22px;
      color: $black;
    }
  }


}

@media screen and (max-width: 1024px) {
  .top{
    padding: 20px 15px 30px;
    &__item{
      &-image{
        img{
          min-width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .top{
    &__all-link{
      width: calc(100% - 30px);

    }

    h2{
      font-size: 20px;
      line-height: 30px;
      margin: 0 0 10px 0;
    }
    &__list{
      grid-template-columns: 100%;
      gap: 20px;
    }
  }
}

