<section class="author">
    <div class="author__container">
        <div class="author__row">
            <div class="author__image">
                <picture>
                    <source srcset="img/page14/author-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page14/author-img.jpg" width="80" height="80" alt="image-casino">
                </picture>
            </div>
            <div class="author__info">
                <h2 class="author__info-title title">Ethan Druit</h2>
                <div class="author__info-licensed">Casino Review and writer</div>
                <div class="author__info-text">Please pay attention to gaming platforms that provide a range of benefits for their customers.
                    Mostly, they are generous with welcome bonuses, promotional deals, free spins, and loyalty programs.

                </div>
                <a href="https://ezcasino.in/author/" class="author__info-btn">Author Page</a>
                <div class="author__social-wrap">
                    <div class="author__social-text">Social network of the author:</div>
                    <div class="author__social">
                        <a href="#" class="author__social-item burgundy-btn" aria-label="link-instagram">
                            <svg width="18px">
                                <use xlink:href="img/sprite.svg#insta"></use>
                            </svg>
                        </a>
                        <a href="#" class="author__social-item burgundy-btn" aria-label="link-facebook">
                            <svg width="10px">
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                        <a href="#" class="author__social-item burgundy-btn" aria-label="link-twitter">
                            <svg width="19.5px">
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                        <a href="#" class="author__social-item burgundy-btn" aria-label="link-telegram">
                            <svg width="20px">
                                <use xlink:href="img/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>