<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__left">
        <a href="#" class="footer__link" aria-label="logo-link">
          <img class="footer__logo" src="img/new-page/logo.png" alt="logo" width="176" height="60" />
        </a>
        <button type="button" class="footer__btn-top" aria-label="button-top">
          <img class="footer__btn-top-arrow" src="img/new-page/up-btn.svg" alt="go to top btn" />
        </button>
        <a class="footer__button" href="#">
          Play online
          <img class="footer__button-arrow" src="img/new-page/play-btn.svg" alt="play btn arrow" />
        </a>
      </div>
      <div class="footer__menu">
        <div class="footer__menu-item">
          <p class="footer__menu-title">Company</p>
          <a class="footer__menu-link" href="#">About Us</a>
          <a class="footer__menu-link" href="#">Partnerships</a>
          <a class="footer__menu-link" href="#">Branding</a>
          <a class="footer__menu-link" href="#">FAQ</a>
        </div>
        <div class="footer__menu-item">
          <p class="footer__menu-title">SOCIALS</p>
          <a class="footer__menu-link" href="#">Facebook</a>
          <a class="footer__menu-link" href="#">Instagram</a>
          <a class="footer__menu-link" href="#">TikTok</a>
          <a class="footer__menu-link" href="#">Our Discord</a>
        </div>
        <div class="footer__menu-item">
          <p class="footer__menu-title">Company</p>
          <a class="footer__menu-link" href="#">About Us</a>
          <a class="footer__menu-link" href="#">Partnerships</a>
          <a class="footer__menu-link" href="#">Branding</a>
          <a class="footer__menu-link" href="#">FAQ</a>
        </div>
        <div class="footer__menu-item">
          <p class="footer__menu-title">Company</p>
          <a class="footer__menu-link" href="#">About Us</a>
          <a class="footer__menu-link" href="#">Partnerships</a>
          <a class="footer__menu-link" href="#">Branding</a>
          <a class="footer__menu-link" href="#">FAQ</a>
        </div>
      </div>
    </div>
    <div class="footer__bootom">
      <div class="footer__social">
        <div class="footer__social-item">
          <img src="img/new-page/social-tw.svg" alt="social twitter" />
        </div>
        <div class="footer__social-item">
          <img src="img/new-page/social-fb.svg" alt="social fb" />
        </div>
        <div class="footer__social-item">
          <img src="img/new-page/social-inst.svg" alt="social instagram" />
        </div>
        <div class="footer__social-item">
          <img src="img/new-page/social-git.svg" alt="social git" />
        </div>
      </div>
      <div class="footer__info">
        <img class="footer__info-logo" src="img/new-page/foooter-18+.png" alt="footer 18+" />
        <p class="footer__info-text">
          Aviator-Game.in is an independent affiliate gambling portal and is not owned or operated by any casino or sports betting company.
          We operate independently as one of authorized partner. We do not provide any information for illegal purposes. It is only your
          responsibility to ensure that you are allowed to gamble according to the laws of your jurisdiction (gambling age, legal status,
          etc.). By visiting our website you agree to our Terms and Conditions and Privacy Policy. 18+
        </p>
      </div>
    </div>
    <!-- <div class="footer__wrapper">
      <ul class="footer__row">
        <li class="footer__item">
          <div class="footer__item-title">Online casino</div>
          <a href="#" class="footer__item-link">Make a bet</a>
          <a href="#" class="footer__item-link">Cosmolot</a>
          <a href="#" class="footer__item-link">Favbet</a>
          <a href="#" class="footer__item-link">Slots City</a>
        </li>
        <li class="footer__item">
          <div class="footer__item-title">Gaming machines</div>
          <a href="#" class="footer__item-link">Bananas go bahamas</a>
          <a href="#" class="footer__item-link">Crazy Monkey</a>
          <a href="#" class="footer__item-link">Fruit Cocktail</a>
          <a href="#" class="footer__item-link">Book of Ra</a>
        </li>
        <li class="footer__item">
          <div class="footer__item-title">Payment systems</div>
          <a href="#" class="footer__item-link">Visa</a>
          <a href="#" class="footer__item-link">Mastercard</a>
          <a href="#" class="footer__item-link">Qiwi</a>
          <a href="#" class="footer__item-link">Webmoney</a>
        </li>
        <li class="footer__item">
          <div class="footer__item-title">Providers</div>
          <a href="#" class="footer__item-link">Microgaming</a>
          <a href="#" class="footer__item-link">Novomatic</a>
          <a href="#" class="footer__item-link">Playtech</a>
          <a href="#" class="footer__item-link">Netent</a>
        </li>
      </ul>
      <div class="footer__wrap-info">
        <div class="footer__social">
          <a href="#" class="footer__social-item burgundy-btn" aria-label="link-instagram">
            <svg width="18px">
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-item burgundy-btn" aria-label="link-facebook">
            <svg width="10px">
              <use xlink:href="img/sprite.svg#facebook"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-item burgundy-btn" aria-label="link-linke">
            <svg width="19px">
              <use xlink:href="img/sprite.svg#linke"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-item burgundy-btn" aria-label="link-twitter">
            <svg width="19.5px">
              <use xlink:href="img/sprite.svg#twitter"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-item burgundy-btn" aria-label="link-telegram">
            <svg width="20px">
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
          <a href="#" class="footer__social-item burgundy-btn" aria-label="link-whats">
            <svg width="20px">
              <use xlink:href="img/sprite.svg#whats"></use>
            </svg>
          </a>
        </div>
        <div class="footer__social-mail">
          <div class="footer__social-mail-text">Send us an email at:</div>
          <a href="mailto:support@ezcasino.in" class="footer__social-mail-link">support@ezcasino.in</a>
        </div>
      </div>
    </div>
    <div class="footer__subtext">
      <p>
        Playing casino games is among the most exciting activities for many of us. Yet, finding the best platform is essential. At EzCasino,
        we provide detailed information on top casino platforms. Our comprehensive guides will discuss the most critical features of a
        casino to focus on. It augurs well with enjoying a good user experience, primarily when the accurate information is provided.
      </p>
      <p>
        Be that as it may, we are not responsible for users’ risks and money losses, even though we write quality reviews. Therefore, it is
        imperative to acquaint yourself with the terms and conditions of online casinos before you join one. A casino's terms and conditions
        page is the best place to know more about casino policies.
      </p>
    </div>
    <div class="footer__info">
      <div class="footer__sponsor">
        <a href="#" class="footer__sponsor-item" aria-label="sponsors">
          <img src="img/general-block-image/footer/sponsor.svg" alt="sponsor" width="43" height="18" />
        </a>
        <a href="#" class="footer__sponsor-item" aria-label="sponsors">
          <img src="img/general-block-image/footer/begamble.svg" alt="sponsor" width="43" height="18" />
        </a>
        <a href="#" class="footer__sponsor-item" aria-label="sponsors">
          <img src="img/general-block-image/footer/ecorga.svg" alt="sponsor" width="43" height="18" />
        </a>
        <a href="#" class="footer__sponsor-item" aria-label="sponsors">
          <img src="img/general-block-image/footer/itech.svg" alt="sponsor" width="43" height="18" />
        </a>
        <a href="#" class="footer__sponsor-item" aria-label="sponsors">
          <img src="img/general-block-image/footer/gli.svg" alt="sponsor" width="43" height="18" />
        </a>
        <a href="#" class="footer__sponsor-item" aria-label="sponsors">
          <img src="img/general-block-image/footer/dmc.svg" alt="sponsor" width="43" height="18" />
        </a>
      </div>
      <p class="footer__text">
        By providing contacts, you agree to the agree to the processing of <a href="#" class="footer__text-link"> personal data </a> and
        <a href="#" class="footer__text-link"> privacy policy </a>
      </p>
    </div> -->
  </div>
  <!--    <div class="footer__cookie">-->
  <!--        <div class="close-cookie">-->
  <!--            <span></span>-->
  <!--        </div>-->
  <!--        <div class="footer__cookie-img">-->
  <!--                <img loading="lazy" src="img/general-block-image/footer/cookie.webp" width="40"-->
  <!--                     height="40" alt="image-casino">-->
  <!--        </div>-->
  <!--        <div class="footer__cookie-info">-->
  <!--            <p class="footer__cookie-text">This site uses cookies to save data. By continuing to follow the site, you will be welcome to save cookies</p>-->
  <!--            <button type="button" aria-label="button-close" class="footer__cookie-btn orange-btn">Ok</button>-->
  <!--        </div>-->
  <!--    </div>-->
</footer>
