<footer class="footer">
  <div class="footer__container">
    <div class="footer__top">
      <div class="footer__left">
        <a href="#" class="footer__link" aria-label="logo-link">
          <img
            class="footer__logo"
            src="img/new-page/logo.png"
            alt="logo"
            width="176"
            height="60"
          />
        </a>
        <!-- <button type="button" class="footer__btn-top" aria-label="button-top">
          <img class="footer__btn-top-arrow footer__btn-top-arrow--desk" src="img/new-page/up-btn-desk.svg" alt="go to top btn" />
          <img class="footer__btn-top-arrow footer__btn-top-arrow--tab" src="img/new-page/up-btn-tab.svg" alt="go to top btn" />
        </button> -->

        <a class="footer__button" href="#">
          Play online
          <img class="footer__button-arrow" src="img/new-page/play-btn.svg" alt="play btn arrow" />
        </a>
      </div>
      <div class="footer__menu">
        <div class="footer__menu-item">
          <p class="footer__menu-title">Company</p>
          <a class="footer__menu-link" href="#">About Us</a>
          <a class="footer__menu-link" href="#">Partnerships</a>
          <a class="footer__menu-link" href="#">Branding</a>
          <a class="footer__menu-link" href="#">FAQ</a>
        </div>
        <div class="footer__menu-item">
          <p class="footer__menu-title">SOCIALS</p>
          <a class="footer__menu-link" href="#">Facebook</a>
          <a class="footer__menu-link" href="#">Instagram</a>
          <a class="footer__menu-link" href="#">TikTok</a>
          <a class="footer__menu-link" href="#">Our Discord</a>
        </div>
        <div class="footer__menu-item">
          <p class="footer__menu-title">Company</p>
          <a class="footer__menu-link" href="#">About Us</a>
          <a class="footer__menu-link" href="#">Partnerships</a>
          <a class="footer__menu-link" href="#">Branding</a>
          <a class="footer__menu-link" href="#">FAQ</a>
        </div>
        <div class="footer__menu-item">
          <p class="footer__menu-title">Company</p>
          <a class="footer__menu-link" href="#">About Us</a>
          <a class="footer__menu-link" href="#">Partnerships</a>
          <a class="footer__menu-link" href="#">Branding</a>
          <a class="footer__menu-link" href="#">FAQ</a>
        </div>
      </div>
    </div>
    <div class="footer__bootom">
      <div class="footer__social">
        <div class="footer__social-item">
          <img src="img/new-page/social-tw.svg" alt="social twitter" />
        </div>
        <div class="footer__social-item">
          <img src="img/new-page/social-fb.svg" alt="social fb" />
        </div>
        <div class="footer__social-item">
          <img src="img/new-page/social-inst.svg" alt="social instagram" />
        </div>
        <div class="footer__social-item">
          <img src="img/new-page/social-git.svg" alt="social git" />
        </div>
      </div>
      <div class="footer__info">
        <img class="footer__info-logo" src="img/new-page/foooter-18+.png" alt="footer 18+" />
        <p class="footer__info-text">
          Aviator-Game.in is an independent affiliate gambling portal and is not owned or operated
          by any casino or sports betting company. We operate independently as one of authorized
          partner. We do not provide any information for illegal purposes. It is only your
          responsibility to ensure that you are allowed to gamble according to the laws of your
          jurisdiction (gambling age, legal status, etc.). By visiting our website you agree to our
          Terms and Conditions and Privacy Policy. 18+
        </p>
      </div>
    </div>
  </div>
  <!-- <button type="button" class="footer__btn-top _hidden" aria-label="button-top">
    <span></span>
  </button> -->
</footer>
