<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__logo">
        <a href="new-home-page.html">
          <img src="img/new-page/logo.png" alt="logo" width="176" height="60" />
        </a>
      </div>
      <div class="header__menu">
        <nav class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="new-home-page.html">Where To Play</a>
            </li>

            <li class="menu-item menu-item--active">
              <a href="new-page1.html">Partners</a>
            </li>
            <li class="menu-item">
              <a href="new-home-page.html">Promo</a>
            </li>
            <li class="menu-item">
              <a href="new-home-page.html">Payments</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="new-home-page.html">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  </a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="new-home-page.html">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Космолот</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Космолот</a>
                      <ul class="sub-menu sub-menu-3">
                        <li class="menu-item">
                          <a href="new-home-page.html">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="new-home-page.html">Космолот</a>
                        </li>
                        <li class="menu-item">
                          <a href="new-home-page.html">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="new-home-page.html">Космолот</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="new-home-page.html">Команда</a>
                </li>
                <li class="menu-item">
                  <a href="new-home-page.html">Миссия</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="new-home-page.html">Цели</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Стратегия</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="new-home-page.html">Deposit</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="new-home-page.html">Submenu</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="new-home-page.html">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Космолот</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Космолот</a>
                      <ul class="sub-menu sub-menu-3">
                        <li class="menu-item">
                          <a href="new-home-page.html">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="new-home-page.html">Космолот</a>
                        </li>
                        <li class="menu-item">
                          <a href="new-home-page.html">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="new-home-page.html">Космолот</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="new-home-page.html">Команда</a>
                </li>
                <li class="menu-item">
                  <a href="new-home-page.html">Миссия</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="new-home-page.html">Цели</a>
                    </li>
                    <li class="menu-item">
                      <a href="new-home-page.html">Стратегия</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="new-app-page.html">App</a>
            </li>
            <li class="menu-item">
              <a href="new-home-page.html">Demo</a>
            </li>
            <li class="menu-item">
              <a href="new-strategies-page.html">Strategies</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__button">
        <a href="new-home-page.html">Play online</a>
      </div>
      <div class="menu__icon"></div>
    </div>
  </div>
</header>
