<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__logo">
        <a href="#" class="header__logo-link">
          <img src="img/logo.svg" alt="logo" width="86" height="54" />
          <span>Abuzer.org</span>
        </a>
      </div>
      <div class="header__menu">
        <nav class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#">Where To Play</a>
            </li>
            <li class="menu-item">
              <a href="#">Payments</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="#">Submenu</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="#">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Космолот</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Космолот</a>
                      <ul class="sub-menu sub-menu-3">
                        <li class="menu-item">
                          <a href="#">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="#">Космолот</a>
                        </li>
                        <li class="menu-item">
                          <a href="#">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="#">Космолот</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#">Команда</a>
                </li>
                <li class="menu-item">
                  <a href="#">Миссия</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="#">Цели</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Стратегия</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a href="#">Deposit</a>
              <ul class="sub-menu">
                <li class="menu-item">
                  <a href="#">Submenu</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="#">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Космолот</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Фавбет</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Космолот</a>
                      <ul class="sub-menu sub-menu-3">
                        <li class="menu-item">
                          <a href="#">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="#">Космолот</a>
                        </li>
                        <li class="menu-item">
                          <a href="#">Фавбет</a>
                        </li>
                        <li class="menu-item">
                          <a href="#">Космолот</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a href="#">Команда</a>
                </li>
                <li class="menu-item">
                  <a href="#">Миссия</a>
                  <ul class="sub-menu sub-menu-2">
                    <li class="menu-item">
                      <a href="#">Цели</a>
                    </li>
                    <li class="menu-item">
                      <a href="#">Стратегия</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- <div class="header__search">
          <input type="text" id="search" name="search" class="header__search-input" placeholder="Search for casinos, slots" />
          <div class="drop-menu">
            <div class="drop-menu__wrapper">
              <div class="drop-menu__cont">
                <div class="drop-menu__title">We could find results matching <span>“casino”</span></div>
                <ul class="drop-menu__list">
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="drop-menu__cont">
                <div class="drop-menu__title">We could find results matching <span>“casino”</span></div>
                <ul class="drop-menu__list">
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                  <li class="drop-menu__item">
                    <a href="#" class="drop-menu__link" aria-label="link-drop">
                      <div class="drop-menu__item-image">
                        <picture>
                          <source srcset="img/home/casino/icon-casino.webp" type="image/webp" />
                          <img
                            loading="lazy"
                            src="img/home/casino/icon-casino.png"
                            class="image"
                            width="104"
                            height="48"
                            alt="image-casino"
                          />
                        </picture>
                      </div>
                      <div class="drop-menu__item-text">Betsson Casino in Category</div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="header__language">
          <div class="header__language-select _en"></div>
          <div class="header__language-list">
            <div class="header__language-pt header__language-item">Ukraine</div>
            <div class="header__language-en header__language-item _active">English</div>
          </div>
        </div> -->
      </div>
      <div class="menu__icon">
        <span></span>
      </div>
    </div>
  </div>
</header>
