<section class="subscribe" id="subscribe">
    <div class="subscribe__container">
        <div class="subscribe__row">
            <h2 class="subscribe__title title">Which Is Australia'S Best Online Casino?</h2>
            <p class="subscribe__text">Abonner på nyhetsoppdateringer og få +100 spinn uten innskudd</p>
            <form action="#" class="subscribe__form">
                <div class="subscribe__form-wrap">
                    <input type="email" id="email" name="email" class="subscribe__email" placeholder="Email"/>
                    <button type="submit" class="subscribe__submit orange-btn" >Send</button>
                </div>
            </form>
            <p class="subscribe__info">
                By providing contacts, you agree to the processing of
                <a href="#" class="subscribe__info-link" aria-label="link">personal data</a>
            </p>
        </div>
    </div>
</section>