//casino-slot block     SHORT-2
.casino-slot {
  &._onWhite{
    padding: 15px;
    border-radius: 8px;
    @media screen and (max-width: 350px){
      padding: 5px;
    }
  }
  background: $pink;

  margin: 0 0 20px 0;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }


  &__link {
    font-family: $font-popins-semb;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: $white;
    align-self: center;
    text-align: center;
    padding: 19px 85px 17px;
  }


  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    margin: 0 0 30px 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background: $white;
    position: relative;
    max-width: 330px;

    &-info {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 20px;
      padding: 10.5px;

      &-text {
        display: none;
        padding: 15px;
        border-radius: 8px;
        background: $burgundyBtn;
        color: $white;
        width: 150px;
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 12px;
        line-height: 15px;

        &._show {
          display: block;
        }
      }
    }

    &-image {
      max-width: 160px;
      margin: 0 0 10px 0;

      img {
        border-radius: 8px;
      }
    }

    &-title {
      flex: 1 1 auto;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.004em;
      color: $black-one;
      margin: 0 0 2px 0;
    }

    &-licensed {
      display: flex;
      color: $blue;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      margin: 0 0 20px 0;

      &-one {
        margin: 0 8px 0 0;
      }
    }

    &-link {
      align-self: flex-start;
      display: inline-block;
      min-width: 160px;
      text-align: center;
      padding: 12px 30px 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }


}

@media screen and (max-width: 1240px) {
  .casino-slot {
    &__list {
      display: grid;
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      gap: 15px;
      margin: 0 0 30px 0;
    }

    &__item {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .casino-slot {
    &__list {
      grid-template-columns: calc(33.333% - 10px) calc(33.333% - 10px) calc(33.333% - 10px);
    }

  }
}

@media screen and (max-width: 830px) {
  .casino-slot {
    &__list {
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    }

  }
}

@media screen and (max-width: 600px) {
  .casino-slot {

    &__link {
      width: calc(100% - 30px);

    }

    &__list {
      grid-template-columns: 100%;
      gap: 15px;
    }
  }
}