//casino-slot block     SHORT-2
.casino-slot {

    .casino-slot__item{
      border: 1px solid $gray;

  }

  margin: 0 0 20px 0;


  &__list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;

  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background: $white;
    position: relative;
    max-width: 330px;

    &-info {
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 20px;

      &-text {
        display: none;
        padding: 15px;
        border-radius: 8px;
        background: $green-grad;
        color: $white;
        width: 150px;
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 12px;
        line-height: 15px;

        &._show {
          display: block;
        }
      }
    }

    &-image {
      max-width: 160px;
      margin: 0 0 10px 0;

      img {
        border-radius: 8px;
      }
    }

    &-title {
      flex: 1 1 auto;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.004em;
      color: $black;
      margin: 0 0 2px 0;
    }

    &-licensed {
      display: flex;
      color: $purple;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      margin: 0 0 20px 0;

      &-one {
        margin: 0 8px 0 0;
      }
    }

    &-link {
      align-self: flex-start;
      display: inline-block;
      min-width: 160px;
      text-align: center;
      padding: 12px 30px 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }


}

@media screen and (max-width: 1240px) {
  .casino-slot {
    &__list {
      display: grid;
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      gap: 15px;

    }

    &__item {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .casino-slot {
    &__list {
      grid-template-columns: calc(33.333% - 10px) calc(33.333% - 10px) calc(33.333% - 10px);
    }

  }
}

@media screen and (max-width: 830px) {
  .casino-slot {
    &__list {
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    }

  }
}

@media screen and (max-width: 600px) {
  .casino-slot {

    &__link {
      width: calc(100% - 30px);

    }

    &__list {
      grid-template-columns: 100%;
      gap: 15px;
    }
  }
}