.casino{
  padding: 70px 0;
  background: $green url("../img/home/slot/bg-desc.webp") no-repeat 50% 0/cover;
  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__error{
    font-family: $font-popins-semb;
    font-size: 160px;
    line-height: 160px;
    color: $white;
    text-shadow: $shadow-text-3;
    -webkit-text-stroke: 2px $salad;
    margin: 0 ;
  }
  &__title{
    font-family: $font-popins-semb;
    font-size: 24px;
    line-height: 45px;
    color: $white;
    margin: 0 0 10px 0;
  }
  &__text{
    color: $white;
    font-size: 15px;
    line-height: 28px;
    max-width: 565px;
    text-align: center;
    margin: 0 0 30px 0;
  }
  &__link{
    display: inline-block;
    padding: 18px 30px 16px;
  }
}

@media screen and (max-width: 600px){
  .casino{
    padding: 50px 0;
    background: $green-grad-2;
    &__error{
      font-size: 100px;
      line-height: 100px;
    }
    &__link{
      padding: 18px 15px 16px;
      width: 100%;
      text-align: center;
    }
  }
}