<section class="best" id="blog1">
    <div class="best__container">
        <h2 class="best__title title">Best Australian Online Casino Sites</h2>
        <p class="best__text">
            The best Australian online casino typically provides significant incentives, the newest casino games,
            high-end security and incredibly dependable customer care. In light of this, we are prepared to assist you
            in choosing the best online casino Australia offers after spending many hours researching. According to our
            unique rating algorithm, the top Australian online casino is Ricky casino. However, many more casino sites
            are very similar to it. Below is the list of the best</p>
        <ul class="best__list">
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>
            <li class="best__item">
                <div class="best__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="best__item-link orange-btn">Pay</a>
            </li>

        </ul>
        <a href="#" class="best__all-link burgundy-btn">Show All</a>
    </div>
</section>