.anchors{
  padding: 25px 0 25px 30px;
  background: $white;
  border-radius: 8px;
  margin: 0 0 30px 0;
  box-shadow: $shadow-text-3;
  &__item{
    border-bottom: 1px solid $white-bg;
    &:last-child{
      border: none;
      .anchors__link{
        padding-bottom: 0;
      }
    }
    &:first-child{
      .anchors__link{
        padding-top: 0;
      }
    }
  }
  &__link{
    position: relative;
    padding: 14px 0;
    font-size: 15px;
    line-height: 22px;
    color: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color $transition;
    &:hover{
      color: $gray;
    }
    &::after{
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 8px 6px;
      border-color: transparent transparent $green transparent;
      transform: rotate(90deg);
      margin: 0 20px 0 15px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .anchors{
    padding: 0;
    background: transparent;
    margin: 0 0 20px 0;
    box-shadow: none;
    &__list{
      display: flex;
      overflow-x: scroll;
      padding: 0 15px;
    }
    &__item{
      border: none;

      &:not(:last-child){
        margin: 0 10px 0 0;
      }
    }
    &__link{
      padding: 12px 20px 10px !important ;
      white-space: nowrap;
      border: 2px solid $white;
      color: $black;
      border-radius: 8px;
      background: $white;
      &._active{
        border: 2px solid $green;
      }
      &::after{
        background: none;
        content: none;
      }
    }
  }
}