.casino {
  background: $white url("../img/page3/casino/bg-desc.svg") no-repeat right center/ contain;
  &__wrap{
    overflow: hidden;
  }
  &__container{
    padding: 5px 15px 50px 15px;
    position: relative;

  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;

    &-link {
      display: inline-block;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      color: $black-one;
      transition: color $transition;

      &:hover {
        color: $grey;
      }

      &:last-child{
        &:hover{
          color: $black-one;
        }
      }

      &:not(:last-child) {
        margin: 0 18px 0 0;

        &::before {
          content: '•';
          position: absolute;
          font-size: 12px;
          line-height: 20px;
          color: $grey;
          right: -11px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__links{
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 4;

    &-list{
      display: flex;
      align-items: center;
      overflow-x: scroll;
    }
    &-item{
      &:not(:last-child){
        margin: 0 25px 0 0;
      }
    }
    &-link{
      display: inline-block;
      padding: 15px 0;
      position: relative;
      white-space: nowrap;
      font-size: 17px;
      line-height: 22px;
      color: $black-one;
      transition: color $transition;
      &._active::before{
        opacity: 1;
      }
      &._active{
        color: $grey-tabs;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8px;
        border-radius: 8px;
        background: $orangeBtn;
        box-shadow: $boxShadowBtn;
        opacity: 0;
        transition: opacity $transition;
      }
      &:hover{
        color: $grey-tabs;
      }
      &:hover::before{
        opacity: 1;
      }
    }
  }


  &__row{
    display: flex;
    align-items: flex-start;
  }

  &__info {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 38px 0 0;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      z-index: 1;
      right: 0;
      top: -50px;
      height: 204%;
      border-right: 5px dashed $pink;
      pointer-events: none;
    }

    &-wrap {
      display: flex;
      align-items: center;
    }

    &-image {
      max-width: 325px;
      margin: 0 30px 0 0px;
      img{
        border-radius: 8px;
      }
    }

    &-play {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-wrap {
        display: flex;
        align-items: center;
        margin: 0 0 5px 0;
      }
    }

    &-title {
      font-family: $font-popins-semb;
      font-size: 22px;
      line-height: 33px;
      color: $grey-tabs;
      margin: 0 20px 0 0;
    }

    &-licensed {
      display: flex;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      color: $blue;
      &-one{
        margin: 0 8px 0 0;
      }
    }

    &-reviews{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 9px 17px 7px;
      background: $pink;
      border-radius: 100px;
      margin: 0 0 15px 0;
      &-text{
        font-size: 12px;
        line-height: 12px;
        color: $black-one;
      }
      &-star,
      &-comment{
        display: flex;
        align-items: center;
        img{
          margin: 0 6px 0 0;
        }
      }
      &-comment{
        display: none;
        margin: 0 0 0 12px;
      }
    }

    &-sublink{
      align-self: center;
      display: inline-block;
      font-size: 10px;
      line-height: 11px;
      color: $grey;
      transition: color $transition;
      &:hover{
        color: $black-one;
      }
    }

    &-buttons{
      display: flex;
      align-items: flex-start;

      &-wrap{
        display: flex;
        flex-direction: column;

      }
      &-play{
        padding: 12px 80px 10px;
        margin: 0 10px 5px 0;
        font-size: 15px;
        line-height: 20px;
      }
      &-like{
        display: none;
        width: 42px;
        height: 42px;
        //display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-country{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &-wrap{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &-name{
        display: flex;
        align-items: center;
        margin: 0 0 8px 0;
        img{
          max-width: 20px;
          border-radius: 50%;
          margin: 0 10px 0 0;
        }
        &-txt{
          font-size: 13px;
          line-height: 22px;
          color: $grey-tabs;
        }
      }
      &-create,
      &-update{
        font-size: 13px;
        line-height: 22px;
        color: $grey-tabs;
      }
      &-create{
        margin: 0 0 8px 0;
      }
      &-update{
        margin: 0 0 12px 0;
      }
      &-work{
        max-width: 100px;
      }

    }

  }

  &__bonus{
    color: $black-one;
    padding: 0 0 0 38px;
    &-title{
      font-family: $font-popins-semb;
      font-size: 15px;
      line-height: 18px;
      margin: 0 0 5px 0;
    }
    &-subtitle{
      font-family: $font-popins-semb;
      font-size: 24px;
      line-height: 24px;
      margin: 0 0 5px 0;
    }
    &-text{
      font-size: 13px;
      line-height: 18px;
      letter-spacing: -0.004em;
      margin: 0 0 10px 0;
    }
    &-link{
      display: inline-block;
      padding: 12px 28px 10px;
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 20px 0;
    }
    &-subtext{
      font-size: 13px;
      line-height: 16px;
      color: $black-one;
      max-width: 160px;
      span{
        font-family: $font-popins-semb;
        color: $black-one;
      }
    }
  }
}

@media screen and (max-width: 1240px) {
  .casino{
    &__row{
      flex-direction: column;
      align-items: stretch;
    }
    &__info{
      padding: 0;
      margin: 0 0 20px 0;
      &::before{
        content: none;
      }
      &-country{
        display: flex;
        flex-direction: row-reverse;
        &-update{
          margin: 0;
        }
        &-work{
          margin: 0 15px 0 0;
        }

      }
    }
    &__bonus{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 15px 0;
      border-bottom: 2px solid $pink;
    }
  }
}

@media screen and (max-width: 1024px){
  .casino{
    &__container{
      padding: 5px 0 0 0;
    }
    &__breadcrumbs{
      padding: 0 15px;
    }
    &__row{
      padding: 0 15px;
    }
    &__links{
      position: static;
      &-list{
        padding: 0 15px;
      }

    }
    &__info{
      flex-direction: column;
      align-items: stretch;
      &-wrap{
        margin: 0 0 20px 0;
      }
      &-image{
      }
      &-country{
        flex-direction: row;
        &-work{
          margin: 0;
        }
        &-wrap{
          align-items: flex-start;
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .casino {
    background: $white;
    &__breadcrumbs {
      margin: 0 0 10px 0;
      &-link {
        font-size: 12px;
        line-height: 20px;
      }
    }
    &__links{
      &-link{
        font-size: 15px;
        line-height: 22px;
      }
    }
    &__bonus{
      &-wrap{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      &-subtext{
        text-align: end;
      }
      &-link{
        margin: 0 0 10px 0;
        padding: 10px 28px 8px;
      }
      &-title{
        font-size: 12px;
        line-height: 18px;
        margin: 0;
      }
      &-subtitle{
        font-size: 15px;
        line-height: 20px;
      }
      &-text{
        font-size: 11px;
        line-height: 18px;
        margin: 0;
      }
      &-link{
        font-size: 13px;
        line-height: 20px;
      }
    }
    &__info{
      &-buttons{
        &-play{
          font-size: 13px;
          line-height: 20px;
          padding: 10px 70px 8px;
        }
        &-like{
          width: 38px;
          height: 38px;
        }
      }
      &-wrap{
        flex-direction: column;
        padding-bottom: 15px;
        margin-bottom: 5px;
        border-bottom: 2px solid $pink;
      }
      &-image{
        margin: 0 0 15px 0;
        max-width: 100%;
      }
      &-play{
        align-items: center;
        &-wrap{
          flex-direction: column;
          align-items: flex-start;
        }

      }
      &-title{
        margin: 0 0 2px 0;
        font-size: 17px;
        line-height: 26px;
      }
      &-licensed{
        font-size: 11px;
        line-height: 15px;
        margin: 0 0 3px 0;
      }
      &-reviews{
        padding: 0;
        background: transparent;
      }
      &-country{
        padding-bottom: 10px ;
        border-bottom: 2px solid $pink;
        align-items: center;
        &-wrap{
          flex: 1 1 auto;
        }
        &-work{
          max-width: 75px;
        }
        &-name{
          &-txt{
            font-size: 11px;
            line-height: 14px;
          }
          img{
            margin: 0 5px 0 0;
          }
        }
        &-create{
          font-size: 11px;
          line-height: 14px;
        }
        &-update{
          font-size: 11px;
          line-height: 14px;
        }
      }

    }
  }
}