.games{
  background: $white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: $shadow-text-3;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  &__title{
    margin: 0 0 15px 0;
  }
  &__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
  }
  &__item{
    position: relative;
    &:not(:last-child){
      margin: 0 12px 0 0;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      max-width: 265px;
      margin: 0 0 10px 0;
      img{
        border-radius: 4px;
      }
    }
    &-title{
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.01em;
      color: $black;
    }
    &-subtitle{
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.004em;
      color: $grey;
    }
  }
  &__all-link{
    align-self: center;
    display: inline-block;
    padding: 14px 30px 12px;
    font-size: 15px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .games {
    padding: 30px 15px 20px;
    border-radius: 0;
    &__all-link{
      align-self: center;
      width: 80%;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .games{
    &__list{
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__item{
      &:not(:last-child){
        margin: 0 12px 12px 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .games{
    &__all-link{
      width: 100%;
    }
    &__list{
      flex-direction: column;
      align-items: stretch;
    }
    &__item{
      max-width: 100%;
      &-image{
        max-width: 100%;
        min-width: 100%;
      }
      &:not(:last-child){
        margin: 0 0 10px 0;
      }
    }
  }
}