.games{
  background: $white;
  padding: 30px;
  border-radius: 8px;
  margin: 0 0 20px 0;
  &__title{
    margin: 0 0 10px 0;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  &__item{
    position: relative;
    &:not(:last-child){
      margin: 0 12px 0 0;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      max-width: 265px;
      margin: 0 0 10px 0;
      img{
        border-radius: 4px;
      }
    }
    &-title{
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.01em;
      color: $black-one;
    }
    &-subtitle{
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.004em;
      color: $grey;
    }
  }
  &__all-link{
    display: inline-block;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: $black-one;
    transition: color $transition;
    &::before{
      content: '';
      position: absolute;
      width: 11px;
      height: 7px;
      top: 56%;
      right: -15px;
      transform: translateY(-50%);
      background: url("../img/page3/bonuses/arrow.svg") no-repeat 0 0/contain;
    }
    &:hover{
      color: $orangeBtn-hover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .games {
    padding: 30px 15px 20px;
    margin: 0 0 10px 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 800px) {
  .games{
    &__list{
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    &__item{
      &:not(:last-child){
        margin: 0 12px 12px 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .games{
    &__list{
      flex-direction: column;
      align-items: stretch;
    }
    &__item{
      &-image{
        max-width: 100%;
        min-width: 100%;
      }
      &:not(:last-child){
        margin: 0 0 10px 0;
      }
    }
  }
}