.provide{
  padding: 30px;
  background: $white;
  border-radius: 8px;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;

  &__btn-showMore{
    align-self: flex-start;
    display: inline-block;
    padding: 14px 30px 12px;
    font-size: 15px;
    line-height: 20px;
  }
  &__title{
    margin: 0 0 10px 0;
  }
  &__list{
    display: grid;
    gap: 12px;
    grid-template-columns: calc(33.33% - 8px) calc(33.33% - 8px) calc(33.33% - 8px);
    margin: 0 0 20px 0;
  }
  &__item{
    padding: 20px;
    display: flex;
    align-items: center;
    background: $pink;
    border-radius: 4px;
    position: relative;
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      max-width: 50px;
      margin: 0 15px 0 0;
      img{
        border-radius: 4px;
      }
    }
    &-name{
      font-size: 15px;
      line-height: 20px;
      color: $black-one;
    }
  }
}

@media screen and (max-width: 1024px) {
  .provide {
    padding: 30px 15px 20px;
    margin: 0 0 10px 0;
    border-radius: 0;
    &__btn-showMore{
      align-self: center;
      width: 80%;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 800px) {
  .provide{
    &__list{
      grid-template-columns: calc(50% - 6px) calc(50% - 6px) ;
    }
  }
}

@media screen and (max-width: 600px) {
  .provide {
    &__list{
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    &__item{
      padding: 0;
      &:not(:last-child){
        margin: 0 0 10px 0;
      }
      &-image{
        max-width: 61px;
        min-width: 60px;
        img{
          min-width: 60px;
        }
      }
    }
  }
}