.casino-online{
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  &__wrap{
    margin: 0 0 25px 0;
  }
  &__all-link{
    align-self: center ;
    display: inline-block;
    padding: 18px 40px 16px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin: 0 auto;
  }
  &__title{
    font-family: $font-popins-semb;
    font-size: 20px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: $black-one;
    margin: 0 0 10px 0;
    text-align: center;
  }

  &__tabs{
    width: 100%;
    display: flex;
    align-items: center;
    background: $pink;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 5px;
    margin: 0 0 20px 0;
    &-btn{
      width: calc(50% - 2.5px);
      display: inline-block;
      padding: 7px 15px 5px;
      color: $black-font-orangeBtn;
      font-size: 13px;
      border-radius: 8px;
      line-height: 22px;
      background: transparent;
      transition: background-color $transition;
      &:first-child{
        margin: 0 5px 0 0;
      }
      &:hover{
        background: $orangeBtn;
        box-shadow: $boxShadowBtn;
      }
      &-one,
      &-two{
        &._active{
          background: $orangeBtn;
          box-shadow: $boxShadowBtn;
        }
      }
    }
  }

  &__list{
    &-one{
      &._hidden{
        display: none;
      }
    }
    &-two{
      &._hidden{
        display: none;
      }
    }
  }

  &__item{
    display: flex;
    align-items: center;
    width: 315px;
    &-btn{
      margin-top: 25px !important;
      display: flex;
      justify-content: center;
    }
    &:not(:last-child){
      margin: 0 0 15px 0;
    }
    &-image{
      min-width: 100px;
      max-width: 100px;
      margin: 0 15px 0 0;
      img{
        width: 100px;
        height: 46px;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    &-info{
      flex: 1 1 auto;
      margin: 0 15px 0 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-title{
      font-family: $font-popins-reg;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.004em;
      color: $black-one;
    }
    &-reviews{
      display: flex;
      align-items: center;
      &-img{
        display: inline-block;
        margin: 0 5px 0 0;
      }
      &-grade{
        font-family: $font-popins-reg;
        font-size: 12px;
        line-height: 18px;
        color: $black-one;
      }
    }
    &-link{
      display: inline-block;
      padding: 7px 26px 5px;
      font-family: $font-popins-reg;
      font-size: 13px;
      line-height: 20px;

    }
  }
}

@media screen and (max-width: 1024px) {
  .casino-online{
    position: relative;
    top: auto;
    width: 80%;
    margin: 0 auto 0 auto;
    &__wrap{
      margin:10px 0 0 0;
    }
    &__item{
      width: 100%;
    }
    &__all-link{
      width: 80%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 600px){
  .casino-online{
    width: 100%;
    padding: 0 15px;
    border-radius: 0;
    &__title{
      font-size: 20px;
      line-height: 48px;
    }
  }
}