<section class="hero">
  <div class="hero__container">
    <a class="hero__back-btn" href="#">go back</a>
    <div class="hero__note">
      <img class="hero__ico" src="img/new-strategies-page/hero/pin.svg" alt="pin icon" />
      <p class="hero__text">
        <span>1Remember the Core Rule:</span> Gambling should be a fun and controlled activity.
        Always prioritize your financial stability, and if gambling starts affecting your
        well-being, seek professional
      </p>
    </div>
    <div class="hero__info">
      <h1 class="pageTitle hero__title">Aviator Winning Strategy: How It Works</h1>
      <p class="sectionText hero__sub-title">
        Aviator game strategy and tactics are different approaches that players adapt to enhance
        their chances of success in the game.
        <br />
        <br />
        These pointers don’t guarantee wins, but they help users strategically manage their bets and
        maximize their profits when playing Aviator for real money.  They range from those that
        prioritize consistent small wins to riskier options targeting larger payouts.
      </p>
    </div>
    <div class="hero__plane plane">
      <p class="sectionTitle plane__x plane__x--1">3.56x</p>
      <p class="sectionTitle plane__x plane__x--2">2.06x</p>
      <p class="sectionTitle plane__x plane__x--3">123.93x</p>
      <p class="sectionTitle plane__x plane__x--4">3.73x</p>
    </div>
  </div>
</section>
