<section class="tricks">
  <div class="tricks__container">
    <h2 class="sectionTitle tricks__title">Spribe Aviator Game Tricks for Beginners</h2>
    <p class="sectionText tricks__sub-title">
      Aviator has very simple rules. However, as a beginner, you might wonder if there are many tips
      and tricks to improve your winning chances. While there’s no surefire way
    </p>
    <div class="swiper tricksSwiper">
      <div class="swiper-wrapper tricks__cards">
        <div class="swiper-slide tricks__card card">
          <p class="card__tip">tip 01</p>
          <img
            class="card__ico"
            src="img/new-strategies-page/tricks/icon-1.png"
            alt="bonus card icon"
          />
          <p class="card__title">Demo Version Of The Game</p>
          <p class="card__text">
            Observing and following the experiences of other players can provide valuable insights.
            You gain an understanding of winning tricks and identify the best moments to cash out.
            There’s also an in-game chat feature that you could use to communicate with our bettors
            and learn from them.
          </p>
        </div>
        <div class="swiper-slide tricks__card card">
          <p class="card__tip">tip 02</p>
          <img
            class="card__ico"
            src="img/new-strategies-page/tricks/icon-2.png"
            alt="bonus card icon"
          />
          <p class="card__title">Small Bets And Control Odds History</p>
          <p class="card__text">
            Observing and following the experiences of other players can provide valuable insights.
            You gain an understanding of winning tricks and identify the best moments to cash out.
            There’s also an in-game chat feature that you could use to communicate with our bettors
            and learn from them.
          </p>
        </div>
        <div class="swiper-slide tricks__card card">
          <p class="card__tip">tip 03</p>
          <img
            class="card__ico"
            src="img/new-strategies-page/tricks/icon-3.png"
            alt="bonus card icon"
          />
          <p class="card__title">Watch Other Experiences</p>
          <p class="card__text">
            Observing and following the experiences of other players can provide valuable insights.
            You gain an understanding of winning tricks and identify the best moments to cash out.
            There’s also an in-game chat feature that you could use to communicate with our bettors
            and learn from them.
          </p>
        </div>
        <div class="swiper-slide tricks__card card">
          <p class="card__tip">tip 04</p>
          <img
            class="card__ico"
            src="img/new-strategies-page/tricks/icon-4.png"
            alt="bonus card icon"
          />
          <p class="card__title">Ensure Your Internet Connection Is Reliable</p>
          <p class="card__text">
            Observing and following the experiences of other players can provide valuable insights.
            You gain an understanding of winning tricks and identify the best moments to cash out.
            There’s also an in-game chat feature that you could use to communicate with our bettors
            and learn from them.
          </p>
        </div>
      </div>
      <div class="swiper-pagination tricks__swiper-pagination"></div>
    </div>
  </div>
</section>
