<section class="adv">
  <div class="adv__container">
    <div class="adv__header">
      <div class="adv__text">
        <h2 class="adv__title">Aviator Game Tips from Advanced</h2>
        <p class="adv__description">
          For an advanced player, winning money in Aviator is also easy. Here are the ways you can
          tip the odds in your favor:
        </p>
      </div>
      <div class="adv__buttons">
        <button class="adv__button adv__button--prev">
          <img src="img/new-page/up-btn-desk.svg" alt="prev button" />
        </button>
        <button class="adv__button adv__button--next">
          <img src="img/new-page/up-btn-desk.svg" alt="next button" />
        </button>
      </div>
    </div>

    <div class="swiper advSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide game-item">
          <p class="game-item__tip">tip 01</p>
          <div class="game-item__avatar">
            <img src="img/new-strategies-page/adv/icon-1.png" alt="game image" />
          </div>
          <p class="game-item__title">Keep Volatility Low</p>
          <p class="game-item__sub-title">
            An Indian mobile app that links together multiple game methods for the user’s
            convenience. For anyone who wishes to play Aviator game in India, UPI is an easy way to
            deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide game-item">
          <p class="game-item__tip">tip 02</p>

          <div class="game-item__avatar">
            <img src="img/new-strategies-page/adv/icon-2.png" alt="game image" />
          </div>
          <p class="game-item__title">Live Statistics</p>
          <p class="game-item__sub-title">
            An Indian mobile app that links together multiple game methods for the user’s
            convenience. For anyone who wishes to play Aviator game in India, UPI is an easy way to
            deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide game-item">
          <p class="game-item__tip">tip 03</p>

          <div class="game-item__avatar">
            <img src="img/new-strategies-page/adv/icon-3.png" alt="game image" />
          </div>
          <p class="game-item__title">Best Time to Play</p>
          <p class="game-item__sub-title">
            An Indian mobile app that links together multiple game methods for the user’s
            convenience. For anyone who wishes to play Aviator game in India, UPI is an easy way to
            deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide game-item">
          <p class="game-item__tip">tip 04</p>

          <div class="game-item__avatar">
            <img src="img/new-strategies-page/adv/icon-4.png" alt="game image" />
          </div>
          <p class="game-item__title">Avoid Game Patterns</p>
          <p class="game-item__sub-title">
            An Indian mobile app that links together multiple game methods for the user’s
            convenience. For anyone who wishes to play Aviator game in India, UPI is an easy way to
            deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide game-item">
          <p class="game-item__tip">tip 05</p>

          <div class="game-item__avatar">
            <img src="img/new-strategies-page/adv/icon-1.png" alt="game image" />
          </div>
          <p class="game-item__title">Live Statistics</p>
          <p class="game-item__sub-title">
            An Indian mobile app that links together multiple game methods for the user’s
            convenience. For anyone who wishes to play Aviator game in India, UPI is an easy way to
            deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide game-item">
          <p class="game-item__tip">tip 06</p>

          <div class="game-item__avatar">
            <img src="img/new-strategies-page/adv/icon-3.png" alt="game image" />
          </div>
          <p class="game-item__title">Best Time to Play</p>
          <p class="game-item__sub-title">
            An Indian mobile app that links together multiple game methods for the user’s
            convenience. For anyone who wishes to play Aviator game in India, UPI is an easy way to
            deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>
      </div>

      <div class="swiper-pagination adv__swiper-pagination"></div>
    </div>

    <div class="adv__note">
      <img class="adv__ico" src="img/new-strategies-page/adv/pin.svg" alt="pin icon" />
      <p class="adv__text">
        While these predictions can help you win in Aviator, they’re not always accurate. That’s
        because the outcome of every betting round is completely independent, regardless of previous
        multipliers. Hence, it’s impossible to always correctly pinpoint a winning multiplier.
      </p>
    </div>
  </div>
</section>
