<section class="the-most">
  <div class="the-most__container">
    <div class="the-most__column column">
      <div class="column__top top">
        <h3 class="sectionTitle top__title">The Most Popular Aviator strategies</h3>
        <p class="sectionText top__text">
          First of all, it should be noted that there is no strategy to win at Aviator game with
          100% success. In any version of the Aviator game tactics, losing is possible. And yet,
          with judicious use of any of these strategies, you can expect success. Let’s take a closer
          look at the game methods to get a big
          <br />
          <br />
          To maintain transparency and uphold trust, the title uses Provably Fair technology. This
          advanced cryptographic method allows gamers to independently verify the fairness of each
          round’s outcome when they play for real money.
        </p>
      </div>
      <div class="column__bottom bottom">
        <p class="bottom__title">DOUBLE UP STRATEGY</p>
        <p class="bottom__text">
          With this single bet strategy, you can bet any amount. However, the player should have a
          sufficient bankroll. You need to study the statistics of the previous multipliers and bet
          only if you are sure the plane will not fly away before passing the x2 point. Players
          should always stick to the rules of this strategy and only cash out at this multiplier.
          This will bring a profit of 100% while being in the medium-risk
        </p>
        <div class="bottom__img">
          <img src="img/new-strategies-page/the-most/col-1.png" alt="" />
        </div>
      </div>
    </div>
    <div class="the-most__column column">
      <div class="column__top top">
        <h3 class="sectionTitle top__title">Aviator Game Algorithm Prediction</h3>
        <p class="sectionText top__text">
          At the heart of the game is a sophisticated big-win algorithm based on a random number
          generator (RNG). This system generates unpredictable outcomes, ensuring each round’s
          results are entirely independent of the previous ones.
          <br />
          <br />
          The RNG introduces an element of chance and excitement, as players can never predict when
          the plane will crash or how long it will fly. They achieve this by using the client and
          server seeds that the
        </p>
      </div>
      <div class="column__bottom bottom">
        <p class="bottom__title">HIGH RISK</p>
        <p class="bottom__text">
          This strategy is for punters with iron nerves. It is about knowing that about once an hour
          or 1.5 it falls out to the multiplier of x100. After waiting for it to fall out, you mark
          the hour and place bets, hoping you can catch this.5 it falls out to the multiplier of
          x100. After waiting fo multiplier. This strategy is risky, but it gives a chance to win
          big in the game.
        </p>
        <div class="bottom__img">
          <img src="img/new-strategies-page/the-most/col-2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
