<section class="block block--1">
  <div class="block__container">
    <div class="block__header BH1">
      <p class="block__text">Multi Bet Strategies</p>
      <button class="block__btn BB1"></button>
    </div>

    <div class="block__content BC1 hide">
      <div class="block__left">
        <div class="block__text-wrapper TB1">
          <p class="sectionText block__p TW1">
            2:1 Strategy. It is considered one of the most successful strategies for mastering the
            Aviator slot. By it, the player must always make two bets and always 2:1. For example,
            if you made one bet of $10, you should place the second one of $20. The goal of this
            strategy is for the larger bet to cover the smaller one. A lower bet is designed to
            receive all the profits, assuming zero risk.
            <br /><br />
            When you reach the x1.5 multiplier, you cash out the larger bet and get $30. This will
            cover the bet amount and bring you to zero if the second bet suddenly loses. If you
            reach x5 with the second bet, your income will be $80, and your net profit will be $50.
            <br /><br />
            1.5x +2x Strategy. Everything here is similar to how it happens in a single bet
            strategy. We make the first bet larger, for example, $10 on odds of 1.5. In this case,
            it might even be better to use the auto bet and auto cashout to focus on the second bet.
            We make the second bet manually with a x2 multiplier of $5.
          </p>
          <button type="button" class="block__showMoreBtn BTN1" aria-label="show-more">
            Show more
          </button>
        </div>
      </div>
      <div class="block__right">
        <h4 class="block__title">Martingale Strategy Simulator</h4>
        <p class="sectionText block__description">
          Enter the data for make the calculations with the <br />Martingale Strategy Simulator:
        </p>
        <div class="block__inputs">
          <div class="block__input input input--error">
            <span class="input__title">Number of Rounds</span>
            <input class="input__value" type="text" value="0" />
          </div>
          <div class="block__input input">
            <span class="input__title">Initial Bet Amount</span>
            <input class="input__value" type="text" value="0" />
          </div>
          <div class="block__input input">
            <span class="input__title">Multiplier</span>
            <input class="input__value" type="text" value="0" />
          </div>
        </div>

        <button class="block__button">Simulate</button>
        <div class="block__table table">
          <div class="table__head">
            <p class="table__row--title">Round</p>
            <p class="table__row--title">Bet Amount</p>
            <p class="table__row--title">Round Result</p>
            <p class="table__row--title">Bankroll</p>
          </div>
          <div class="table__body">
            <div class="table__row">
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
