<section class="block block--3">
  <div class="block__container">
    <div class="block__header BH3">
      <p class="block__text">Labouchère System</p>
      <button class="block__btn BB3"></button>
    </div>

    <div class="block__content BC3 hide">
      <div class="block__left">
        <p class="sectionText">The table below illustrates this strategy:</p>

        <table class="row__l-table">
          <thead>
            <tr>
              <th>Bet, ₹</th>
              <th>Odd</th>
              <th>Game outcome</th>
              <th>Bankroll, ₹</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,000</td>
              <td>2.0</td>
              <td><span class="row__l-table--loss">Loss</span></td>
              <td>9,000</td>
            </tr>
            <tr>
              <td>1,000</td>
              <td>2.0</td>
              <td><span class="row__l-table--loss">Loss</span></td>
              <td>9,000</td>
            </tr>
            <tr>
              <td>1,000</td>
              <td>2.0</td>
              <td><span class="row__l-table--win">Win</span></td>
              <td>9,000</td>
            </tr>
            <tr>
              <td>1,000</td>
              <td>2.0</td>
              <td><span class="row__l-table--win">Win</span></td>
              <td>9,000</td>
            </tr>
          </tbody>
        </table>
        <div class="block__text-wrapper TB3">
          <p class="sectionText block__p TW3">
            One more trick to win the Aviator plane game is the d’Alembert Strategy. This method is
            based on the theory of the famous 18th-century French philosopher and mathematician Jean
            Leron d’Alembert.
            <br /><br />
            3:1 Strategy. It is considered one of the most successful strategies for mastering the
            Aviator slot. By it, the player must always make two bets and always 3:1. For example,
            if you made one bet of $10, you should place the second one of $30. The goal of this
            strategy is for the larger bet to cover the smaller one. A lower bet is designed to
            receive all the profits, assuming zero risk.
            <br /><br />
            When you reach the x1.5 multiplier, you cash out the larger bet and get $30. This will
            cover the bet amount and bring you to zero if the second bet suddenly loses. If you
            reach x5 with the second bet, your income will be $80, and your net profit will be $50.
            <br /><br />
            1.5x +3x Strategy. Everything here is similar to how it happens in a single bet
            strategy. We make the first bet larger, for example, $10 on odds of 1.5. In this case,
            it might even be better to use the auto bet and auto cashout to focus on the second bet.
            We make the second bet manually with a x3 multiplier of $5.
          </p>
          <button type="button" class="block__showMoreBtn BTN3" aria-label="show-more">
            Show more
          </button>
        </div>
      </div>
      <div class="block__right">
        <h4 class="block__title">Labouchère System Calculator</h4>
        <p class="sectionText block__description">
          Enter the data for make the calculations with the <br />
          Labouchère System
        </p>
        <div class="block__inputs">
          <!-- <div class="block__input input input--error"> -->
          <div class="block__input input">
            <span class="input__title">Sequence</span>
            <input class="input__value" type="text" value="0" />
          </div>

          <div class="block__input input">
            <span class="input__title">Multiplier</span>
            <input class="input__value" type="text" value="0" />
          </div>
        </div>

        <button class="block__button">Simulate</button>
        <div class="block__table table">
          <div class="table__head">
            <p class="table__row--title">Round</p>
            <p class="table__row--title">Bet Amount</p>
            <p class="table__row--title">Round Result</p>
            <p class="table__row--title">Bankroll</p>
          </div>
          <div class="table__body">
            <div class="table__row">
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
