<section class="block block--4">
  <div class="block__container">
    <div class="block__header BH4">
      <p class="block__text">Labouchère System</p>
      <button class="block__btn BB4"></button>
    </div>

    <div class="block__content BC4 hide">
      <div class="block__left">
        <div class="block__text-wrapper TB4">
          <p class="sectionText block__p TW4">
            Also known as cancellation strategy or split Martingale, Labouchère revolves around
            winning up to a certain amount.
            <br /><br />
            Before betting, you decide how much you intend to make at the end of the game sessions.
            Then, divide it into smaller sums according to your preference. Afterward, add the first
            and last amounts and wager on one round in Aviator.
            <br /><br />
            If it wins, you cross them off your list, but you add that amount to the bottom if it's
            a loss.
            <br /><br />
            Here's a better illustration of how this approach to the game works: Assuming you aim to
            get 2200, you can split it into 215, 320, 320, 330. 340, 330, 320, 215, and R10.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
          </p>
          <button type="button" class="block__showMoreBtn BTN4" aria-label="show-more">
            Show more
          </button>
        </div>
      </div>
      <div class="block__right">
        <h4 class="block__title">Then you wager as follows</h4>
        <table class="row__l-table row__l-table--3">
          <thead>
            <tr>
              <th>Bet, ₹</th>
              <th>Outcome</th>
              <th>Remaining Sequence</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>₹15 + ₹20 = ₹35</td>
              <td><span class="row__l-table--loss">Loss</span></td>
              <td>₹20, ₹20, ₹30, ₹40, ₹30, ₹20, ₹15</td>
            </tr>
            <tr>
              <td>₹15 + ₹20 = ₹35</td>
              <td><span class="row__l-table--loss">Loss</span></td>
              <td>₹20, ₹30, ₹40, ₹30, ₹20</td>
            </tr>
            <tr>
              <td>₹15 + ₹20 = ₹35</td>
              <td><span class="row__l-table--win">Win</span></td>
              <td>₹20, ₹30, ₹40, ₹30, ₹20, ₹40</td>
            </tr>
            <tr>
              <td>₹15 + ₹20 = ₹35</td>
              <td><span class="row__l-table--win">Win</span></td>
              <td>9,000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
