<section class="block block--7">
  <div class="block__container">
    <div class="block__header BH7">
      <p class="block__text">Anti Martingale</p>
      <button class="block__btn BB7"></button>
    </div>

    <div class="block__content BC7 hide">
      <div class="block__left">
        <div class="block__text-wrapper TB7">
          <p class="sectionText block__p TW7">
            Also known as cancellation strategy or split Martingale, Labouchère revolves around
            winning up to a certain amount.
            <br /><br />
            Before betting, you decide how much you intend to make at the end of the game sessions.
            Then, divide it into smaller sums according to your preference. Afterward, add the first
            and last amounts and wager on one round in Aviator.
            <br /><br />
            If it wins, you cross them off your list, but you add that amount to the bottom if it's
            a loss.
            <br /><br />
            Here's a better illustration of how this approach to the game works: Assuming you aim to
            get 2200, you can split it into 215, 320, 320, 330. 340, 330, 320, 215, and R10.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
            <br /><br />
            Pros: It can help recoup losses easily. Cons: There's a high risk of losing all bet
            amounts.
          </p>
          <button type="button" class="block__showMoreBtn BTN7" aria-label="show-more">
            Show more
          </button>
        </div>
      </div>
      <div class="block__right">
        <h4 class="block__title">Я хз шо тут повинно бути</h4>
        <p class="sectionText block__description">
          взагалі хз <br />
          що тут за контент
        </p>
        <div class="block__inputs">
          <!-- <div class="block__input input input--error"> -->
          <div class="block__input input">
            <span class="input__title">Bet</span>
            <input class="input__value" type="text" value="0" />
          </div>

          <div class="block__input input">
            <span class="input__title">Multiplier</span>
            <input class="input__value" type="text" value="0" />
          </div>
          <div class="block__input input">
            <span class="input__title">Bankroll</span>
            <input class="input__value" type="text" value="0" />
          </div>
        </div>

        <button class="block__button">magic btn</button>
        <div class="block__table table">
          <div class="table__head">
            <p class="table__row--title">Round</p>
            <p class="table__row--title">Bet Amount</p>
            <p class="table__row--title">Round Result</p>
            <p class="table__row--title">Bankroll</p>
          </div>
          <div class="table__body">
            <div class="table__row">
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
              <p class="table__row--value">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
