<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link" >Casino category</span>
        </div>
        <h1 class="casino__title">Cookies</h1>
        <ul class="casino__date-list">
            <li class="casino__date-item">
                <div class="casino__date-item-text">Date create:</div>
                <div class="casino__date-item-data">22.01.1995</div>
            </li>
            <li class="casino__date-item">
                <div class="casino__date-item-text">Date update:</div>
                <div class="casino__date-item-data">30.01.2023</div>
            </li>
        </ul>
    </div>
</section>