<section class="best">
  <div class="best__container">
    <h2 class="best__title title">Best Australian Online Casino Sites</h2>
    <p class="best__text">
      The best Australian online casino typically provides significant incentives, the newest casino games,
      high-end security and incredibly dependable customer care. In light of this, we are prepared to assist you
      in choosing the best online casino Australia offers after spending many hours researching. According to our
      unique rating algorithm, the top Australian online casino is Ricky casino. However, many more casino sites
      are very similar to it. Below is the list of the best</p>
    <ul class="best__list">
      <li class="best__item">
        <div class="best__item-wrapper">
          <div class="best__item-image">
            <picture>
              <source srcset="img/home/best/casino-img.webp" type="image/webp">
              <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                   height="122" alt="image-casino">
            </picture>
          </div>
          <div class="best__item-info">
            <div class="best__item-title">Parimatch</div>
            <div class="best__item-licensed">
              <div class="best__item-licensed-one">About</div>
              <div class="best__item-licensed-two">Licensed</div>
            </div>
            <div class="best__item-rating">
              <div class="best__item-rating-star">
                <img src="img/home/best/star.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-star-text">4.5 / 5</div>
              </div>
              <div class="best__item-rating-comment">
                <img src="img/home/best/message.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-comment-text">22 comment</div>
              </div>
            </div>
            <div class="best__item-link_wrap">
              <a href="#" class="best__item-link burgundy-btn">Play</a>
              <a href="#" class="best__item-sublink">T&Cs Apply </a>
            </div>
          </div>
          <div class="best__item-reviews">
            <ul class="best__item-plus">
              <li class="best__item-plus-txt">
                Large selection of bonuses for registered gravites.
              </li>
              <li class="best__item-plus-txt">Possibility of robiting Possibility of robiting bets on
                sports grounds.
              </li>
              <li class="best__item-plus-txt">Simple interface.</li>
              <li class="best__item-plus-txt">
                Great range of games. Possibility of robiting bets on sports grounds. Possibility of
                robiting bets on sports grounds.
              </li>
            </ul>
          </div>
          <div class="best__item-reviews-btn">Info</div>
        </div>
        <div class="best__item-coupon">
          <div class="best__item-coupon-title">Similar slots</div>
          <div class="best__item-coupon-subtitle">100% up to 400$</div>
          <div class="best__item-coupon-text">1st Deposit Bonus</div>
          <a href="#" class="best__item-coupon-link orange-btn">Play</a>
        </div>
      </li>
      <li class="best__item">
        <div class="best__item-wrapper">
          <div class="best__item-image">
            <picture>
              <source srcset="img/home/best/casino-img.webp" type="image/webp">
              <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                   height="122" alt="image-casino">
            </picture>
          </div>
          <div class="best__item-info">
            <div class="best__item-title">Parimatch</div>
            <div class="best__item-licensed">
              <div class="best__item-licensed-one">About</div>
              <div class="best__item-licensed-two">Licensed</div>
            </div>
            <div class="best__item-rating">
              <div class="best__item-rating-star">
                <img src="img/home/best/star.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-star-text">4.5 / 5</div>
              </div>
              <div class="best__item-rating-comment">
                <img src="img/home/best/message.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-comment-text">22 comment</div>
              </div>
            </div>
            <div class="best__item-link_wrap">
              <a href="#" class="best__item-link burgundy-btn">Play</a>
              <a href="#" class="best__item-sublink">T&Cs Apply </a>
            </div>
          </div>
          <div class="best__item-reviews">
            <ul class="best__item-plus">
              <li class="best__item-plus-txt">
                Large selection of bonuses for registered gravites.
              </li>
              <li class="best__item-plus-txt">Possibility of robiting Possibility of robiting bets on
                sports grounds.
              </li>
              <li class="best__item-plus-txt">Simple interface.</li>
              <li class="best__item-plus-txt">
                Great range of games. Possibility of robiting bets on sports grounds. Possibility of
                robiting bets on sports grounds.
              </li>
            </ul>
          </div>
          <div class="best__item-reviews-btn">Info</div>
        </div>
        <div class="best__item-coupon">
          <div class="best__item-coupon-title">Similar slots</div>
          <div class="best__item-coupon-subtitle">100% up to 400$</div>
          <div class="best__item-coupon-text">1st Deposit Bonus</div>
          <a href="#" class="best__item-coupon-link orange-btn">Play</a>
        </div>
      </li>
      <li class="best__item">
        <div class="best__item-wrapper">
          <div class="best__item-image">
            <picture>
              <source srcset="img/home/best/casino-img.webp" type="image/webp">
              <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                   height="122" alt="image-casino">
            </picture>
          </div>
          <div class="best__item-info">
            <div class="best__item-title">Parimatch</div>
            <div class="best__item-licensed">
              <div class="best__item-licensed-one">About</div>
              <div class="best__item-licensed-two">Licensed</div>
            </div>
            <div class="best__item-rating">
              <div class="best__item-rating-star">
                <img src="img/home/best/star.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-star-text">4.5 / 5</div>
              </div>
              <div class="best__item-rating-comment">
                <img src="img/home/best/message.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-comment-text">22 comment</div>
              </div>
            </div>
            <div class="best__item-link_wrap">
              <a href="#" class="best__item-link burgundy-btn">Play</a>
              <a href="#" class="best__item-sublink">T&Cs Apply </a>
            </div>
          </div>
          <div class="best__item-reviews">
            <ul class="best__item-plus">
              <li class="best__item-plus-txt">
                Large selection of bonuses for registered gravites.
              </li>
              <li class="best__item-plus-txt">Possibility of robiting Possibility of robiting bets on
                sports grounds.
              </li>
              <li class="best__item-plus-txt">Simple interface.</li>
              <li class="best__item-plus-txt">
                Great range of games. Possibility of robiting bets on sports grounds. Possibility of
                robiting bets on sports grounds.
              </li>
            </ul>
          </div>
          <div class="best__item-reviews-btn">Info</div>
        </div>
        <div class="best__item-coupon">
          <div class="best__item-coupon-title">Similar slots</div>
          <div class="best__item-coupon-subtitle">100% up to 400$</div>
          <div class="best__item-coupon-text">1st Deposit Bonus</div>
          <a href="#" class="best__item-coupon-link orange-btn">Play</a>
        </div>
      </li>
      <li class="best__item">
        <div class="best__item-wrapper">
          <div class="best__item-image">
            <picture>
              <source srcset="img/home/best/casino-img.webp" type="image/webp">
              <img loading="lazy" src="img/home/best/casino-img.png" width="280"
                   height="122" alt="image-casino">
            </picture>
          </div>
          <div class="best__item-info">
            <div class="best__item-title">Parimatch</div>
            <div class="best__item-licensed">
              <div class="best__item-licensed-one">About</div>
              <div class="best__item-licensed-two">Licensed</div>
            </div>
            <div class="best__item-rating">
              <div class="best__item-rating-star">
                <img src="img/home/best/star.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-star-text">4.5 / 5</div>
              </div>
              <div class="best__item-rating-comment">
                <img src="img/home/best/message.svg" alt="star" width="14" height="14">
                <div class="best__item-rating-comment-text">22 comment</div>
              </div>
            </div>
            <div class="best__item-link_wrap">
              <a href="#" class="best__item-link burgundy-btn">Play</a>
              <a href="#" class="best__item-sublink">T&Cs Apply </a>
            </div>
          </div>
          <div class="best__item-reviews">
            <ul class="best__item-plus">
              <li class="best__item-plus-txt">
                Large selection of bonuses for registered gravites.
              </li>
              <li class="best__item-plus-txt">Possibility of robiting Possibility of robiting bets on
                sports grounds.
              </li>
              <li class="best__item-plus-txt">Simple interface.</li>
              <li class="best__item-plus-txt">
                Great range of games. Possibility of robiting bets on sports grounds. Possibility of
                robiting bets on sports grounds.
              </li>
            </ul>
          </div>
          <div class="best__item-reviews-btn">Info</div>
        </div>
        <div class="best__item-coupon">
          <div class="best__item-coupon-title">Similar slots</div>
          <div class="best__item-coupon-subtitle">100% up to 400$</div>
          <div class="best__item-coupon-text">1st Deposit Bonus</div>
          <a href="#" class="best__item-coupon-link orange-btn">Play</a>
        </div>
      </li>
    </ul>
    <a href="#" class="best__link burgundy-btn">Show All</a>
  </div>
</section>