<section class="slot">
    <div class="slot__container">
        <h2 class="slot__title title">Types of bonuses in poker rooms</h2>
        <p class="slot__text">You should only pick reliable casino sites that suit your interests and needs. When finding the best online casino in Australia, the following tips may be helpful.</p>
        <ul class="slot__list">
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>
                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
            <li class="slot__item">
                <div class="slot__item-info burgundy-btn">
                    <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
                    <div class="slot__item-info-text">
                        Какой- то супер дупер текст при наведении
                    </div>
                </div>

                <div class="slot__item-image">
                    <picture>
                        <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="slot__item-title">Parimatch</div>
                <div class="slot__item-licensed">
                    <div class="slot__item-licensed-one">Bonus</div>
                    <div class="slot__item-licensed-two">Licensed</div>
                </div>
                <a href="#" class="slot__item-link orange-btn">Play</a>
            </li>
        </ul>
        <a href="#" class="slot__link burgundy-btn">Show all</a>
    </div>
</section>