.optimization {
  background: linear-gradient(to bottom, #130d2c, #100c23);
  &__container {
    padding: 100px 15px;
  }
  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    gap: 100px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .item {
    &__logo {
      width: 50%;
      max-width: 558px;
      position: relative;
      width: 50%;
    }
    &__wrapper {
      padding: 40px;
      border: 1px solid #d3d3d33b;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 408px;
      border-radius: 12px;
      overflow: hidden;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.084) 0%,
        rgba(217, 217, 217, 0.042) 100%
      );
      &.left-img {
        padding-left: 0;
        padding-right: 27px;
        position: relative;
      }
      &.phone {
        padding-left: 61px;
        padding-right: 57px;
        padding-top: 30px;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background: #dd00b8;
          filter: blur(200px);
          margin: auto 0;
          width: 269px;
          height: 269px;
          border-radius: 50%;
          opacity: 0.5;
        }
        &::after {
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background: url('../img/new-app-page/optimization/bg_vector.png') no-repeat 50% 50% /
            contain;
          width: 397px;
        }
      }
    }
    &__image {
      &.left {
        position: absolute;
        left: 0;
      }
      &.icon {
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
      }
      &.phone {
        position: relative;
        z-index: 2;
      }
    }

    &__description {
      z-index: 3;
      position: absolute;
      border: 1px solid rgba(225, 32, 193, 0.4);
      bottom: -40px;
      max-width: 487px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 16px 20px;
      background: linear-gradient(180deg, #282538 0%, rgba(217, 217, 217, 0.04) 100%);
      box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
      backdrop-filter: blur(25px);
    }
    &__ico {
      width: 32px;
      height: 32px;
    }

    &__details {
      width: 50%;
      max-width: 558px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__link {
      margin-top: 30px;
      display: flex;
      width: fit-content;
      position: relative;
      padding: 16px 31px;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0);
      background: radial-gradient(
          100% 100% at 50% 0%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #e5053d;
      box-shadow: 0px 2.732px 5.465px 0px rgba(255, 98, 65, 0.48);
      color: #fff;
      text-shadow: 0px 1.366px 0.683px rgba(0, 0, 0, 0.25);
      font-family: $font-popins-bold;
      font-size: 14px;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      transition: background $transition;
      &:hover {
        background: radial-gradient(
            100% 100% at 50% 0%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #b4012e;
      }
      &::after {
        content: '';
        position: relative;
        display: block;
        height: 12px;
        width: 17px;
        background: url('../img/new-app-page/optimization/arrow.svg') no-repeat 50% 50% / contain;
      }
    }
  }
}
@media screen and (max-width: 1220px) {
  .optimization {
    &__item {
      gap: 30px;
    }
    .item {
      &__wrapper {
        &.phone {
          padding-left: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .optimization {
    &__container {
      padding: 40px 15px 80px;
    }
    .item {
      flex-direction: column-reverse;
      &:nth-child(even) {
        flex-direction: column-reverse;
      }
      &__logo {
        width: 100%;
        margin: 0 auto;
      }
      &__details {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .optimization {
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .item {
      gap: 28px;
      &__wrapper {
        &.phone {
          &::before {
            width: 167px;
            height: 167px;
          }
          &::after {
            background: url('../img/new-app-page/optimization/bg_vector.png') no-repeat 0 50% /
              cover;
            width: 370px;
          }
        }
      }
      &__description {
        padding: 13px 18px;
        gap: 18px;
        bottom: 10px;
        transform: translateX(-50%) translateY(100%);
      }
      &__ico {
        width: 28px;
        height: 28px;
      }
      &__image {
        &.icon {
          width: 90px;
          height: 90px;
        }
      }

      &__link {
        margin-top: 20px;
        padding: 11px;
        font-size: 12px;
        &::after {
          width: 15px;
          height: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .optimization {
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .item {
      gap: 28px;
      &__wrapper {
        height: auto;
        min-height: 270px;
        &.phone {
          padding-right: 30px;
          &::before {
            width: 167px;
            height: 167px;
          }
          &::after {
            background: url('../img/new-app-page/optimization/bg_vector.png') no-repeat 0 50% /
              cover;
            width: 250px;
          }
        }
      }
      &__image {
        &.phone {
          width: 150px;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .optimization {
    .item {
      &__wrapper {
        padding: 25px 15px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .optimization {
    .item {
      &__wrapper {
        min-height: 250px;
        &.phone {
          padding-right: 20px;
          &::before {
            width: 150px;
            height: 150px;
          }
          &::after {
            background: url('../img/new-app-page/optimization/bg_vector.png') no-repeat 0 50% /
              cover;
            width: 230px;
          }
        }
      }
      &__image {
        &.phone {
          width: 140px;
        }
      }
    }
  }
}
