.stores {
  background: #100c23;
  position: relative;

  &__container {
    padding: 70px 15px;
    display: flex;
    gap: 50px;
  }

  &__title {
    width: fit-content;
    margin-bottom: 20px;
  }
  &__sub-title {
    margin-bottom: 30px;
    max-width: 440px;
  }
  &__store {
    padding: 18px 30px 50px 50px;
  }
  .store {
    position: relative;
    border-radius: 12px;
    border: 1px solid rgba(157, 155, 155, 0.3);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    &__header {
      display: flex;
    }
    &__logo {
      width: 60%;
    }
    &__link {
      display: block;
      width: 40%;
      transition: opacity $transition;
      &:hover {
        opacity: 0.6;
      }
    }
    &__ico {
      position: relative;
    }
    &__title {
      position: relative;

      margin-bottom: 20px;
    }
    &__description {
      position: relative;

      margin-bottom: 30px;
    }
    &__table {
      position: relative;
      margin-bottom: 40px;
      table {
        width: 100%;
        tbody {
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 1px;
            width: 100%;
            background: -webkit-gradient(
              linear,
              left top,
              right top,
              color-stop(1.04%, rgba(227, 44, 196, 0.8)),
              to(rgba(227, 44, 196, 0))
            );
            background: linear-gradient(
              90deg,
              rgba(227, 44, 196, 0.8) 1.04%,
              rgba(227, 44, 196, 0) 100%
            );
          }
          tr {
            position: relative;
            display: flex;
            align-items: center;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              height: 1px;
              width: 100%;
              background: -webkit-gradient(
                linear,
                left top,
                right top,
                color-stop(1.04%, rgba(227, 44, 196, 0.8)),
                to(rgba(227, 44, 196, 0))
              );
              background: linear-gradient(
                90deg,
                rgba(227, 44, 196, 0.8) 1.04%,
                rgba(227, 44, 196, 0) 100%
              );
            }
            td {
              color: white;
              padding: 0;
              font-family: $font-popins-reg;
              font-size: 16px;
              line-height: 150%;
              &:nth-child(1) {
                color: rgba(255, 255, 255, 0.6);
                padding: 10px 20px 10px 0;
                width: 20%;
              }
            }
          }
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      opacity: 0.2;
      background: #605d5d 0% 0%/100px 100px repeat;
      -webkit-filter: blur(10px);
      filter: blur(10px);
    }
    &__play-btn {
      position: relative;
      display: flex;
      padding: 16px 31px;
      width: fit-content;
      gap: 10px;
      color: #fff;
      text-shadow: 0px 1.366px 0.683px rgba(0, 0, 0, 0.25);
      font-family: $font-popins-bold;
      font-size: 14px;
      letter-spacing: 0.28px;
      text-transform: uppercase;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0);
      background: radial-gradient(
          100% 100% at 50% 0%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #e5053d;
      box-shadow: 0px 2.732px 5.465px 0px rgba(255, 98, 65, 0.48);
      transition: background-color $transition;

      &::after {
        content: '';
        display: block;
        height: 12px;
        width: 17px;
        background-color: white;
        -webkit-mask: url('../img/new-app-page/hero/triple-arrow.svg') no-repeat center;
        -webkit-mask-size: contain;
        mask: url('../img/new-app-page/hero/triple-arrow.svg') no-repeat center;
        mask-size: contain;
        margin: 0 0 0 8px;
        transform: rotate(180deg);
      }
      &:hover {
        background: radial-gradient(
            100% 100% at 50% 0%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #b4012e;
      }
    }
  }
}

@media (max-width: 1300px) {
  .stores {
    &__container {
      gap: 20px;
    }
  }
}
@media (max-width: 1150px) {
  .stores {
    .store {
      &__play-btn {
        font-size: 12px;
        padding: 12px;
        gap: 16px;
        align-items: center;
        &::after {
          width: 15px;
          height: 10px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .stores {
    &__container {
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  .stores {
    &__container {
      padding: 40px 0;
    }
    .store {
      padding: 18px 18px 20px 20px;
      &__title {
        margin-bottom: 14px;
      }
      &__description {
        margin-bottom: 20px;
      }
      &__table {
        margin-bottom: 20px;
        table {
          tbody {
            tr {
              td {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .stores {
    .store {
      padding: 15px;
      &__title {
        margin-bottom: 14px;
      }
      &__description {
        margin-bottom: 20px;
      }
      &__table {
        margin-bottom: 20px;
        table {
          tbody {
            tr {
              td {
                &:nth-child(1) {
                  color: rgba(255, 255, 255, 0.6);
                  padding: 10px 10px 10px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
