.troubleshooting {
  position: relative;
  background: linear-gradient(to bottom, #130d2c, #100c23);

  &__container {
    padding: 70px 15px;
  }

  &__title {
    width: fit-content;
    margin-bottom: 20px;
  }
  &__sub-title {
    max-width: 700px;
    margin-bottom: 40px;
  }
  &__cards {
  }
  &__card {
  }
  .card {
  }
  .swiper {
    padding-bottom: 40px;
    &-wrapper {
      width: 100%;
    }
    &-slide {
    }
    &-pagination-bullet {
      background-color: #e5053d;
      width: 12px;
      height: 12px;
      transition: opacity $transition;
      &:hover {
        opacity: 0.5;
      }
    }
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 20px 20px 30px;
      border: 1px solid rgba(225, 32, 193, 0.4);
      border-radius: 12px;
      height: auto;
      &__image {
        width: 100%;
        margin-bottom: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: #0f0c22;
        height: 200px;
        box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.13) inset;
      }
      &__title {
        margin-bottom: 10px;
        color: #fff;
        font-family: $font-popins-semb;
        font-size: 22px;
        line-height: 130%;
      }
      &__text {
        color: rgba(255, 255, 255, 0.8);
        font-family: $font-popins-reg;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}

@media (max-width: 1050px) {
  .troubleshooting {
    .swiper {
      .card {
        padding: 15px 10px;
        &__ico {
          margin-bottom: 15px;
        }
        &__title {
          font-size: 20px;
          margin-bottom: 10px;
        }
        &__text {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .troubleshooting {
    &__container {
      padding: 40px 0;
    }
    &__title {
      padding: 0 15px;
    }
    &__sub-title {
      padding: 0 15px;
    }
  }
}

@media (max-width: 490px) {
  .troubleshooting {
    &__container {
      padding-bottom: 10px;
    }
    .swiper {
      .card {
        &__ico {
          width: 80px;
          height: 80px;
          margin-bottom: 14px;
        }
        &__title {
          font-size: 18px;
          margin-bottom: 12px;
        }
        &__text {
          font-size: 12px;
        }
      }
    }
  }
}
