<section class="best" id="blog1">
    <div class="best__container">
        <h2 class="best__title title">Best Australian Online Casino Sites</h2>
        <p class="best__text">
            The best Australian online casino typically provides significant incentives, the newest casino games,
            high-end security and incredibly dependable customer care. In light of this, we are prepared to assist you
            in choosing the best online casino Australia offers after spending many hours researching. According to our
            unique rating algorithm, the top Australian online casino is Ricky casino. However, many more casino sites
            are very similar to it. Below is the list of the best</p>
        <div class="best__tabs-wrap">
            <ul class="best__tabs">
                <li class="best__tabs-item">
                    <button class="best__tabs-btn _active" aria-label="all">All</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="About">About</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn " aria-label="Bonuses">Bonuses</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Banking">Banking</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Games">Games</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Info">Info</button>
                </li>
                <li class="best__tabs-item">
                    <button class="best__tabs-btn" aria-label="Pro">Pro</button>
                </li>
            </ul>
        </div>
        <ul class="best__list">
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
            <li class="best__item">
                <div class="best__item-info">
                    <div class="best__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="best__item-rtp">
                        <div class="best__item-rtp-percent">80%</div>
                        <div class="best__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="best__item-title">Parimatch</div>
                <div class="best__item-licensed">
                    <div class="best__item-licensed-one">Licensed</div>
                    <div class="best__item-licensed-two">Licensed</div>
                </div>
                <div class="best__item-review">
                    <div class="best__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="best__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="best__item-review-text">22 comment</div>
                    </div>
                </div>
                <ul class="best__item-list">
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of lines:</div>
                        <div class="best__item-item-info">nine</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Min. bid:</div>
                        <div class="best__item-item-info">182</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Number of drum:</div>
                        <div class="best__item-item-info">twenty</div>
                    </li>
                    <li class="best__item-item">
                        <div class="best__item-item-title">Max. bid:</div>
                        <div class="best__item-item-info">5000</div>
                    </li>
                </ul>
                <div class="best__item-buttons">
                    <a href="#" class="best__item-btn orange-btn">Review</a>
                    <a href="#" class="best__item-btn burgundy-btn">Play</a>
                </div>
            </li>
        </ul>
        <a href="#" class="best__all-link burgundy-btn">Show All</a>
    </div>
</section>