.wrapper {
  display: flex;
  padding: 40px 0 50px 0;


  &__container{
    width: 100%;
    display: flex;
  }
}

.main{
  flex: 1 1 auto;
  width: 100%;
}

@media screen and (max-width: 1024px){
  .wrapper{
    padding: 30px 0 30px 0;
    overflow: hidden;
    &__container{
      flex-direction: column;
      padding: 0 !important;
    }
  }
}

