<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link">Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info">
                <div class="casino__info-image">
                    <picture>
                        <source srcset="img/page5/casino/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page5/casino/casino-img.png" width="324"
                             height="128" alt="image-casino">
                    </picture>
                </div>
                <div class="casino__info-wrap">
                    <h1 class="casino__info-title">Parimatch</h1>
                    <div class="casino__info-licensed">
                        <div class="casino__info-licensed-one">Licensed</div>
                        <div class="casino__info-licensed-two">Licensed</div>
                    </div>
                </div>
                <div class="casino__info-reviews">
                    <div class="casino__info-reviews-star">
                        <img src="img/page5/casino/star.svg" alt="star" width="14" height="14">
                        <div class="casino__info-reviews-text">4.5 / 5</div>
                    </div>
                    <div class="casino__info-reviews-comment">
                        <img src="img/page5/casino/comment.svg" alt="star" width="14" height="14">
                        <div class="casino__info-reviews-text">22 comment</div>
                    </div>
                </div>
                <div class="casino__info-buttons" data-da=".casino__create,1024,0">
                    <a href="#" class="casino__info-btn_play orange-btn">Play</a>
                    <button type="button" class="casino__info-btn_like burgundy-btn" aria-label="like-btn">
                        <img src="img/page5/casino/like.svg" alt="like" width="17.5" height="14.5">
                    </button>
                </div>

            </div>
            <div class="casino__create">
                <div class="casino__create-date" data-da=".casino__row,1024,3">
                    <div class="casino__create-date-created">Data created: 20.08.2022</div>
                    <div class="casino__create-date-update">Lost updated: 20.08.2022</div>
                </div>
                <div class="casino__create-from">
                    <div class="casino__create-from-text">From Parimatch</div>
                    <div class="casino__create-from-image">
                        <picture>
                            <source srcset="img/page5/casino/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page5/casino/casino-img.png" width="142"
                                 height="60" alt="image-casino">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>