<section class="game" id="block1">
    <h2 class="game__title title">Online casino bonuses</h2>
    <p class="game__text">To play Norwegian casino games online safely, we recommend only doing so on regulated and
        licensed casino platforms. Also, be sure that our team can only nominate titles that are safe to play Norwegian
        casino games online, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that
        our team only</p>
    <div class="game__image">
        <picture>
            <source srcset="img/page5/games/game-img.webp" type="image/webp">
            <img loading="lazy" src="img/page5/games/game-img.jpg" width="820"
                 height="600" alt="image-game">
        </picture>
        <div class="game__image-buttons">
            <a href="#" class="game__image-btn orange-btn">Play</a>
            <a href="#" class="game__image-btn orange-btn">Review</a>
        </div>
    </div>
    <ul class="game__list">
        <li class="game__item">
            <div class="game__item-title">Year of foundation</div>
            <div class="game__item-info">2016</div>
        </li>
        <li class="game__item">
            <div class="game__item-title">Owner company:</div>
            <div class="game__item-info">2016</div>
        </li>
        <li class="game__item">
            <div class="game__item-title">Year of foundation</div>
            <div class="game__item-info">2016</div>
        </li>
        <li class="game__item">
            <div class="game__item-title">Owner company:</div>
            <div class="game__item-info">2016</div>
        </li>
        <li class="game__item">
            <div class="game__item-title">Year of foundation</div>
            <div class="game__item-info">2016</div>
        </li>
    </ul>
</section>