<section class="news" id="block3">
    <h2 class="news__title title">News</h2>
    <div class="news__blog">
        <p>Australians know that online gambling Australia is more complicated than in other countries. That’s
            because there are various restrictions to the status of Australian online gambling from a legal
            standpoint. The sale of gambling items by local vendors to the public is forbidden. Nevertheless,
            this restriction does not apply to international casino operators.
        </p>
        <h3>Online Gambling Australia</h3>
        <p>Australians know that online gambling Australia is more complicated than in other countries. That’s
            because there are various restrictions to the status of Australian online gambling from a legal
            standpoint. The sale of gambling items by local vendors to the public is forbidden. Nevertheless,
            this restriction does not apply to international casino operators.
        </p>
        <blockquote>
            The Australian government decided to enact a law in 2017 that forbade the operation of an online
            casino that accepts Australian players. Although sport betting websites are acceptable, they must
            abide by some very strict regulations to remain legal and avoid fines.
        </blockquote>
        <div class="content-table">
            <table>
                <tbody>
                <tr>
                    <td>🎰 Online casino games</td>
                    <td>Slot machines, roulette, poker games, slots</td>
                </tr>
                <tr>
                    <td>⭐️ Slots game modes</td>
                    <td>For money, demo mode</td>
                </tr>
                <tr>
                    <td>🎁 Bonuses</td>
                    <td>No deposit bonuses, welcome gifts, cashback, free spins</td>
                </tr>
                <tr>
                    <td>💵 Available currencies</td>
                    <td>UAH, EUR, USD, KZT, UZS and other.</td>
                </tr>
                <tr>
                    <td>❤️ Minimum deposit in the casino</td>
                    <td>1 UAH, 2 EUR, 2 USD</td>
                </tr>
                <tr>
                    <td>💲 Minimum withdrawal amount at the casino</td>
                    <td>50 UAH</td>
                </tr>
                <tr>
                    <td>🔥 Payment methods in the casino</td>
                    <td>Mastercard, Visa, internet banking, Google Play, Apple Pay, cryptocurrency, terminals</td>
                </tr>
                <tr>
                    <td>⚡️ Player support</td>
                    <td>Online chat, e-mail, mobile phone</td>
                </tr>
                <tr>
                    <td>📱 Mobile casino</td>
                    <td>iOS, Android, Windows</td>
                </tr>
                <tr>
                    <td>✅ Popular providers</td>
                    <td>Novomatic, Playtech, NetEnt, Microgaming, Yggdrasil, EvoPlay, NetGame та інші.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>