<section class="rtp" id="block2">
    <h2 class="rtp__title title">Return RTP</h2>
    <ul class="rtp__list">
        <li class="rtp__item">
            <div class="rtp__item-title">RTP (%)</div>
            <div class="rtp__item-text">96.86</div>
        </li>
        <li class="rtp__item">
            <div class="rtp__item-title">Owner</div>
            <div class="rtp__item-text">Australia</div>
        </li>
        <li class="rtp__item">
            <div class="rtp__item-title">License</div>
            <div class="rtp__item-text">Australia</div>
        </li>
    </ul>
</section>