<section class="slots" id="block4">
    <h2 class="slots__title title">Slots</h2>
    <ul class="slots__list">
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
        <li class="slots__item">
            <picture>
                <source srcset="img/page5/slots/game-img.webp" type="image/webp">
                <img loading="lazy" src="img/page5/slots/game-img.jpg" width="820"
                     height="600" alt="image-game">
            </picture>
            <div class="slots__item-info">
                <a href="#" class="slots__item-link" aria-label="slot-link"></a>
                <div class="slots__item-title">Immortal Rommance</div>
                <p class="slots__item-text">Microgaming</p>
                <div class="slots__item-btn orange-btn">Play</div>
            </div>
        </li>
    </ul>
    <a href="#" class="slots__all-link">All Slots</a>
</section>