<section class="casinos">
  <div class="casinos__container">
    <h2 class="casinos__title">Other casinos you might like</h2>
    <p class="casinos__text">We recommend checking out these similar casino brands that also feature the Aviator game.</p>

    <div class="casinos__list">
      <div class="casinos__buttons">
        <button disabled class="casinos__button casinos__button--prew">
          <img src="img/new-page/up-btn-desk.svg" alt="" />
        </button>
        <button class="casinos__button casinos__button--next">
          <img src="img/new-page/up-btn-desk.svg" alt="" />
        </button>
      </div>
      <div class="casinos__casino casino">
        <div class="casino__header">
          <div class="casino__info">
            <p class="casino__title">Favbet</p>
            <p class="casino__sub-title">Indian-Focused Sports Betting</p>
          </div>
          <div class="casino__logo"></div>
        </div>
        <div class="casino__bonus">Welcome Bonus: Welcome Pack 700% up to 90000 INR</div>
      </div>

      <div class="casinos__casino casino">
        <div class="casino__header">
          <div class="casino__info">
            <p class="casino__title">Favbet</p>
            <p class="casino__sub-title">Indian-Focused Sports Betting</p>
          </div>
          <div class="casino__logo"></div>
        </div>
        <div class="casino__bonus">Welcome Bonus: Welcome Pack 700% up to 90000 INR</div>
      </div>

      <div class="casinos__casino casino">
        <div class="casino__header">
          <div class="casino__info">
            <p class="casino__title">Favbet</p>
            <p class="casino__sub-title">Indian-Focused Sports Betting</p>
          </div>
          <div class="casino__logo"></div>
        </div>
        <div class="casino__bonus">Welcome Bonus: Welcome Pack 700% up to 90000 INR</div>
      </div>

      <div class="casinos__casino casino">
        <div class="casino__header">
          <div class="casino__info">
            <p class="casino__title">Favbet</p>
            <p class="casino__sub-title">Indian-Focused Sports Betting</p>
          </div>
          <div class="casino__logo"></div>
        </div>
        <div class="casino__bonus">Welcome Bonus: Welcome Pack 700% up to 90000 INR</div>
      </div>

      <div class="casinos__casino casino">
        <div class="casino__header">
          <div class="casino__info">
            <p class="casino__title">Favbet</p>
            <p class="casino__sub-title">Indian-Focused Sports Betting</p>
          </div>
          <div class="casino__logo"></div>
        </div>
        <div class="casino__bonus">Welcome Bonus: Welcome Pack 700% up to 90000 INR</div>
      </div>
    </div>
  </div>
</section>
