<section class="hero">
  <div class="hero__container">
    <div class="hero__left">
      <a class="hero__back-btn back-btn" href="#">
        <!-- <img class="back-btn__arrow" src="img/new-page/play-btn.svg" alt="go back button" /> -->
        go back
      </a>
      <h1 class="hero__title">Play Aviator at Favbet</h1>
      <p class="hero__text">
        Before starting gambling on 4Rabet Aviator, which is based on a random number generator, you need to know some information. Learn
        what promotions are offered here and what you need to do to obtain them. Find out how to sign up at this website and what banking
        options and currencies are available.
      </p>
      <p class="hero__sub-text">
        *Website is owned by Group of Companies, having its registered office at 4, Nicosia, Cyprus. The Group includes a company
        incorporated under the laws of Cyprus with a company registration and having its registered office at Nicosia, Cyprus a company
        incorporated under the laws. Company: Umbrella Development B.V.
      </p>
    </div>
    <div class="hero__right right">
      <div class="right__header">
        <p class="right__title">
          www.favbet.ua <br />
          ONLINE CASINO
        </p>
        <img class="right__logo" src="img/new-page/hero-favbet-logo.png" alt="favbet logo" />
      </div>
      <ul class="right__list">
        <li class="right__item">Indian-Focused Sports Betting</li>
        <li class="right__item">Deposit Methods for Indians</li>
        <li class="right__item">Live Chat Customer Support</li>
        <li class="right__item">Android and iOS mobile app</li>
        <li class="right__item">Rapid payments</li>
      </ul>
      <div class="right__bonus bonus">
        <p class="bonus__text">Welcome Bonus: Welcome Pack 700% up to 90000 INR</p>
        <a class="bonus__btn" href="#">
          Get your bonus and play
          <img class="bonus__btn__arrow" src="img/new-page/play-btn.svg" alt="Get your bonus and play" />
        </a>
      </div>
    </div>
  </div>
</section>
