<section class="how-get">
  <div class="how-get__container">
    <div class="how-get__item item">
      <div class="item__logo">
        <img class="item__image" src="img/new-page/how-get/no-image.png" alt="image" />

        <div class="item__description">
          <img class="item__ico" src="img/new-page/how-get/pin.svg" alt="item image icon" />
          <p class="item__text">
            Be sure to review the casino’s terms and conditions regarding deposits and withdrawals
          </p>
        </div>
      </div>
      <div class="item__details item__details--1">
        <div class="item__content item__content--1">
          <h2 class="item__title">How to get a bonus</h2>
          <p class="item__sub-text item__sub-text--1">
            Casino 4Rabet offers players bonuses, which can be immediately used in the betting game
            Aviator.
            <br />
            1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It
            consists of four welcome gifts. More about the bonus: 2. The casino has an active bonus
            called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
            It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000
            rupees for a subscription. The casino offers no-deposit daily bonuses, such as
            subscriptions to the institution’s
            <br />
            1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It
            consists of four welcome gifts. More about the bonus: 2. The casino has an active bonus
            called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
            It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000
            rupees for a subscription. The casino offers no-deposit daily bonuses, such as
            subscriptions to the institution’s
          </p>
        </div>
        <button class="item__link smb1" href="#">Show more</button>
      </div>
    </div>

    <div class="how-get__item item">
      <div class="item__logo">
        <!-- <img class="item__image" src="img/new-page/how-get/no-image.png" alt="image" /> -->
        <img class="item__image" src="img/new-page/how-get/test-image2.jpg" alt="image" />

        <div class="item__description">
          <img class="item__ico" src="img/new-page/how-get/pin.svg" alt="item image icon" />
          <p class="item__text">
            Be sure to review the casino’s terms and conditions regarding deposits and withdrawals
          </p>
        </div>
      </div>
      <div class="item__details item__details--2">
        <div class="item__content item__content--2">
          <h2 class="item__title">Test image 1</h2>
          <p class="item__sub-text item__sub-text--2">
            Casino 4Rabet offers players bonuses, which can be immediately used in the betting game
            Aviator.
            <br />
            1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It
            consists of four welcome gifts. More about the bonus: 2. The casino has an active bonus
            called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
            It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000
            rupees for a subscription. The casino offers no-deposit daily bonuses, such as
            subscriptions to the institution’s
            <br />
            1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It
            consists of four welcome gifts. More about the bonus: 2. The casino has an active bonus
            called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
            It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000
            rupees for a subscription. The casino offers no-deposit daily bonuses, such as
            subscriptions to the institution’s
          </p>
        </div>
        <button class="item__link smb2" href="#">Show more</button>
      </div>
    </div>

    <div class="how-get__item item">
      <div class="item__logo">
        <!-- <img class="item__image" src="img/new-page/how-get/no-image.png" alt="image" /> -->
        <img class="item__image" src="img/new-page/how-get/test-image.jpg" alt="image" />
        <!-- <div class="item__description">
          <img class="item__ico" src="img/new-page/how-get/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div> -->
      </div>
      <div class="item__details item__details--3">
        <div class="item__content item__content--3">
          <h2 class="item__title">Test image 2</h2>
          <p class="item__sub-text item__sub-text--3">
            Casino 4Rabet offers players bonuses, which can be immediately used in the betting game
            Aviator.
            <br />
            1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It
            consists of four welcome gifts. More about the bonus: 2. The casino has an active bonus
            called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
            It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000
            rupees for a subscription. The casino offers no-deposit daily bonuses, such as
            subscriptions to the institution’s
            <br />
            1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It
            consists of four welcome gifts. More about the bonus: 2. The casino has an active bonus
            called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
            It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000
            rupees for a subscription. The casino offers no-deposit daily bonuses, such as
            subscriptions to the institution’s
          </p>
        </div>
        <button class="item__link smb3" href="#">Show more</button>
      </div>
    </div>
  </div>
</section>
