<section class="how-get">
  <div class="how-get__container">
    <div class="how-get__item item">
      <div class="item__logo">
        <img class="item__image" src="img/new-page/how-get/no-image.png" alt="image" />
        <!-- <img class="item__image" src="img/new-page/how-get/test-image2.jpg" alt="image" /> -->

        <div class="item__description">
          <img class="item__ico" src="img/new-page/how-get/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="item__title">How to get a bonus</h2>
        <p class="item__sub-text">
          Casino 4Rabet offers players bonuses, which can be immediately used in the betting game Aviator.
          <br />
          1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It consists of four welcome gifts. More about the
          bonus: 2. The casino has an active bonus called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
          It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000 rupees for a subscription. The casino
          offers no-deposit daily bonuses, such as subscriptions to the institution’s
        </p>
        <a class="item__link" href="#">Show more</a>
      </div>
    </div>

    <div class="how-get__item item">
      <div class="item__logo">
        <!-- <img class="item__image" src="img/new-page/how-get/no-image.png" alt="image" /> -->
        <img class="item__image" src="img/new-page/how-get/test-image2.jpg" alt="image" />

        <div class="item__description">
          <img class="item__ico" src="img/new-page/how-get/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="item__title">Test image 1</h2>
        <p class="item__sub-text">
          Casino 4Rabet offers players bonuses, which can be immediately used in the betting game Aviator.
          <br />
          1. Large welcome bonus for new players. The bonus is up to 90,000 Indian rupees. It consists of four welcome gifts. More about the
          bonus: 2. The casino has an active bonus called “Cashback” Gambling establishment 4Rabet accrues at the end of each month bonus.
          It is calculated as a percentage of the amount of money lost. 3. A player can get 1,000 rupees for a subscription. The casino
          offers no-deposit daily bonuses, such as subscriptions to the institution’s
        </p>
        <a class="item__link" href="#">Show more</a>
      </div>
    </div>

    <div class="how-get__item item">
      <div class="item__logo">
        <!-- <img class="item__image" src="img/new-page/how-get/no-image.png" alt="image" /> -->
        <img class="item__image" src="img/new-page/how-get/test-image.jpg" alt="image" />
        <!-- <div class="item__description">
          <img class="item__ico" src="img/new-page/how-get/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div> -->
      </div>
      <div class="item__details">
        <h2 class="item__title">Test image 2</h2>
        <p class="item__sub-text">
          To install the 4Rabet app, players will need to have a mobile device with certain technical characteristics: Android version 5.0
          or higher space for the application of 30 megabytes To download the application, the player needs to perform a few steps: go to
          the main site of the gambling establishment 4Rabet; in the center of the screen, players will have an advertising banner with the
          opportunity to download the mobile application for Android and iOS devices. The gambler needs to click on the icon of the
          operating system and in the window that will open again click on Android; this will start downloading the file, which will need to
          be
        </p>
        <a class="item__link" href="#">Show more</a>
      </div>
    </div>
  </div>
</section>
