<section class="info">
  <div class="info__container">
    <h1 class="info__title">Favbet Aviator Info</h1>
    <p class="info__text">
      In 2019, this social multiplayer casino game was launched as a passion project by a
      lesser-known studio, Spribe. Nowadays, it gets more than 32 million players every month.
      Aviator is a popular
    </p>
    <div class="info__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/license.svg" alt="slide icon" />
            <span class="slide__title">License:</span>
          </div>
          <p class="slide__text">Curacao</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/year.svg" alt="slide icon" />
            <span class="slide__title">Year of Launch:</span>
          </div>
          <p class="slide__text">2018</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Company</span>
          </div>
          <p class="slide__text">Umbrella Development B.V.</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/language.svg" alt="slide icon" />
            <span class="slide__title">Min Deposit:</span>
          </div>
          <p class="slide__text">100 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Withdrawal Limit:</span>
          </div>
          <p class="slide__text">Min 1000 / Max 250,000 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Bonuses:</span>
          </div>
          <p class="slide__text">200% up to 24,000 INR</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  let swiper = null;

  function initOrDestroyInfoSwiper() {
    const screenWidth = window.innerWidth;

    if (screenWidth <= 620 && !swiper) {
      swiper = new Swiper('.swiper', {
        loop: true,
        slidesPerView: 1.2,
        grabCursor: true,
        spaceBetween: 15,
        centeredSlides: true,
        initialSlide: 0,
        autoplay: false,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    } else if (screenWidth > 620 && swiper) {
      swiper.destroy(true, true);
      swiper = null;
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    initOrDestroyInfoSwiper();
    window.addEventListener('resize', initOrDestroyInfoSwiper);
  });
</script>
