.how-to-play {
  position: relative;
  background: linear-gradient(to bottom, #130d2c, #100c23);
  // &::before {
  //   content: '';
  //   position: absolute;
  //   width: 521px;
  //   height: 347px;
  //   left: 0;
  //   top: 0;
  //   opacity: 0.6;
  //   background: url('../img/new-home-page/how-to-play/lines.svg') no-repeat 0 0 / cover;
  // }
  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 521px;
  //   height: 347px;
  //   right: 0;
  //   top: 0;
  //   opacity: 0.6;
  //   background: url('../img/new-home-page/how-to-play/lines.svg') no-repeat 0 0 / cover;
  //   transform: scaleX(-1);
  // }
  &__container {
    padding: 50px 15px 70px;
  }

  &__title {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 740px;
    text-align: center;
    font-family: $font-popins-semb;
    font-size: 40px;
    line-height: 130%;
    background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__sub-title {
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: $font-popins-reg;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .swiper {
  }
  .how-to-playSwiper {
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 60px;
  }
  .swiper-slide {
  }
  .how-to-play-item {
    width: 32%;
    &__title {
      margin-bottom: 12px;
      text-align: center;
      color: #fff;
      font-family: $font-popins-semb;
      font-size: 22px;
      line-height: 130%;
      padding: 0 15px;
    }
    &__sub-title {
      text-align: center;
      padding: 0 15px;
      color: rgba(255, 255, 255, 0.8);
      font-family: $font-popins-reg;
      font-size: 14px;
      line-height: 150%;
    }
    &__img {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      background: #0f0c22;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid rgba(153, 153, 153, 0.3);
      box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
      backdrop-filter: blur(25px);
      position: relative;
      overflow: hidden;
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        opacity: 0.2;
        background: #393737 0% 0%/100px 100px repeat;
        filter: blur(10px);
      }
      &--num {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px 1px;
        background-color: #e120c1;
        display: inline-flex;
        padding: 8px 14px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #fff;
        font-family: $font-popins-semb;
        font-size: 30px;
      }
    }
  }
  .swiper-pagination {
    display: none;
  }
}

@media (max-width: 1050px) {
  .how-to-play {
    &__title {
      margin-bottom: 14px;
      font-size: 32px;
      padding: 0 15px;
    }
    &__sub-title {
      margin-bottom: 20px;
      font-size: 14px;
      padding: 0 15px;
    }
  }
}
@media (max-width: 1050px) {
  .how-to-play {
    .how-to-play-item {
      width: 47%;
    }
  }
}

@media screen and (max-width: 799px) {
  .how-to-play {
    // &::before {
    //   background: url('../img/new-home-page/how-to-play/lines-tab.svg') no-repeat 0 0 / cover;
    // }
    // &::after {
    //   display: none;
    // }
    &__container {
      padding: 40px 0;
    }
    .how-to-play-item {
      width: auto;
      &::after {
        width: 43px;
        height: 43px;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 8px;
      }
      &__sub-title {
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
    .swiper-wrapper {
      padding-bottom: 40px;
      gap: 0;
      flex-wrap: nowrap;
      justify-content: normal;
    }
    .swiper-pagination {
      display: block;
    }
    .swiper-pagination-bullet {
      background-color: #e5053d;
      width: 12px;
      height: 12px;
      box-shadow: 0px 2.73239px 5.46479px rgba(255, 98, 65, 0.48);
      border-radius: 8px;
      transition: opacity $transition;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
@media (max-width: 490px) {
  .how-to-play {
    &__title {
      font-size: 24px;
    }
    &__sub-title {
      font-size: 12px;
    }
  }
}
