.what-is {
  background: linear-gradient(to bottom, #130d2c, #100c23);
  position: relative;
  padding: 0 15px 50px;

  &__container {
    padding: 50px 50px 0 60px;
    max-width: 1224px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid rgba(225, 32, 193, 0.4);
    display: flex;
    gap: 40px;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    background: url('../img/new-home-page/what-is/card-bg.png') no-repeat 20% 0 / cover;
  }

  &__title {
    margin-bottom: 20px;
    width: fit-content;
    font-family: $font-popins-semb;
    font-size: 40px;
    line-height: 130%;
    background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__sub-title {
    max-width: 440px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-family: $font-popins-reg;
    font-size: 16px;
    line-height: 150%;
  }
  &__play-btn {
    margin-bottom: 54px;
  }
  &__devices {
    position: relative;
    width: 60%;
  }
  &__iphone {
    width: 197px;
    height: 275px;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    padding: 30px 9px;
    z-index: 1;
    background: url('../img/new-home-page/what-is/iphone.png') no-repeat 0 0 / contain;
  }
  &__ipad {
    position: absolute;
    right: 0px;
    bottom: -19px;
    width: 449px;
    height: 345px;
    padding: 14px;
    background: url('../img/new-home-page/what-is/ipad.png') no-repeat 0 0 / contain;
  }
}

@media (max-width: 1200px) {
  .what-is {
    &__container {
      background: url('../img/new-home-page/what-is/card-bg.png') no-repeat 70% 0 / cover;
    }
  }
}
@media (max-width: 1130px) {
  .what-is {
    &__container {
      padding-right: 10px;
    }
    &__devices {
      min-width: 530px;
    }
  }
}
@media (max-width: 1020px) {
  .what-is {
    &__container {
      flex-direction: column;
      border: none;
      gap: 55px;
      padding: 40px 25px 0;
      background: url('../img/new-home-page/what-is/card-bg-tab.png') no-repeat 0 100% / cover;
    }
    &__title {
      width: 100%;
      text-align: center;
    }
    &__sub-title {
      max-width: none;
      text-align: center;
    }
    &__play-btn {
      margin: 0 auto;
    }
    &__devices {
      width: 100%;
      min-width: none;
      display: flex;
      justify-content: center;
      gap: 15px;
    }
    &__iphone {
      position: relative;
      margin-top: auto;
      height: auto;
      bottom: -5px;
      padding-bottom: 0;
    }
    &__ipad {
      position: relative;
      margin-top: auto;
      height: auto;
    }
  }
}
@media (max-width: 1050px) {
  .what-is {
    &__title {
      font-size: 32px;
    }
    &__sub-title {
      font-size: 14px;
    }
  }
}

@media (max-width: 740px) {
  .what-is {
    &__devices {
      justify-content: space-between;
      gap: 0;
      min-width: auto;
    }
    &__iphone {
      width: 167px;
    }
    &__ipad {
      width: 367px;
      height: 284px;
      padding: 10px;
    }
  }
}
@media (max-width: 640px) {
  .what-is {
    &__ipad {
      position: absolute;
    }
  }
}
@media (max-width: 550px) {
  .what-is {
    &__iphone {
      width: 130px;
    }
    &__ipad {
      width: 290px;
      height: 224px;
      padding: 8px;
    }
  }
}
@media (max-width: 490px) {
  .what-is {
    &__title {
      font-size: 24px;
      margin-bottom: 14px;
    }
    &__sub-title {
      font-size: 12px;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 450px) {
  .what-is {
    &__container{
      gap: 75px;
    }
    &__iphone {
      width: 100px;
    }
    &__ipad {
      width: 250px;
      height: 200px;
      padding: 8px;
    }
  }
}
