<div class="casino-providers">
    <div class="casino-providers__container">
        <div class="casino-providers__list">
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>
            <div class="casino-providers__item">
                <div class="casino-providers__item-image">
                    <picture>
                        <source srcset="img/page9/img-casino.webp" type="image/webp">
                        <img loading="lazy" src="img/page9/img-casino.jpg" width="161"
                             height="64" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-providers__item-title">Parimatch</div>
                <div class="casino-providers__item-info">
                    Kabra till now <span>350</span>
                </div>
                <a href='#' class="casino-providers__item-link orange-btn">Pay</a>
            </div>

        </div>
        <a href="#" class="casino-providers__all-link burgundy-btn">Show All</a>
    </div>
</div>