<div class="casino-review">
    <div class="casino-review__container">
        <div class="casino-review__list">
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
            <div class="casino-review__item">
                <div class="casino-review__item-info">
                    <div class="casino-review__item-image">
                        <picture>
                            <source srcset="img/page4/best/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page4/best/casino-img.png" width="161"
                                 height="64" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino-review__item-rtp">
                        <div class="casino-review__item-rtp-percent">80%</div>
                        <div class="casino-review__item-rtp-text">RTP of slot machine</div>
                    </div>
                </div>
                <div class="casino-review__item-title">Parimatch</div>
                <div class="casino-review__item-licensed">
                    <div class="casino-review__item-licensed-one">Licensed</div>
                    <div class="casino-review__item-licensed-two">Licensed</div>
                </div>
                <div class="casino-review__item-review">
                    <div class="casino-review__item-review-star">
                        <img src="img/page4/best/star.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">4.5 / 5</div>
                    </div>
                    <div class="casino-review__item-review-comment">
                        <img src="img/page4/best/message.svg" alt="star" width="14" height="14">
                        <div class="casino-review__item-review-text">22 comment</div>
                    </div>
                </div>
                <div class="casino-review__item-list">
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of lines:</div>
                        <div class="casino-review__item-item-info">nine</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Min. bid:</div>
                        <div class="casino-review__item-item-info">182</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Number of drum:</div>
                        <div class="casino-review__item-item-info">twenty</div>
                    </div>
                    <div class="casino-review__item-item">
                        <div class="casino-review__item-item-title">Max. bid:</div>
                        <div class="casino-review__item-item-info">5000</div>
                    </div>
                </div>
                <div class="casino-review__item-buttons">
                    <a href="#" class="casino-review__item-btn orange-btn">Review</a>
                    <a href="#" class="casino-review__item-btn burgundy-btn">Play</a>
                </div>
            </div>
        </div>
        <a href="#" class="casino-review__all-link burgundy-btn">Show All</a>
    </div>
</div>