<section class="contacts">
    <div class="contacts__container">
        <div class="contacts__row">
            <div class="contacts__info">
                <h2 class="contacts__info-title">Best Online Casinos</h2>
                <p class="contacts__info-text">

                    There are a number of features that place bitcoin above online casinos and elsewhere onlineThere are
                    several features that place bitcoin above online casinos and elsewhere online
                </p>
                <div class="contacts__info-subtitle">Betson Casino Reviews</div>
                <ul class="contacts__info-list">
                    <li class="contacts__info-item">
                        <div class="contacts__info-item-title">Cooperation</div>
                        <a href="#" class="contacts__info-item-link">support@slotys.com</a>
                    </li>
                    <li class="contacts__info-item">
                        <div class="contacts__info-item-title">Department of support</div>
                        <a href="#" class="contacts__info-item-link">supt@slotys.com</a>
                    </li>
                    <li class="contacts__info-item">
                        <div class="contacts__info-item-title">Editorial staff</div>
                        <a href="#" class="contacts__info-item-link">support@slotys.com</a>
                    </li>
                    <li class="contacts__info-item">
                        <div class="contacts__info-item-title">HR department</div>
                        <a href="#" class="contacts__info-item-link">sup@slotys.com</a>
                    </li>
                    <li class="contacts__info-item">
                        <div class="contacts__info-item-title">HR department</div>
                        <a href="#" class="contacts__info-item-link">sup@slotys.com</a>
                    </li>
                    <li class="contacts__info-item">
                        <div class="contacts__info-item-title">Chief Editor</div>
                        <a href="#" class="contacts__info-item-link">suppport@slotys.com</a>
                    </li>
                </ul>
                <div class="contacts__social">
                    <a href="#" class="contacts__social-item burgundy-btn" aria-label="link-instagram">
                        <svg width="18px">
                            <use xlink:href="img/sprite.svg#insta"></use>
                        </svg>
                    </a>
                    <a href="#" class="contacts__social-item burgundy-btn" aria-label="link-facebook">
                        <svg width="10px">
                            <use xlink:href="img/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="contacts__social-item burgundy-btn" aria-label="link-twitter">
                        <svg width="19.5px">
                            <use xlink:href="img/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                    <a href="#" class="contacts__social-item burgundy-btn" aria-label="link-telegram">
                        <svg width="20px">
                            <use xlink:href="img/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="contacts__form-wrap">
                <div class="contacts__form-title">The best title</div>
                <form action="#" class="contacts__form">
                    <div class="contacts__form-item">
                        <label for="name" class="contacts__form-label">Name</label>
                        <input type="text" id="name" name="name" class="contacts__form-input" placeholder="Name">
                    </div>
                    <div class="contacts__form-item">
                        <label for="email-form" class="contacts__form-label">Email</label>
                        <input type="email" id="email-form" name="email" class="contacts__form-input" placeholder="Email">
                    </div>
                    <div class="contacts__form-item">
                        <label for="appeal" class="contacts__form-label">Text appeal</label>
                        <textarea name="appeal" id="appeal" cols="30" rows="5" class="contacts__form-textarea" placeholder="Text appeal"></textarea>
                    </div>
                    <button type="submit" class="contacts__form-btn orange-btn">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>