<div class="blog">
    <h2>Top 5 blog</h2>
    <ul class="blog__tabs">
        <li class="blog__tabs-item">
            <button type="button" class="blog__tabs-btn blog__tabs-btn-one _active" aria-label="All">All</button>
        </li>
        <li class="blog__tabs-item">
            <button type="button" class="blog__tabs-btn blog__tabs-btn-two " aria-label="Not All">Not All</button>
        </li>
    </ul>
    <div class="blog__list-wrap">
        <ul class="blog__list blog__list-one">
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
        </ul>
        <ul class="blog__list blog__list-two _hidden">
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
            <li class="blog__item">
                <a href="#" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/page12/min-news-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                             height="280" alt="image-casino">
                    </picture>
                </div>

                <p>Ukraine has officially reported on series of unique developments
                    Officially
                </p>
                <time  datetime="2008-02-14 20:00">20.08.2022</time>
            </li>
        </ul>
    </div>
</div>