<aside class="casino-online">
    <div class="casino-online__wrap">
        <h2 class="casino-online__title">Top 5 casino</h2>
        <div class="casino-online__tabs">
            <button class="casino-online__tabs-btn casino-online__tabs-btn-one _active" aria-label="button-casino">All</button>
            <button class="casino-online__tabs-btn casino-online__tabs-btn-two" aria-label="button-casino">Not all</button>
        </div>
        <ul class="casino-online__list casino-online__list-one">
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item-btn"><a href="#" class="casino-online__all-link orange-btn">Show All</a></li>
        </ul>
        <ul class="casino-online__list casino-online__list-two _hidden">
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item">
                <div class="casino-online__item-image">
                    <picture>
                        <source srcset="img/aside-casino-online/casino-image.webp" type="image/webp">
                        <img loading="lazy" src="img/aside-casino-online/casino-image.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="casino-online__item-info">
                    <div class="casino-online__item-title">Parimatch</div>
                    <div class="casino-online__item-reviews">
                        <img loading="lazy" src="img/aside-casino-online/star.svg" width="14" height="13"
                             alt="star" class="casino-online__item-reviews-img">
                        <div class="casino-online__item-reviews-grade">4.5 / 5</div>
                    </div>
                </div>
                <a href="#" class="casino-online__item-link grey-btn-two">Play</a>
            </li>
            <li class="casino-online__item-btn"><a href="#" class="casino-online__all-link orange-btn">Show All</a></li>
        </ul>
    </div>
</aside>