<section class="public">
    <a href="#" class="public__link" aria-label="news-link"></a>
    <div class="public__image">
        <picture>
            <source srcset="img/page12/big-news-img.webp" type="image/webp">
            <img loading="lazy" src="img/page12/big-news-img.jpg" width="780"
                 height="280" alt="image-casino">
        </picture>
    </div>
    <h2>Ukraine officially reported on series of unique developments officially reported</h2>
    <div class="public__info">
        <p>Date of publication: 20.08.2022</p>
        <p>Update date: 20.08.2022</p>
    </div>
</section>