<section class="top">
    <div class="top__info">
        <h2>Top 10 News</h2>
        <ul class="top__tabs">
            <li class="top__tabs-item">
                <button class="top__tabs-btn _active" aria-label="all">All</button>
            </li>
            <li class="top__tabs-item">
                <button class="top__tabs-btn " aria-label="New">New</button>
            </li>
            <li class="top__tabs-item">
                <button class="top__tabs-btn " aria-label="Active">Active</button>
            </li>
        </ul>
    </div>
    <ul class="top__list">
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>
        <li class="top__item">
            <a href="#" class="top__item-link" aria-label="link-news"></a>
            <div class="top__item-image">
                <picture>
                    <source srcset="img/page12/min-news-img.webp" type="image/webp">
                    <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                         height="280" alt="image-casino">
                </picture>
            </div>
            <p>Ukraine has officially reported on series of unique developments Officially</p>
            <time datetime="2008-02-14 20:00">20.08.2022</time>
        </li>


    </ul>
    <a href="#" class="top__all-link burgundy-btn">Show All</a>
</section>