<section class="video">
    <div class="video__container">
        <div class="video__info">
            <h2>Video reviews</h2>
            <ul class="video__tabs">
                <li class="video__tabs-item">
                    <button class="video__tabs-btn _active" aria-label="all">All</button>
                </li>
                <li class="video__tabs-item">
                    <button class="video__tabs-btn " aria-label="New">New</button>
                </li>
                <li class="video__tabs-item">
                    <button class="video__tabs-btn " aria-label="Active">Active</button>
                </li>
            </ul>
        </div>
        <div class="video__list-wrap">
            <ul class="video__list">
                <li class="video__item">
                    <a href="#" class="video__item-link" aria-label="link-news"></a>
                    <div class="video__item-image">
                        <picture>
                            <source srcset="img/page12/min-news-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                                 height="280" alt="image-casino">
                        </picture>
                    </div>
                    <div class="video__item-licensed">
                        <span>Licensed</span>
                        <span>Licensed</span>
                    </div>
                    <p>Ukraine has officially reported on series of unique developments
                        Officially
                    </p>
                    <time  datetime="2008-02-14 20:00">20.08.2022</time>
                </li>
                <li class="video__item">
                    <a href="#" class="video__item-link" aria-label="link-news"></a>
                    <div class="video__item-image">
                        <picture>
                            <source srcset="img/page12/min-news-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                                 height="280" alt="image-casino">
                        </picture>
                    </div>
                    <div class="video__item-licensed">
                        <span>Licensed</span>
                        <span>Licensed</span>
                    </div>
                    <p>Ukraine has officially reported on series of unique developments
                        Officially
                    </p>
                    <time  datetime="2008-02-14 20:00">20.08.2022</time>
                </li>
                <li class="video__item">
                    <a href="#" class="video__item-link" aria-label="link-news"></a>
                    <div class="video__item-image">
                        <picture>
                            <source srcset="img/page12/min-news-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                                 height="280" alt="image-casino">
                        </picture>
                    </div>
                    <div class="video__item-licensed">
                        <span>Licensed</span>
                        <span>Licensed</span>
                    </div>
                    <p>Ukraine has officially reported on series of unique developments
                        Officially
                    </p>
                    <time  datetime="2008-02-14 20:00">20.08.2022</time>
                </li>
                <li class="video__item">
                    <a href="#" class="video__item-link" aria-label="link-news"></a>
                    <div class="video__item-image">
                        <picture>
                            <source srcset="img/page12/min-news-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                                 height="280" alt="image-casino">
                        </picture>
                    </div>
                    <div class="video__item-licensed">
                        <span>Licensed</span>
                        <span>Licensed</span>
                    </div>
                    <p>Ukraine has officially reported on series of unique developments
                        Officially
                    </p>
                    <time  datetime="2008-02-14 20:00">20.08.2022</time>
                </li>
                <li class="video__item">
                    <a href="#" class="video__item-link" aria-label="link-news"></a>
                    <div class="video__item-image">
                        <picture>
                            <source srcset="img/page12/min-news-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page12/min-news-img.jpg" width="780"
                                 height="280" alt="image-casino">
                        </picture>
                    </div>
                    <div class="video__item-licensed">
                        <span>Licensed</span>
                        <span>Licensed</span>
                    </div>
                    <p>Ukraine has officially reported on series of unique developments
                        Officially
                    </p>
                    <time  datetime="2008-02-14 20:00">20.08.2022</time>
                </li>

            </ul>
        </div>
    </div>
</section>
</section>