.deposit {
  background: $green url("../img/home/slot/bg-desc.webp") no-repeat 50% 0/cover;
  padding: 50px 0;

  &__title {
    color: $white;
    text-shadow: $shadow-text-2;
    text-align: center;
    margin: 0 0 10px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: $gray-text-on-green;
    text-shadow: $shadow-text-2;
    max-width: 940px;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px 40px;
  }

  &__item {
    width: 280px;
    min-width: 279px;
    padding: 30px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &-link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &-image {
      max-width: 175px;
      margin: 0 0 20px 0;
    }

    &-title {
      font-family: $font-popins-semb;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: $white;
      text-shadow: $shadow-text-2;
      margin: 0 0 20px 0;

    }

    &-text {
      font-size: 15px;
      line-height: 22px;
      color: $gray-text-on-green;
      text-shadow: $shadow-text-2;
      text-align: center;
    }

  }
}

@media screen and (max-width: 1280px) {
  .deposit {
    &__list {
      grid-template-columns: auto auto;
      gap: 60px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 730px) {
  .deposit {
    &__container {
      padding: 0;
    }

    &__title {
      padding: 0 15px;
    }

    &__text {
      padding: 0 15px;
    }

    &__list {
      padding: 0 15px;
      gap: 0;
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
    }

    &__item {
      width: 320px;

      &:not(:last-child) {
        margin: 0 30px 0 0;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .deposit {
    padding: 30px 0;
    background: $green-grad-2;
    &__title {
      margin: 0 0 15px 0;
    }

    &__text {
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 30px 0;
    }
  }
}