.slot {
  padding: 50px 0;
  background: $green url("../img/home/slot/bg-desc.webp") no-repeat 50% 0/cover;

  &__container{
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 10px 0;
    color: $white;
    text-shadow: $shadow-text-2;
    text-align: center;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: $gray-text-on-green;
    text-shadow: $shadow-text-2;
    text-align: center;
    max-width: 940px;
    margin: 0 auto 20px auto;
  }

  &__link{
    font-family: $font-popins-semb;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    align-self: center;
    text-align: center;
    padding: 19px 85px 17px;
  }

  &__tabs {
    margin: 0 auto 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
    background: $gray-tabs;
    border-radius: 100px;
    &-item {
      &:not(:last-child) {
        margin: 0 28px 0 0;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-btn {
      font-family: $font-popins-semb;
      position: relative;
      display: inline-block;
      padding: 9px 0;
      font-size: 13px;
      line-height: 22px;
      color: $gray-text-on-green;
      border-radius: 8px;
      background: transparent;
      transition: background-color $transition, color $transition, box-shadow $transition;

      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $green;
        border-radius: 100px;
        opacity: 0;
        transition: opacity $transition;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $salad;
        border-radius: 100px;
        opacity: 0;
        transition: opacity $transition;
      }
      &:hover {
        color: $salad;
      }
      &:hover::after,
      &:hover::before{
        opacity: 1;
      }

      &._active::after,
      &._active::before{
        opacity: 1;
      }

      &._active {
        color: $salad;
      }

    }
  }

  &__list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    margin: 0 0 30px 0;
  }

  &__item{
    box-shadow: $shadow-text-3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background: $white;
    position: relative;
    max-width: 330px;

    &-info{
      position: absolute;
      cursor: pointer;
      top: 20px;
      right: 20px;
      &-text{
        display: none;
        padding: 15px;
        border-radius: 8px;
        background: $green-grad;
        color: $white;
        width: 150px;
        position: absolute;
        top: 35px;
        right: 0;
        font-size: 12px;
        line-height: 15px;
        &._show{
          display: block;
        }
      }
    }
    &-image{
      max-width: 160px;
      margin: 0 0 10px 0;
      img{
        border-radius: 8px;
      }
    }
    &-title{
      flex: 1 1 auto;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.004em;
      color: $black;
      margin: 0 0 2px 0;
    }
    &-licensed{
      display: flex;
      color: $purple;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      margin: 0 0 20px 0;
      &-one{
        margin: 0 8px 0 0;
      }
    }
    &-link{
      align-self: flex-start;
      display: inline-block;
      min-width: 160px;
      text-align: center;
      padding: 12px 30px 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }


}

@media screen and (max-width: 1240px){
  .slot{
    &__container{
      padding: 0;
    }
    &__title,
    &__text{
      padding: 0 15px;
    }
    &__tabs{
      margin: 0;

      &-wrap{
        justify-content: flex-start;
        overflow-x: scroll;
        padding: 0 15px;
        margin: 0 0 20px 0;
      }

    }

    &__list{
      display: flex;
      overflow-x: scroll;
      align-items: flex-start;
      gap: 0;
      padding: 0 15px;
    }

    &__item{
      min-width: 310px;
      max-width: 330px;
      &:not(:last-child){
        margin: 0 15px 0 0;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .slot{
    padding: 30px 0;
    background: $green-grad-2;
    &__text{
      font-size: 13px;
      line-height: 22px;
    }
    &__link{
      width: calc(100% - 30px);

    }
  }
}