.top {
  background: $green url("../img/home/slot/bg-desc.webp") no-repeat 50% 0/cover;
  padding: 50px 0 ;

  &__title {
    color: $white;
    text-shadow: $shadow-text-2;
    text-align: center;
    margin: 0 0 10px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: $gray-text-on-green;
    text-shadow: $shadow-text-2;
    max-width: 940px;
    margin: 0 auto 40px auto;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__item {
    width: 280px;
    padding: 30px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin: 0 20px 0 0;
    }

    &-image {
      max-width: 175px;
      margin: 0 0 30px 0;
    }

    &-title {
      font-family: $font-popins-semb;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: $white;
      text-shadow: $shadow-text-2;
      margin: 0 0 20px 0;
    }

    &-text {
      font-size: 15px;
      line-height: 22px;
      color: $gray-text-on-green;
      text-shadow: $shadow-text-2;
      text-align: center;
      margin: 0 0 30px 0;
      flex: 1 1 auto;
    }

    &-link {
      display: inline-block;
      font-size: 15px;
      line-height: 20px;
      padding: 12px 25px 10px;
    }
  }
}

@media screen and (max-width: 1240px) {
  .top {
    &__list {
      display: grid;
      grid-template-columns: auto auto;
      gap: 60px;
      justify-content: center;
    }

  }
}

@media screen and (max-width: 600px) {
  .top {
    padding: 30px 0;
    &__title{
      margin: 0 0 15px 0;
    }
    &__text{
      font-size: 13px;
      line-height: 22px;
      margin: 0 0 30px 0;
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    &__item{
      width: 320px;
      &:not(:last-child){
        margin: 0 0 30px 0
      }
    }
  }
}