<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link" >Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info-wrap">
                <div class="casino__info-image">
                    <picture>
                        <source srcset="img/page10/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page10/casino-img.jpg" width="324" height="128" alt="image-casino">
                    </picture>
                </div>
                <div class="casino__info-play">
                    <h1 class="casino__info-title">Mastercard</h1>
                    <div class="casino__info-reviews">
                        <div class="casino__info-reviews-star">
                            <img src="img/page3/casino/star.svg" alt="star" width="14" height="14">
                            <div class="casino__info-reviews-text">4.5 / 5</div>
                        </div>
                        <div class="casino__info-reviews-comment">
                            <img src="img/page3/casino/comment.svg" alt="comment" width="14" height="14">
                            <div class="casino__info-reviews-text">22 comment</div>
                        </div>
                    </div>
                    <div class="casino__info-text">Super duper <span>350</span></div>
                </div>
            </div>
            <div class="casino__info-country">
                <div class="casino__info-country-wrap">
                    <div class="casino__info-country-name">
                        <img src="img/page3/casino/country-img.svg" alt="star" width="20" height="20">
                        <div class="casino__info-country-name-txt">Accepts Indian Players</div>
                    </div>
                    <div class="casino__info-country-create">Data created: 20.08.2022</div>
                    <div class="casino__info-country-update">Lost updated: 20.08.2022</div>
                </div>

            </div>
        </div>
    </div>
</section>