<section class="pay">
    <h2 class="pay__title title">A casino with a mastercard</h2>
    <ul class="pay__list">
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-text">Biggest Bonus Ever</div>
                <div class="pay__item-bonus">100% Up ₹90,000</div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn burgundy-btn">Review</a>
                    <a href="#" class="pay__item-btn orange-btn">Pay</a>
                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-text">Biggest Bonus Ever</div>
                <div class="pay__item-bonus">100% Up ₹90,000</div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn burgundy-btn">Review</a>
                    <a href="#" class="pay__item-btn orange-btn">Pay</a>
                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-text">Biggest Bonus Ever</div>
                <div class="pay__item-bonus">100% Up ₹90,000</div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn burgundy-btn">Review</a>
                    <a href="#" class="pay__item-btn orange-btn">Pay</a>
                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-text">Biggest Bonus Ever</div>
                <div class="pay__item-bonus">100% Up ₹90,000</div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn burgundy-btn">Review</a>
                    <a href="#" class="pay__item-btn orange-btn">Pay</a>
                </div>
            </div>
        </li>
        <li class="pay__item">
            <div class="pay__item-wrap">
                <div class="pay__item-image">
                    <picture>
                        <source srcset="img/page8/image-pay.webp" type="image/webp">
                        <img loading="lazy" src="img/page8/image-pay.jpg" width="104"
                             height="48" alt="image-casino">
                    </picture>
                </div>
                <div class="pay__item-info">
                    <div class="pay__item-title">Parimatch</div>
                    <div class="pay__item-review">
                        <img src="img/page8/star.svg" alt="star" width="14" height="14">
                        <div class="pay__item-review-text">4.5 / 5</div>
                    </div>
                </div>
            </div>
            <div class="pay__item-wrap2">
                <div class="pay__item-text">Biggest Bonus Ever</div>
                <div class="pay__item-bonus">100% Up ₹90,000</div>
                <div class="pay__item-buttons">
                    <a href="#" class="pay__item-btn burgundy-btn">Review</a>
                    <a href="#" class="pay__item-btn orange-btn">Pay</a>
                </div>
            </div>
        </li>
    </ul>
    <a href="#" class="pay__all-link">Show All</a>
</section>