.contacts{
  padding: 40px 0 70px 0;
  &__row{
    display: flex;
  }
  &__info{
    padding: 40px 50px;
    background: $white;
    border-radius: 8px;
    margin: 0 40px 0 0;
    flex: 1 1 auto;
    &-title{
      max-width: 550px;
      font-family: $font-popins-semb;
      font-size: 24px;
      line-height: 36px;
      color: $black-one;
      margin: 0 0 10px 0;
    }
    &-text{
      max-width: 550px;
      font-size: 15px;
      line-height: 22px;
      color: $grey-tabs;
      margin: 0 0 35px 0;
    }
    &-subtitle{
      font-family: $font-popins-semb;
      font-size: 17px;
      line-height: 25px;
      color: $black-one;
      margin: 0 0 15px 0;
    }
    &-list{
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: 0 0 50px 0;
    }
    &-item{

      display: grid;
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      gap: 15px;
      &:not(:last-child){
        margin: 0 0 15px 0;
      }
      &-title{
        font-size: 15px;
        line-height: 20px;
        color: $grey-tabs;
      }

      &-link{
        display: inline-block;
        text-align: end;
        font-family: $font-popins-semb;
        font-size: 15px;
        line-height: 20px;
        color: $black-one;
        text-decoration: underline;
      }

    }

  }

  &__social{
    display: flex;
    align-items: center;
    &-item{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 42px;
      border-radius: 8px;
      &:not(:last-child){
        margin: 0 10px 0 0;
      }
      svg{
        max-width: 100%;
        max-height: 100%;
        fill: $white;
      }
    }
    &-wrap{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &-text{
      font-size: 13px;
      line-height: 20px;
      color: $grey-tabs;
      margin: 0 0 10px 0;
    }

  }

  &__form{
    display: flex;
    flex-direction: column;
    &-wrap{
      padding: 40px 30px 30px 30px;
      background: $white;
      border-radius: 8px;
      min-width: 320px;
      max-width: 330px;
    }
    &-title{
      font-family: $font-popins-semb;
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      color: $black-one;
      margin: 0 0 15px 0;
    }
    &-item{
      display: flex;
      flex-direction: column;
      margin: 0 0 15px 0;

    }
    &-label{
      display: inline-block;
      font-size: 13px;
      line-height: 20px;
      margin: 0 0 10px 0;
      text-align: start;
    }

    &-input{
      display: inline-block;
      width: 100%;
      background: $pink;
      border-radius: 8px;
      padding: 10px 20px 8px;
      font-size: 15px;
      line-height: 30px;
      color: $grey-tabs;
      &::placeholder{
        font-size: 15px;
        line-height: 30px;
        color: $grey-tabs;
      }
    }

    &-textarea{
      resize: none;
      display: inline-block;
      width: 100%;
      background: $pink;
      border-radius: 8px;
      padding: 10px 20px 8px;
      font-size: 15px;
      line-height: 30px;
      color: $grey-tabs;
      height: 100%;
      &::placeholder{
        font-size: 15px;
        line-height: 30px;
        color: $grey-tabs;
      }
    }

    &-btn{
      font-family: $font-popins-semb;
      display: inline-block;
      padding: 18px 15px 16px;
      width: 100%;
      font-size: 17px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .contacts{
    &__row{
      flex-direction: column;
    }

    &__info{
      margin: 0 0 25px 0;
    }

    &__form{
      &-wrap{
        min-width: auto;
        max-width: 100%;
      }
      &-btn{
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .contacts{
    padding: 0 0 40px 0;
    &__container{
      padding: 0;
    }
    &__info{
      border-radius: 0;
      padding: 30px 15px;
      margin: 0 0 10px 0;
      &-title{
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 10px 0;
      }
      &-text{
        font-size: 13px;
        line-height: 32px;
        margin: 0 0 20px 0;
      }
      &-list{
        margin: 0 0 30px 0;
      }
      &-item{
        &-title{
          font-size: 13px;
          line-height: 18px;
        }
        &-link{
          font-size: 13px;
          line-height: 18px;
        }
      }
    }
    &__form{
      &-wrap{
        border-radius: 0;
        padding: 30px 15px;
      }
      &-title{
        font-size: 20px;
        line-height: 30px;
        text-align: start;
      }
      &-btn{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .contacts{
    &__info{
      &-item{
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        gap: 10px;
        &-link{
          text-align: start;
        }
      }

    }
  }
}