.blog{
  padding: 30px;
  background: $green-grad;
  border-radius: 20px;
  margin: 0 0 20px 0;
  h2{
    font-family: $font-popins-semb;
    font-size: 20px;
    line-height: 28px;
    color: $white;
    margin: 0 0 15px 0;
  }
  &__tabs{
    width: 100%;
    display: flex;
    padding: 0 28px;
    background: $gray-tabs;
    border-radius: 100px;
    margin: 0 0 15px 0;
    &-item{
      width: calc(50% - 2.5px);
      &:not(:last-child){
        margin: 0 5px 0 0;
      }
    }
    &-btn{
      padding: 9px 0;
      width: 100%;
      text-align: center;
      position: relative;
      display: inline-block;
      background: transparent;
      font-size: 13px;
      line-height: 22px;
      color: $gray-text-on-green;
      border-radius: 8px;
      transition: background-color $transition, color $transition, box-shadow $transition;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $green;
        border-radius: 100px;
        opacity: 0;
        transition: opacity $transition;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $salad;
        border-radius: 100px;
        opacity: 0;
        transition: opacity $transition;
      }

      &-one,
      &-two{
        &._active{
          color: $salad;
        }
      }
      &-one,
      &-two {
        &._active::after,
        &._active::before {
          opacity: 1;
        }
      }

      &:hover{
        color: $salad;
      }
      &:hover::after,
      &:hover::before{
        opacity: 1;
      }
    }
  }

  &__list{
    display: flex;
    flex-direction: column;
  }

  &__list{
    &-one{
      &._hidden{
        display: none;
      }
    }
    &-two{
      &._hidden{
        display: none;
      }
    }
  }

  &__item{
    position: relative;
    &:not(:last-child){
      margin: 0 0 20px 0;
    }
    &-link{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &-image{
      margin: 0 0 15px 0;
      img{
        border-radius: 8px;
      }
    }

    &-licensed{
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      color: $purple;
      margin: 0 0 5px 0;
      span{
        display: inline-block;
        &:not(:last-child){
          margin: 0 8px 0 0;
        }
      }
    }

    p{
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: $white;
      margin: 0 0 5px 0;
    }

    time{
      font-size: 15px;
      line-height: 22px;
      color: $white;
    }
  }
}

@media screen and (max-width: 1024px){
  .blog{
    padding: 30px 0;
    border-radius: 0;
    h2{
      padding: 0 15px;
      text-align: center;
    }

    &__tabs{
      width: 90%;
      margin: 0 auto 15px auto;
    }

    &__list{
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: scroll;
      padding: 0 15px;
      min-width: 100%;

    }

    &__item{
      min-width: 310px;
      max-width: 315px;
      &:not(:last-child){
        margin: 0 15px 0 0;
      }
    }
  }
}