.best {
  background: $pink;
  padding: 25px 0 0 0;

  &__container{
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 10px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: $black-one;
    max-width: 940px;
    margin: 0 0 20px 0;
  }



  &__list{
    display: grid;
    grid-template-columns: calc(25% - 19px) calc(25% - 19px) calc(25% - 19px) calc(25% - 19px);
    justify-content: start;
    gap: 25px;
    margin: 0 0 30px 0;
  }

  &__item{
    width: 100%;
    padding: 20px;
    background: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    &-image{
      margin: 0 0 10px 0;
      max-width: 162px;
      img{
        border-radius: 8px;
      }
    }
    &-title{
      font-size: 17px;
      line-height: 26px;
      color: $black-one;
      margin: 0 0 2px 0;
    }
    &-info{
      font-size: 13px;
      line-height: 16px;
      color: $black-one;
      margin: 0 0 20px 0;
      span{
        font-family: $font-popins-semb;
      }
    }
    &-link{
      display: inline-block;
      padding: 12px 50px 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__all-link{
    align-self: center;
    font-family: $font-popins-semb;
    display: inline-block;
    padding: 18px 70px 16px;
    font-size: 17px;
    line-height: 20px;
  }

}

@media screen and (max-width: 1240px) {
  .best{
    &__container{
      padding: 0;
    }
    &__title,
    &__text,
    &__list{
      padding: 0 15px;
    }

  }
}

@media screen and (max-width: 1024px){
  .best{
    padding: 15px 0 0 0;
    &__list{
      grid-template-columns: calc(33.33% - 17px) calc(33.33% - 17px) calc(33.33% - 17px) ;
      width: 100%;
    }
  }
}

@media screen and (max-width: 820px){
  .best{
    &__list{
      grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px) ;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px){
  .best{
    &__text{
      font-size: 13px;
      line-height: 22px;
    }

    &__list{
      grid-template-columns: 100%;
      padding: 0;
      gap: 10px;
      margin: 0 0 20px 0;
    }

    &__item{
      border-radius: 0;
      padding: 15px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      column-gap: 10px;
      &-image{
        grid-row: 1/2;
        grid-column: 1/3;
        margin: 0 0 12px 0;
      }
      &-title{
        grid-row: 2/3;
        grid-column: 1/2;
      }
      &-info{
        grid-row: 3/4;
        grid-column: 1/2;
        margin: 0;
      }
      &-link{
        grid-row: 2/4;
        grid-column: 2/3;
        justify-self: end;
        align-self: start;
      }
    }

    &__all-link{
      padding: 17px 15px 15px;
      width: 96%;
      text-align: center;
    }
  }
}
