.best {
  background: $white-bg;
  padding: 50px 0;

  &__all-link{
    display: inline-block;
    font-family: $font-popins-semb;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.02em;
    align-self: center;
    text-align: center;
    padding: 19px 85px 17px;
  }

  &__container{
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 10px 0;
  }

  &__text {
    font-size: 15px;
    line-height: 22px;
    color: $gray;
    max-width: 940px;
    margin: 0 0 20px 0;
  }

  &__tabs {
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 28px;
    background: $white;
    box-shadow: $shadow-text-3;
    border-radius: 100px;
    &-item {
      &:not(:last-child) {
        margin: 0 28px 0 0;
      }
    }

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-btn {
      font-family: $font-popins-semb;
      position: relative;
      display: inline-block;
      padding: 9px 0;
      font-size: 13px;
      line-height: 22px;
      color: $gray;
      border-radius: 8px;
      background: transparent;
      transition: background-color $transition, color $transition, box-shadow $transition;

      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $green;
        border-radius: 100px;
        opacity: 0;
        transition: opacity $transition;
      }
      &::before{
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: $salad;
        border-radius: 100px;
        opacity: 0;
        transition: opacity $transition;
      }
      &:hover {
        color: $black;
      }
      &:hover::after,
      &:hover::before{
        opacity: 1;
      }

      &._active::after,
      &._active::before{
        opacity: 1;
      }

      &._active {
        color: $black;
      }

    }
  }

  &__list{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: start;
    gap: 25px;
    margin: 0 0 30px 0;
  }

  &__item{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: $white;
    box-shadow: $shadow-text-3;
    border-radius: 12px;
    max-width: 290px;
    &-info{
      display: flex;
      align-items: center;
      margin: 0 0 10px 0;
    }
    &-image{
      max-width: 160px;
      margin: 0 20px 0 0;
      img{
        border-radius: 8px;
      }
    }
    &-rtp{
      &-percent{
        font-family: $font-popins-semb;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: -0.004em;
        color: $green-white;
        margin: 0 0 5px 0;
      }
      &-text{
        max-width: 70px;
        font-size: 11px;
        line-height: 14px;
        color: $black;

      }
    }
    &-title{
      font-size: 17px;
      line-height: 26px;
      letter-spacing: -0.004em;
      color: $black;
      margin: 0 0 2px 0;
    }
    &-licensed{
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.004em;
      color: $purple;
      margin: 0 0 10px 0;
      &-one{
        margin: 0 8px 0 0;
      }
    }
    &-review{

      display: flex;
      align-items: center;
      margin: 0 0 auto 0;
      &-star,
      &-comment{
        display: flex;
        img{
          display: inline-block;
          margin: 0 5px 0 0;
        }
      }
      &-text{
        font-size: 12px;
        line-height: 12px;
        color: $black;
      }
      &-star{
        margin: 0 10px 0 0;
      }
    }
    &-list{
      display: flex;
      flex-direction: column;
      margin: 20px 0 20px 0;
    }
    &-item{
      padding: 8px 0;
      border-top: 1px solid $white-bg;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:last-child{
        border-bottom: 1px solid $white-bg;
      }
      &-title{
        font-size: 13px;
        line-height: 20px;
        letter-spacing: -0.004em;
        color: $black;
        margin: 0 10px 0 0;
      }
      &-info{
        font-family: $font-popins-semb;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: -0.004em;
        color: $black;
      }
    }
    &-buttons{
      display: flex;
      align-items: center;

    }
    &-btn{
      width: calc(50% - 5px);
      display: inline-block;
      text-align: center;
      padding: 12px 10px 10px;
      font-size: 15px;
      line-height: 20px;
      &:not(:last-child){
        margin: 0 10px 0 0;
      }
    }
  }


}

@media screen and (max-width: 1240px) {
  .best{
    &__container{
      padding: 0;
    }
    &__title,
    &__text,
    &__list{
      padding: 0 15px;
    }
    &__tabs{
      margin: 0;

      &-wrap{
        justify-content: flex-start;
        overflow-x: scroll;
        padding: 0 15px;
        margin: 0 0 25px 0;
      }

    }

    &__list{
      grid-template-columns: auto auto auto;
      gap: 15px;
    }

  }
}

@media screen and (max-width: 815px){
  .best{
    padding: 15px 0 0 0;
    &__list{
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      width: 100%;
    }
    &__item{
      max-width: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px){
  .best{
    padding: 30px 0;
    &__all-link{
      width: calc(100% - 30px);

    }
    &__text{
      font-size: 13px;
      line-height: 22px;
    }

    &__list{
      grid-template-columns: 100%;
      padding: 0;
      gap: 10px;
      margin: 0 0 20px 0;
    }
    &__item{
      padding: 20px;
      border-radius: 0;
      &-list{
        display: grid;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        gap: 10px;
      }
      &-item{
        border-top: 1px solid $white-bg;
        &:last-child,
        &:nth-child(3){
          border-bottom: 1px solid $white-bg;
        }
      }
    }

  }
}

