<section class="blog">
    <div class="blog__container">
        <div class="blog__row">
            <h2 class="blog__title title">Blog section</h2>
            <div class="blog__tabs-wrap">
                <ul class="blog__tabs">
                    <li class="blog__tabs-item">
                        <button class="blog__tabs-btn _active" aria-label="All">All</button>
                    </li>
                    <li class="blog__tabs-item">
                        <button class="blog__tabs-btn" aria-label="info">Item</button>
                    </li>
                    <li class="blog__tabs-item">
                        <button class="blog__tabs-btn " aria-label="Bonus">Bonus</button>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="blog__list">
            <li class="blog__item">
                <a href="" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/home/blog/blog-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/blog/blog-img.png" width="280"
                             height="122" alt="image-casino">
                    </picture>
                </div>
                <div class="blog__item-info">
                    <div class="blog__item-info-one">Bonus</div>
                    <div class="blog__item-info-two">Licensed</div>
                </div>
                <p class="blog__item-text">Our online casino blog contains the most interesting, engaging and informative stories from the world of online </p>
                <div  class="blog__item-time">20.08.2022</div>
            </li>
            <li class="blog__item">
                <a href="" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/home/blog/blog-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/blog/blog-img.png" width="280"
                             height="122" alt="image-casino">
                    </picture>
                </div>
                <div class="blog__item-info">
                    <div class="blog__item-info-one">Bonus</div>
                    <div class="blog__item-info-two">Licensed</div>
                </div>
                <p class="blog__item-text">Our online casino blog contains the most interesting, engaging and informative stories from the world of online gambling. Our online casino blog contains.</p>
                <div class="blog__item-time">20.08.2022</div>
            </li>
            <li class="blog__item">
                <a href="" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/home/blog/blog-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/blog/blog-img.png" width="280"
                             height="122" alt="image-casino">
                    </picture>
                </div>
                <div class="blog__item-info">
                    <div class="blog__item-info-one">Bonus</div>
                    <div class="blog__item-info-two">Licensed</div>
                </div>
                <p class="blog__item-text">Our online casino blog contains the most interesting, engaging.</p>
                <div class="blog__item-time">20.08.2022</div>
            </li>
            <li class="blog__item">
                <a href="" class="blog__item-link" aria-label="link-news"></a>
                <div class="blog__item-image">
                    <picture>
                        <source srcset="img/home/blog/blog-img.webp" type="image/webp">
                        <img loading="lazy" src="img/home/blog/blog-img.png" width="280"
                             height="122" alt="image-casino">
                    </picture>
                </div>
                <div class="blog__item-info">
                    <div class="blog__item-info-one">Bonus</div>
                    <div class="blog__item-info-two">Licensed</div>
                </div>
                <p class="blog__item-text">Our online casino blog contains the most interesting, engaging and informative stories from the world of online gambling.</p>
                <div class="blog__item-time">20.08.2022</div>
            </li>

        </ul>
        <a href="#" class="blog__link burgundy-btn">Show all</a>
    </div>
</section>