<section class="bonus">
  <div class="bonus__container">
    <h2 class="bonus__title title">Types of bonuses in poker rooms</h2>
    <p class="bonus__text">Each of the casinos on our list has earned a top-notch position because they all meet many criteria in our unique algorithm. The different factors we consider while evaluating an online casino are listed below.</p>
    <div class="bonus__tabs-wrap">
      <ul class="bonus__tabs">
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn _active" aria-label="all">All</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="About">About</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn " aria-label="bonuses">Bonuses</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Banking">Banking</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Games">Games</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Info">Info</button>
        </li>
        <li class="bonus__tabs-item">
          <button class="bonus__tabs-btn" aria-label="Pro">Pro</button>
        </li>
      </ul>
    </div>
    <ul class="bonus__list">
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>
        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
      <li class="bonus__item">
        <div class="bonus__item-info burgundy-btn">
          <img src="img/home/bonus/info-icon.svg" alt="info" width="17" height="17">
          <div class="bonus__item-info-text">
            Какой- то супер дупер текст при наведении
          </div>
        </div>

        <div class="bonus__item-image">
          <picture>
            <source srcset="img/home/bonus/casino-img.webp" type="image/webp">
            <img loading="lazy" src="img/home/bonus/casino-img.png" width="161"
                 height="64" alt="image-casino">
          </picture>
        </div>
        <div class="bonus__item-title">Parimatch</div>
        <div class="bonus__item-licensed">
          <div class="bonus__item-licensed-one">Bonus</div>
          <div class="bonus__item-licensed-two">Licensed</div>
        </div>
        <a href="#" class="bonus__item-link orange-btn">Play</a>
      </li>
    </ul>
    <a href="#" class="bonus__link burgundy-btn">Show all</a>
  </div>
</section>