<section class="casino">
    <div class="casino__container">
        <div class="casino__row">
            <div class="casino__info">
                <h1 class="casino__title">Best Online Casinos in Australia 2023!</h1>
                <a href="#" class="casino__link orange-btn">Top Casino list</a>
            </div>
            <ul class="casino__list">
                <li class="casino__item">
                    <div class="casino__item-image">
                        <picture>
                            <source srcset="img/home/casino/icon-casino.webp" type="image/webp">
                            <img loading="lazy" src="img/home/casino/icon-casino.png" class="image" width="104"
                                 height="48" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino__item-info">
                        <div class="casino__item-title">Parimatch</div>
                        <div class="casino__item-reviews">
                            <img src="img/home/casino/star.svg" alt="star" width="14" height="13" class="casino__item-reviews-img">
                            <div class="casino__item-reviews-grade">4.5 / 5</div>
                        </div>
                    </div>
                    <a href="#" class="casino__item-link grey-btn-two">Play</a>
                </li>
                <li class="casino__item">
                    <div class="casino__item-image">
                        <picture>
                            <source srcset="img/home/casino/icon-casino.webp" type="image/webp">
                            <img loading="lazy" src="img/home/casino/icon-casino.png" class="image" width="104"
                                 height="48" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino__item-info">
                        <div class="casino__item-title">Parimatch</div>
                        <div class="casino__item-reviews">
                            <img src="img/home/casino/star.svg" alt="star" width="14" height="13" class="casino__item-reviews-img">
                            <div class="casino__item-reviews-grade">4.5 / 5</div>
                        </div>
                    </div>
                    <a href="#" class="casino__item-link grey-btn-two">Play</a>
                </li>
                <li class="casino__item">
                    <div class="casino__item-image">
                        <picture>
                            <source srcset="img/home/casino/icon-casino.webp" type="image/webp">
                            <img loading="lazy" src="img/home/casino/icon-casino.png" class="image" width="104"
                                 height="48" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino__item-info">
                        <div class="casino__item-title">Parimatch</div>
                        <div class="casino__item-reviews">
                            <img src="img/home/casino/star.svg" alt="star" width="14" height="13" class="casino__item-reviews-img">
                            <div class="casino__item-reviews-grade">4.5 / 5</div>
                        </div>
                    </div>
                    <a href="#" class="casino__item-link grey-btn-two">Play</a>
                </li>
                <li class="casino__item">
                    <div class="casino__item-image">
                        <picture>
                            <source srcset="img/home/casino/icon-casino.webp" type="image/webp">
                            <img loading="lazy" src="img/home/casino/icon-casino.png" class="image" width="104"
                                 height="48" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino__item-info">
                        <div class="casino__item-title">Favbet</div>
                        <div class="casino__item-reviews">
                            <img src="img/home/casino/star.svg" alt="star" width="14" height="13" class="casino__item-reviews-img">
                            <div class="casino__item-reviews-grade">4.5 / 5</div>
                        </div>
                    </div>
                    <a href="#" class="casino__item-link grey-btn-two">Play</a>
                </li>
            </ul>
        </div>
    </div>
</section>