<section class="deposit">
    <div class="deposit__container">
        <h2 class="deposit__title title">How to Find the Best Australian Online Casino</h2>
        <p class="deposit__text">In Australia, there are tons of online casinos to choose from. As a result, players can
            now readily place their wagers from anywhere. However, the ability to choose a trustworthy and reputable
            casino is necessary and takes a lot of effort.</p>
        <ul class="deposit__list">
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/card.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/card.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Online Casino</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/seven.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/seven.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Slot Machines</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/bar.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/bar.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Mobile Casino Sites</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/bonus.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/bonus.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Bonusy Casino</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/money.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/money.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Deposit And Withdrawal</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players. </p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/knife.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/knife.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Software And Gameplay</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/prize.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/prize.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">License</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>
            <li class="deposit__item">
                <a href="#" class="deposit__item-link" aria-label="link-casino"></a>
                <div class="deposit__item-image">
                    <picture>
                        <source srcset="img/home/deposit/heart.webp" type="image/webp">
                        <img loading="lazy" src="img/home/deposit/heart.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="deposit__item-title">Blog</div>
                <p class="deposit__item-text">Therefore, Australian players are welcomed in foreign casinos. This is limited to only legitimately operating online casinos that allow Australian players.</p>
            </li>

        </ul>
    </div>
</section>