<section class="top">
    <div class="top__container">
        <h2 class="top__title title">Bonuses in poker rooms</h2>
        <p class="top__text">Please pay attention to gaming platforms that provide a range of benefits for their
            customers. Mostly, they are generous with welcome bonuses, promotional deals, free spins, and loyalty
            programs. Therefore, there is a chance to make the most of these benefits and bonuses.</p>
        <ul class="top__list">
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/cent.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/cent.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Roulette</div>
                <p class="top__item-text">A legitimate Australian online casino must be registered under the nation’s
                    law. More so, authorized online casinos usually provide top-notch services</p>
                <a href="#" class="top__item-link  orange-btn">Play online</a>
            </li>
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/cube.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/cube.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Live Casino</div>
                <p class="top__item-text">Please pay attention to gaming platforms that provide a range of benefits for
                    their customers. Mostly, they are generous with welcome bonuses, promotional deals, free spins, and
                    loyalty programs. Therefore, there is a chance to make the most of these benefits and bonuses. </p>
                <a href="#" class="top__item-link  orange-btn">Play online</a>
            </li>
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/card.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/card.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Blackjack</div>
                <p class="top__item-text">This will enable you to weigh the benefits and drawbacks of each website. Also, it will help you find out which website is the best and the most reliable.</p>
                <a href="#" class="top__item-link  orange-btn">Play online</a>
            </li>
            <li class="top__item">
                <div class="top__item-image">
                    <picture>
                        <source srcset="img/home/top/horseshoe.webp" type="image/webp">
                        <img loading="lazy" src="img/home/top/horseshoe.png" width="168"
                             height="168" alt="image-casino">
                    </picture>
                </div>
                <div class="top__item-title">Roulette</div>
                <p class="top__item-text">You should only pick reliable casino sites that suit your interests and needs. When finding the best online casino in Australia, the following tips may be helpful.</p>
                <a href="#" class="top__item-link  orange-btn">Play online</a>
            </li>
        </ul>
    </div>
</section>