<div class="anchors">
    <ul class="anchors__list">
        <li class="anchors__item">
            <a href="#block1" class="anchors__link _active">Casino</a>
        </li>
        <li class="anchors__item">
            <a href="#block2" class="anchors__link">User</a>
        </li>
        <li class="anchors__item">
            <a href="#block3" class="anchors__link">Review</a>
        </li>
        <li class="anchors__item">
            <a href="#block4" class="anchors__link">News</a>
        </li>
        <li class="anchors__item">
            <a href="#block5" class="anchors__link">Advantages</a>
        </li>
        <li class="anchors__item">
            <a href="#block6" class="anchors__link">Provide</a>
        </li>
        <li class="anchors__item">
            <a href="#block7" class="anchors__link">Payment methods</a>
        </li>
        <li class="anchors__item">
            <a href="#block8" class="anchors__link">Games</a>
        </li>
        <li class="anchors__item">
            <a href="#faq" class="anchors__link">Faq</a>
        </li>
    </ul>
</div>