<section class="bonuses" id="block1">
    <h2 class="bonuses__title title">Casino Favbet </h2>
    <p class="bonuses__text">To play Norwegian casino games online safely, we recommend doing so only on regulated and
        licensed casino platforms To play Norwegian casino games online safely, we recommend doing so only on regulated
        and licensed casino platforms giving advice</p>

    <ul class="bonuses__list">
        <li class="bonuses__item-th">
            <div class="bonuses__item-th-title">Type</div>
            <div class="bonuses__item-th-title">Offer</div>
            <div class="bonuses__item-th-title">The minimum</div>
            <div class="bonuses__item-th-title">Deposit</div>
            <div class="bonuses__item-th-title">Code claim</div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-title">
                <img src="img/page3/bonuses/prize.svg" alt="prize" height="23" width="25">
                <div class="bonuses__item-title-txt">Complimentary</div>
            </div>
            <div class="bonuses__item-offer">€300 + 30 Free Spins for Registration</div>
            <div class="bonuses__item-deposit">10 CAD</div>
            <div class="bonuses__item-code">No code</div>
            <div class="bonuses__item-button">
                <a href="#" class="bonuses__item-link orange-btn" aria-label="link">Claim</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-title">
                <img src="img/page3/bonuses/prize.svg" alt="prize" height="23" width="25">
                <div class="bonuses__item-title-txt">Complimentary</div>
            </div>
            <div class="bonuses__item-offer">€300 + 30 Free Spins for Registration</div>
            <div class="bonuses__item-deposit">10 CAD</div>
            <div class="bonuses__item-code">No code</div>
            <div class="bonuses__item-button">
                <a href="#" class="bonuses__item-link orange-btn" aria-label="link">Claim</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-title">
                <img src="img/page3/bonuses/prize.svg" alt="prize" height="23" width="25">
                <div class="bonuses__item-title-txt">Complimentary</div>
            </div>
            <div class="bonuses__item-offer">€300 + 30 Free Spins for Registration</div>
            <div class="bonuses__item-deposit">10 CAD</div>
            <div class="bonuses__item-code">No code</div>
            <div class="bonuses__item-button">
                <a href="#" class="bonuses__item-link orange-btn" aria-label="link">Claim</a>
            </div>
        </li>
        <li class="bonuses__item">
            <div class="bonuses__item-title">
                <img src="img/page3/bonuses/prize.svg" alt="prize" height="23" width="25">
                <div class="bonuses__item-title-txt">Complimentary</div>
            </div>
            <div class="bonuses__item-offer">€300 + 30 Free Spins for Registration</div>
            <div class="bonuses__item-deposit">10 CAD</div>
            <div class="bonuses__item-code">No code</div>
            <div class="bonuses__item-button">
                <a href="#" class="bonuses__item-link orange-btn" aria-label="link">Claim</a>
            </div>
        </li>


    </ul>
    <a href="#" class="bonuses__all-link">All Casino Bonuses</a>
</section>