<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link">Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info">
                <div class="casino__info-wrap">
                    <div class="casino__info-image">
                        <picture>
                            <source srcset="img/page3/casino/casino-img.webp" type="image/webp">
                            <img loading="lazy" src="img/page3/casino/casino-img.png" width="324"
                                 height="128" alt="image-casino">
                        </picture>
                    </div>
                    <div class="casino__info-play">
                        <div class="casino__info-play-wrap">
                            <h1 class="casino__info-title">Parimatch</h1>
                            <div class="casino__info-licensed">
                                <div class="casino__info-licensed-one">Licensed</div>
                                <div class="casino__info-licensed-two">Licensed</div>
                            </div>
                        </div>
                        <div class="casino__info-reviews">
                            <div class="casino__info-reviews-star">
                                <img src="img/page3/casino/star.svg" alt="star" width="14" height="14">
                                <div class="casino__info-reviews-text">4.5 / 5</div>
                            </div>
                            <div class="casino__info-reviews-comment">
                                <img src="img/page3/casino/comment.svg" alt="comment" width="14" height="14">
                                <div class="casino__info-reviews-text">22 comment</div>
                            </div>
                        </div>
                        <div class="casino__info-buttons">
                            <div class="casino__info-buttons-wrap">
                                <a href="#" class="casino__info-buttons-play orange-btn"
                                   aria-label="button-play">Play</a>
                                <a href="#" class="casino__info-sublink">T&Cs Apply </a>
                            </div>
                            <button type="button" class="casino__info-buttons-like burgundy-btn"
                                    aria-label="button-like">
                                <img src="img/page3/casino/like.svg" alt="like" width="17.5" height="14.5">
                            </button>


                        </div>
                    </div>
                </div>
                <div class="casino__info-country">
                    <div class="casino__info-country-wrap">
                        <div class="casino__info-country-name">
                            <img src="img/page3/casino/country-img.svg" alt="star" width="20" height="20">
                            <div class="casino__info-country-name-txt">Accepts Indian Players</div>
                        </div>
                        <div class="casino__info-country-create">Data created: 20.08.2022</div>
                        <div class="casino__info-country-update">Lost updated: 20.08.2022</div>
                    </div>
                    <div class="casino__info-country-work">
                        <img src="img/page3/casino/blocked.svg" alt="blocked" width="105" height="100">
                    </div>
                </div>
            </div>
            <div class="casino__bonus">
                <div class="casino__bonus-info">
                    <div class="casino__bonus-title">Similar slots</div>
                    <div class="casino__bonus-subtitle">100% up to 400$</div>
                    <div class="casino__bonus-text">1st Deposit Bonus</div>
                </div>
                <div class="casino__bonus-wrap">
                    <a href="#" class="casino__bonus-link burgundy-btn">Play</a>
                    <div class="casino__bonus-subtext">The maximum <span>amount</span> of the bonus</div>
                </div>
            </div>
        </div>
        <div class="casino__links">
            <ul class="casino__links-list">
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link _active">Parimatch casino</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Simple Page</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Providers</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Payments</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Author</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Blog</a>
                </li>
                <li class="casino__links-item">
                    <a href="#" class="casino__links-link">Nyx</a>
                </li>
            </ul>
        </div>

    </div>
</section>