<section class="payment" id="block7">
        <h2 class="payment__title title">Payment methods</h2>
    <ul class="payment__list">
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
        <li class="payment__item">
            <a href="#" class="payment__item-link" aria-label="payment-link"></a>
            <div class="payment__item-image">
                <picture>
                    <source srcset="img/page3/payment/payment-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/payment/payment-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="payment__item-name">1x2 Gaming</div>
        </li>
    </ul>
    <button type="button" class="reviews__btn-showMore burgundy-btn" aria-label="show-more">Show more</button>
</section>