<div class="popup-message _hidden">
  <div class="popup-message__wrapper">
    <div class="popup-message__info">
      <div class="popup-message__info-btn-close"></div>
      <div class="popup-message__info-img">
        <img src="img/popup/message-popup.svg" alt="message-popup" loading="lazy" width="70" height="31">
      </div>
      <div class="popup-message__info-title">Коментар надіслано</div>
      <div class="popup-message__info-text">Дякуємо вам за ваш коментар! Зауважте, що всі коментарі на нашому сайті проходять модерацію перед публікацією. Ми надаємо велике значення створенню безпечної та приємної атмосфери для всіх користувачів. Ваш коментар буде уважно перевірено на відповідність правилам та змісту до його публікації.</div>
      <button type="button" class="popup-message__info-link burgundy-btn">Повернутись на огляд</button>
    </div>
  </div>
</div>