<section class="provide" id="block6">
    <h2 class="provide__title title">Provide</h2>
    <ul class="provide__list">
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <picture>
                    <source srcset="img/page3/provide/provide-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/provide/provide-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <picture>
                    <source srcset="img/page3/provide/provide-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/provide/provide-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <picture>
                    <source srcset="img/page3/provide/provide-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/provide/provide-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <picture>
                    <source srcset="img/page3/provide/provide-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/provide/provide-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <picture>
                    <source srcset="img/page3/provide/provide-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/provide/provide-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
        <li class="provide__item">
            <a href="#" class="provide__item-link" aria-label="provide-link"></a>
            <div class="provide__item-image">
                <picture>
                    <source srcset="img/page3/provide/provide-image.webp" type="image/webp">
                    <img loading="lazy" src="img/page3/provide/provide-image.jpg" width="51"
                         height="51" alt="image-casino">
                </picture>
            </div>
            <div class="provide__item-name">1x2 Gaming</div>
        </li>
    </ul>
    <button type="button" class="reviews__btn-showMore burgundy-btn" aria-label="show-more">Show more</button>
</section>