<aside class="quote" id="block2">
        <div class="quote__info">
            <div class="quote__info-wrap">
                <div class="quote__info-image">
                    <img src="img/page3/quote/avatar.svg" alt="avatar" width="58" height="58">
                </div>
                <div class="quote__info-user">
                    <div class="quote__info-user-name">Name</div>
                    <div class="quote__info-user-date">April 8, 2021</div>
                </div>
            </div>
            <p class="quote__text">
                To play Norwegian casino games online safely, we recommend doing so only on regulated and licensed
                casino platforms To play Norwegian casino games online safely, we recommend doing so only on regulated
                and licensed casino platforms giving advice
            </p>
        </div>
</aside>