<section class="ratings" id="block3">
    <h2 class="ratings__title title">Betson casino review</h2>
    <ul class="ratings__rating">
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewbox="0 0 36 36">
                        <path class="circle-bg"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle red" stroke-dasharray="30, 100"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                    </svg>
                </div>
                <div class="ratings__item-text green">3.4</div>
            </div>
            <div class="ratings__item-info">Editorial rating</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewbox="0 0 36 36">
                        <path class="circle-bg"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle green" stroke-dasharray="10, 100"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                    </svg>
                </div>
                <div class="ratings__item-text red"></div>
            </div>
            <div class="ratings__item-info">Player rating</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewbox="0 0 36 36">
                        <path class="circle-bg"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke-dasharray="10, 100"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                    </svg>
                </div>
                <div class="ratings__item-text yellow"></div>
            </div>
            <div class="ratings__item-info">Reliability</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewbox="0 0 36 36">
                        <path class="circle-bg"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke-dasharray="10, 100"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                    </svg>
                </div>
                <div class="ratings__item-text green"></div>
            </div>
            <div class="ratings__item-info">Withdrawal speed</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewbox="0 0 36 36">
                        <path class="circle-bg"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke-dasharray="10, 100"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                    </svg>
                </div>
                <div class="ratings__item-text green"></div>
            </div>
            <div class="ratings__item-info">Support service</div>
        </li>
        <li class="ratings__item">
            <div class="ratings__item-progress">
                <div class="single-chart">
                    <svg class="circular-chart" viewbox="0 0 36 36">
                        <path class="circle-bg"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                        <path class="circle" stroke-dasharray="10, 100"
                              d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                    </svg>
                </div>
                <div class="ratings__item-text green"></div>
            </div>
            <div class="ratings__item-info">Support service</div>
        </li>
    </ul>
    <div class="ratings__subtitle">About Bateson Casino</div>
    <p class="ratings__text">To play Norwegian casino games online safely, we recommend only doing so on regulated and
        licensed casino platforms. Also, be sure that our team can only nominate titles that are safe to play Norwegian
        casino games online, we recommend only doing so on regulated and licensed casino platforms. Also, make sure that
        our team only</p>
    <a href="#" class="ratings__all-link">All Casino Bonuses</a>
</section>