<section class="reviews" id="block5">
    <h2 class="reviews__title title">Advantages and disadvantages</h2>
    <div class="reviews__row">
        <ul class="reviews__list reviews__list-plus">
            <li class="reviews__item">
                <p class="reviews__item-text">Multiple payment options</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__item-text">A modern, fast platform (SoftSwiss)</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__item-text">A massive selection of games from top manufacturers</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__item-text">Multiple payment options</p>
            </li>
        </ul>
        <ul class="reviews__list reviews__list-minus">
            <li class="reviews__item">
                <p class="reviews__item-text">No sports betting or poker</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__item-text">A modern, fast platform (SoftSwiss)</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__item-text">A massive selection of games from top manufacturers</p>
            </li>
            <li class="reviews__item">
                <p class="reviews__item-text">Multiple payment options</p>
            </li>
        </ul>
    </div>
    <button type="button" class="reviews__btn-showMore burgundy-btn" aria-label="show-more">Show more</button>
</section>