.how-get {
  background-color: #100c23;
  &__container {
    padding: 100px 15px;
  }
  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    gap: 100px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.item {
  &__logo {
    width: 50%;
    max-width: 558px;
    position: relative;
    width: 50%;
    height: fit-content;
  }
  &__image {
    width: 558px;
    object-fit: contain;
    border-radius: 10px;
    border: 1px solid #d3d3d33b;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.08) 0%,
      rgba(217, 217, 217, 0.04) 100%
    );
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    backdrop-filter: blur(25px);
  }
  &__description {
    position: absolute;
    border: 1px solid rgba(225, 32, 193, 0.4);
    bottom: -40px;
    max-width: 487px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 16px 20px;
    background: linear-gradient(180deg, #282538 0%, rgba(217, 217, 217, 0.04) 100%);
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0);
    backdrop-filter: blur(25px);
  }
  &__ico {
    width: 32px;
    height: 32px;
  }
  &__text {
    color: #fff;
    font-family: $font-popins-reg;
    font-size: 16px;
    line-height: 150%;
  }
  &__details {
    width: 50%;
    max-width: 558px;
  }
  &__title {
    margin-bottom: 20px;
    font-family: $font-popins-semb;
    font-size: 40px;
    line-height: 130%;
    background: linear-gradient(254deg, #fff 48.55%, #e6466e 72.99%, #e548ca 97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &__sub-text {
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.8);
    font-family: $font-popins-reg;
    font-size: 16px;
    line-height: 150%;
  }
  // &__link {
  //   color: #e5053d;
  //   text-align: center;
  //   font-family: $font-popins-bold;
  //   font-size: 20px;
  //   letter-spacing: 0.4px;
  //   text-transform: uppercase;
  //   position: relative;
  //   transition: all $transition;

  //   &::after {
  //     content: '';
  //     display: inline-block;
  //     width: 18px;
  //     height: 13px;
  //     background-color: #e5053d;
  //     -webkit-mask: url('../img/new-page/header-menu-arrow.svg') no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask: url('../img/new-page/header-menu-arrow.svg') no-repeat center;
  //     mask-size: contain;
  //     margin: 0 0 0 8px;
  //     transition: all $transition;
  //   }
  //   &:hover {
  //     color: #b4012e;
  //     &::after {
  //       background-color: #b4012e;
  //     }
  //   }
  // }
  &__content {
    &--1 {
      max-height: fit-content;
      overflow: hidden;
      &.short {
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-clamp: 10;
        -webkit-line-clamp: 10;
      }
    }
    &--2 {
      max-height: fit-content;
      overflow: hidden;
      &.short {
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-clamp: 8;
        -webkit-line-clamp: 8;
      }
    }
    &--3 {
      max-height: fit-content;
      overflow: hidden;
      &.short {
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        box-orient: vertical;
        line-clamp: 8;
        -webkit-line-clamp: 8;
      }
    }
  }
  &__link {
    display: none;
    position: relative;
    width: fit-content;
    bottom: 0;
    left: 0;
    right: 0;
    color: #e5053d;
    text-align: center;
    font-family: $font-popins-bold;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    transition: all $transition;
    background-color: transparent;

    &::after {
      content: '';
      display: inline-block;
      width: 18px;
      height: 13px;
      background-color: #e5053d;
      -webkit-mask: url('../img/new-page/header-menu-arrow.svg') no-repeat center;
      -webkit-mask-size: contain;
      mask: url('../img/new-page/header-menu-arrow.svg') no-repeat center;
      mask-size: contain;
      margin: 0 0 0 8px;
      transition: all $transition;
    }
    &:hover {
      color: #b4012e;
      &::after {
        background-color: #b4012e;
      }
    }
    &.visible {
      display: block;
    }
    &.less {
      position: relative;
      margin-top: 10px;
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  // &--reverse {
  //   flex-direction: row-reverse;
  // }
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 1220px) {
  .how-get {
    &__item {
      gap: 30px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .how-get {
    &__container {
      padding: 40px 15px;
    }
    &__item {
      flex-direction: column-reverse;
      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }
  }
  .item {
    &__logo {
      width: 100%;
      margin: 0 auto;
    }
    &__details {
      width: 100%;
      margin: 0 auto;
    }
    &--reverse {
      flex-direction: column-reverse;
    }
  }
}

@media screen and (max-width: 560px) {
  .how-get {
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .item {
    gap: 28px;
    &__title {
      margin-bottom: 14px;
      font-size: 24px;
    }
    &__sub-text {
      margin-bottom: 14px;
      font-size: 12px;
    }
    &__link {
      font-size: 14px;
      &::after {
        width: 14px;
        height: 10px;
      }
    }
    &__description {
      padding: 13px 18px;
      gap: 18px;
      bottom: 10px;
      transform: translateX(-50%) translateY(100%);
    }
    &__ico {
      width: 28px;
      height: 28px;
    }
    &__text {
      font-size: 12px;
    }
  }
}
