.burgundy-btn{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  color: $salad;
  border-radius: 100px;
  background: $green;
  text-shadow: $shadow-text-2;
  transition: background-color $transition;
  &:hover{
    background: $green-hover;
  }
}

.white-btn{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  color: $black;
  border-radius: 100px;
  background: $white;
  box-shadow: $shadow-text-3;
  transition: background-color $transition;
  &:hover{
    background: $white-hover;
  }
}


.transparent-btn{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  color: $black;
  border-radius: 100px;
  border: 1px solid $gray-border-btn;
  transition: background-color $transition;
  &:hover{
    background: $white-hover;
  }
}


.transparent-salad-btn{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  color: $salad;
  border-radius: 100px;
  border: 1px solid $salad;
  transition: color $transition;
  &:hover{
    color: $salad-hover;
  }
}


.orange-btn{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  border-radius: 100px;
  background: $salad;
  color: $green-dark;
  transition: background-color $transition;
  &:hover{
    background: $salad-hover;
  }
}

.grey-btn{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  border-radius: 100px;
  color: $black;
  background: $white-bg;
  box-shadow: $shadow-text-3;
  transition: background-color $transition;
  &:hover{
    background: $white-hover;
  }
}

.grey-btn-two{
  font-family: $font-popins-semb;
  text-transform: uppercase;
  border-radius: 200px;
  color: $salad;
  text-shadow: $shadow-text-2;
  background: $green-transparent;
  transition: background-color $transition;
  &:hover{
    background: $green-transparent-hover;
  }
}

