//new v2.0

//transition
$transition: .3s ease;

//fonts
$font-popins-reg: 'Popins-reg', sans-serif;
$font-popins-semb: 'Popins-semb', sans-serif;

$green-circle: #31A265;
$red-circle: #FF5767;
$yellow-circle: #FF7D04;
$grey-bg-circle: #E8E8E8;
$red: #FF044F;

$shadow-text: 0px 3px 3px rgba(0, 0, 0, 0.25);
$shadow-text-2: 0px 2px 1px rgba(0, 0, 0, 0.25);
$shadow-text-3: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
$salad-shadow-btn: 0px 4px 14px 0px rgba(9, 93, 61, 0.50);


$black: #151A18;
$white: #FFFFFF;
$white-title: #F7F6F4;
$white-bg: #F3F5F6;
$white-bg-hover: #b8c0c2;
$white-hover: #bdbbbb;
$gray: #858585;
$grey-footer: #C1C1D4;
$gray-text-on-green: #D2E4DD;
$gray-border-menu-hover: #c8c8d0;
$gray-opacity: rgba(17, 17, 17, 0.50);
$gray-border-btn: #C2C3C4;
$gray-white: #d9dde0;
$gray-tabs: rgba(0, 0, 0, 0.20);
$gray-links: #2C312F;
$salad: #E7FD52;
$purple: #7387BA;
$salad-hover: #abbe45;
$green: #0B764F;
$green-transparent: rgba(0, 0, 0, 0.30);
$green-transparent-hover: rgba(26, 25, 25, 0.3);
$green-dark: #283D1A;
$green-white: #038941;
$green-hover: #06602f;
$green-grad: linear-gradient(270deg, #0B764F 0%, #0B764F 100%);
$green-grad-2: linear-gradient(180deg, #085A3D 0%, #038941 100%);
$gray-border-menu: rgba(255, 255, 255, 0.1);