// colors
$white: #FFFFFF;
$white-hover: #c5c3c3;
$grey: #808080;
$grey-white: #E7EAEE;
$grey-footer: #C1C1D4;
$orange:  #E1712C;
$white-grey: #FDFDFD;
$burgundy: #691A2E;
$burgundy-sub-bg: #4a101d;
$black-one: #111111;
$pink: #FCEDF0;
$pink-hover: #dec2c8;
$grey-tabs: #1D1C0C;
$blue: #2275D4;
$red: #FF044F;

$green-circle: #31A265;
$red-circle: #FF5767;
$yellow-circle: #FF7D04;
$grey-bg-circle: #E8E8E8;


$burgundy-gradient: linear-gradient(252.32deg, #8A2336 0%, #631728 28.99%, #340918 100%);
$burgunde-circle-gradient: linear-gradient(80.12deg, #852134 0%, #420D1D 104.17%);
$burgunde-header-gradient: linear-gradient(180deg, #490F1F 0%, #400C1C 48.21%, #290614 92.47%);

$black-font-orangeBtn: black;


$orangeBtn: #E1712D;
$orangeBtn-hover: #C26226;
$boxShadowBtn: inset 0px -4px 0px rgba(0, 0, 0, 0.1), inset 0px 4px 0px rgba(255, 255, 255, 0.2);

$greyBtn: rgba(255, 255, 255, 0.2);
$greyBtn-2: #E1712D;
$greyBtn-hover: rgba(255, 255, 255, 0.1);

$burgundyBtn: #691A2E;
$burgundyBtn-hover:  #521424;

//transition
$transition: .3s ease;

//fonts
$font-popins-reg: 'Popins-reg', sans-serif;
$font-popins-semb: 'Popins-semb', sans-serif;
