// базовые подключения
@import "vars";
@import "mixins";


// подключения компонентов страницы


@import "page16/_slot.scss";
@import "general-block/_faq.scss";
@import "general-block/_author.scss";
@import "general-block/_subscribe.scss";


@import "general-block/_footer.scss";




