// базовые подключения
@import "vars";
@import "mixins";

//main
@import "page3/_rating";
@import "page3/_news";
@import "page3/_reviews";
@import "page3/_provide";
@import "page3/_payment";
@import "page3/_games";
@import "page3/_feedback";
@import "page3/_faq";
@import "general-block/_author-aside.scss";

@import "general-block/_subscribe.scss";
@import "general-block/_footer.scss";

@import "page3/_popup";



