//casino-payments block    SHORT-4

.casino-payments {
  margin: 0 0 20px 0;


    .casino-payments__item {
      border: 1px solid $gray;

  }


  &__list {
    display: grid;
    grid-template-columns: calc(33.333% - 10px) calc(33.333% - 10px) calc(33.333% - 10px);
    gap: 15px;

  }

  &__item {
    width: 100%;
    padding: 20px;
    background: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 12px;

    &-image{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 10px 0;
      img{
        border-radius: 8px;
      }
    }

    &-title {
      font-size: 17px;
      line-height: 26px;
      color: $black;
      margin: 0 0 2px 0;
    }

    &-info {
      font-size: 13px;
      line-height: 16px;
      color: $black;
      margin: 0 0 20px 0;

      span {
        font-family: $font-popins-semb;
      }
    }

    &-link {
      width: 100%;
      text-align: center;
      display: inline-block;
      padding: 12px 50px 10px;
      font-size: 15px;
      line-height: 20px;
    }
  }

}

@media screen and (max-width: 1240px) {
  .casino-payments {
    &__container {
      padding: 0;
    }

    &__list {
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px)
    }

  }
}

@media screen and (max-width: 1024px) {
  .casino-payments {

    &__list {
      grid-template-columns: calc(33.333% - 10px) calc(33.333% - 10px) calc(33.333% - 10px);
      width: 100%;
    }
  }
}

@media screen and (max-width: 830px) {
  .casino-payments {
    &__list {
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    }

  }
}

@media screen and (max-width: 600px) {
  .casino-payments {


    &__list {
      grid-template-columns: 100%;
      padding: 0;
      gap: 10px;
    }

    &__item {
      padding: 15px;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      column-gap: 10px;

      &-image {
        grid-row: 1/2;
        grid-column: 1/3;
        margin: 0 0 12px 0;
      }

      &-title {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      &-info {
        grid-row: 3/4;
        grid-column: 1/2;
        margin: 0;
      }

      &-link {
        grid-row: 2/4;
        grid-column: 2/3;
        justify-self: end;
        align-self: start;
      }
    }

  }
}