<section class="hero">
  <div class="hero__container">
    <div class="hero__info">
      <a class="hero__back-btn" href="#">go back</a>
      <h1 class="pageTitle hero__title">Download Aviator App and Bet on Crash Game</h1>
      <p class="sectionText hero__sub-title">
        Experience Aviator’s gameplay on your smartphone. Easily download the official Aviator app
        on Android (APK) or iOS to play this original crash game anywhere, anytime. Our latest
        mobile app version provides the full betting game experience you know and love, perfectly
        optimized for smooth and seamless performance across
      </p>
     
    </div>
    <div class="hero__app app">
      <div class="app__header">
        <img class="app__ico" src="img/new-app-page/hero/ico.png" alt="application icon" />
        <div class="app__info">
          <p class="app__title">Aviator by Spribe</p>
          <p class="app__ver">Latest version: 1.2.6</p>
        </div>
        <div class="app__qr qr">
          <img class="qr__code" src="img/new-app-page/hero/qr.svg" alt="download app qr code" />
        </div>
      </div>
      <div class="app__mid stat">
        <div class="stat__item">
          <p class="stat__title">4.9</p>
          <p class="stat__text">531 reviews</p>
          <a class="stat__link" href="#">view</a>
        </div>
        <div class="stat__item">
          <p class="stat__title">
            <img src="img/new-app-page/hero/download.svg" alt="" />
          </p>
          <p class="stat__text">12.1 MB</p>
        </div>
        <div class="stat__item">
          <p class="stat__title">16+</p>
          <p class="stat__text">Age</p>
        </div>
        <div class="stat__item">
          <p class="stat__title">137856</p>
          <p class="stat__text">Downloads</p>
        </div>
      </div>
      <button class="app__download-btn">Download App</button>
    </div>
  </div>
</section>
