<section class="tables">
  <div class="tables__container">
    <div class="tables__table table">
      <h2 class="sectionTitle table__title">
        Bonuses and Promotions in Aviator Apps for Indian Players
      </h2>
      <p class="sectionText table__sub-title">
        Indian players have access to a wide range of welcome offers when playing Aviator. Below is
        a table summarizing the most competitive promotions provided by reputable online casinos and
        gaming apps. Whether you’re a seasoned player or a beginner,
      </p>
      <table>
        <thead>
          <tr>
            <th>Jurisdiction</th>
            <th>Regulating Authority</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tables__table table">
      <h2 class="sectionTitle table__title">
        Exclusive Promo Codes for Aviator Players in 2025
      </h2>
      <p class="sectionText table__sub-title">
        Indian players have access to a wide range of welcome offers when playing Aviator. Below is
        a table summarizing the most competitive promotions provided by reputable online casinos and
        gaming apps. Whether you’re a seasoned player or a beginner,
      </p>
      <table>
        <thead>
          <tr>
            <th>Jurisdiction</th>
            <th>Regulating Authority</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
