<section class="bonuses">
  <div class="bonuses__container">
    <h2 class="sectionTitle bonuses__title">The Popularity of Aviator Game Apps In India</h2>
    <p class="sectionText bonuses__sub-title">
      Aviator game apps are common among mobile gaming fans in India because of many great options.
      These range from a user-friendly interface to easy gameplay
    </p>
    <div class="swiper bonusesAppSwiper">
      <div class="swiper-wrapper bonuses__cards">
        <div class="swiper-slide bonuses__card card">
          <img class="card__ico" src="img/new-app-page/bonuses/icon-1.png" alt="bonus card icon" />
          <p class="card__title">Mobile Availability</p>
          <p class="card__text">
            The maximum payout multiplier you can achieve when playing through the downloaded
            Aviator game app is 20,000x, offering the potential for exceptionally large winnings.
            For example, if you bet 100 INR, you have a chance to win as much as 2,000,000 INR.*
          </p>
        </div>
        <div class="swiper-slide bonuses__card card">
          <img class="card__ico" src="img/new-app-page/bonuses/icon-2.png" alt="bonus card icon" />
          <p class="card__title">Easy Gameplay</p>
          <p class="card__text">
            The maximum payout multiplier you can achieve when playing through the downloaded
            Aviator game app is 20,000x, offering the potential for exceptionally large winnings.
            For example, if you bet 100 INR, you have a chance to win as much as 2,000,000 INR.*
          </p>
        </div>
        <div class="swiper-slide bonuses__card card">
          <img class="card__ico" src="img/new-app-page/bonuses/icon-3.png" alt="bonus card icon" />
          <p class="card__title">High Payout</p>
          <p class="card__text">
            The maximum payout multiplier you can achieve when playing through the downloaded
            Aviator game app is 20,000x, offering the potential for exceptionally large winnings.
            For example, if you bet 100 INR, you have a chance to win as much as 2,000,000 INR.*
          </p>
        </div>
        <div class="swiper-slide bonuses__card card">
          <img class="card__ico" src="img/new-app-page/bonuses/icon-4.png" alt="bonus card icon" />
          <p class="card__title">Demo Play</p>
          <p class="card__text">
            The maximum payout multiplier you can achieve when playing through the downloaded
            Aviator game app is 20,000x, offering the potential for exceptionally large winnings.
            For example, if you bet 100 INR, you have a chance to win as much as 2,000,000 INR.*
          </p>
        </div>
        <div class="swiper-slide bonuses__card card">
          <img class="card__ico" src="img/new-app-page/bonuses/icon-5.png" alt="bonus card icon" />
          <p class="card__title">High RTP</p>
          <p class="card__text">
            The maximum payout multiplier you can achieve when playing through the downloaded
            Aviator game app is 20,000x, offering the potential for exceptionally large winnings.
            For example, if you bet 100 INR, you have a chance to win as much as 2,000,000 INR.*
          </p>
        </div>
        <div class="swiper-slide bonuses__card card">
          <img class="card__ico" src="img/new-app-page/bonuses/icon-6.png" alt="bonus card icon" />
          <p class="card__title">Features</p>
          <p class="card__text">
            The maximum payout multiplier you can achieve when playing through the downloaded
            Aviator game app is 20,000x, offering the potential for exceptionally large winnings.
            For example, if you bet 100 INR, you have a chance to win as much as 2,000,000 INR.*
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="bonuses__note">
      <img class="bonuses__ico" src="img/new-home-page/bonuses/pin.svg" alt="pin icon" />
      <p class="sectionText bonuses__text">
        These offers are designed to maximize your gaming potential, giving you a solid start in the
        Aviator bet app. Note that these bonuses and promo codes are specific to app usage. When
        choosing a bonus, consider its size, wagering requirements, and any additional perks such as
        free spins or free bets. For optimal results, sign up for multiple apps and activate promo
        codes to unlock even greater rewards.
      </p>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  let swiperHowToPlay = null;

  function initOrDestroySwiper() {
    const screenWidth = window.innerWidth;

    if (screenWidth <= 850 && !swiperHowToPlay) {
      swiperHowToPlay = new Swiper('.bonusesAppSwiper', {
        loop: true,
        slidesPerView: 1.1,
        grabCursor: true,
        spaceBetween: 15,
        centeredSlides: true,
        initialSlide: 0,
        autoplay: {
          delay: 5000,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          550: {
            loop: true,
            slidesPerView: 2.5,
            grabCursor: true,
            spaceBetween: 15,
            centeredSlides: true,
            initialSlide: 0,
            autoplay: {
              delay: 5000,
            },
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
          },
        },
      });
    } else if (screenWidth > 850 && swiperHowToPlay) {
      swiperHowToPlay.destroy(true, true);
      swiperHowToPlay = null;
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    initOrDestroySwiper();
    window.addEventListener('resize', initOrDestroySwiper);
  });
</script>
