<section class="optimization">
  <div class="optimization__container">
    <div class="optimization__item item">
      <div class="item__logo">
        <div class="item__wrapper left-img">
          <div class="item__image mac">
            <img src="img/new-home-page/hero/ipad-bg.png" alt="mac inner" />
          </div>
          <div class="item__image ipad">
            <img src="img/new-home-page/hero/ipad-bg.png" alt="ipad inner" />
          </div>
          <div class="item__image iphone">
            <img src="img/new-home-page/hero/phone-inner.png" alt="iphone inner" />
          </div>
        </div>

        <!-- <div class="item__description">
          <img class="item__ico" src="img/new-app-page/optimization/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div> -->
      </div>
      <div class="item__details">
        <h2 class="sectionTitle item__title">Optimization for Low-End and High-End Devices</h2>
        <div class="item__content">
          <p class="sectionText item__text">
            We’ve fine-tuned the Aviator app to work smoothly on any device, from budget-friendly
            phones to cutting-edge options. Our team worked tirelessly to streamline the interface
            and make it possible to play regardless of your screen size.
            <br />
            <br />
            The application also features scaling elements, which automatically adjust settings
            based on your device’s capabilities. So, the only thing you need is strong internet
            support, and you can enjoy the fast-paced action from the palm of your hand. It’s also
            best to update
          </p>
        </div>
      </div>
    </div>

    <div class="optimization__item item">
      <div class="item__logo">
        <div class="item__wrapper phone">
          <div class="item__image phone">
            <img src="img/new-home-page/hero/phone-inner.png" alt="image phone inner" />
          </div>
          <img
            class="item__image icon"
            src="img/new-app-page/optimization/icon.png"
            alt="image icon"
          />
        </div>
        <div class="item__description">
          <img
            class="item__ico"
            src="img/new-app-page/optimization/pin.svg"
            alt="item image icon"
          />
          <p class="sectionText item__text">
            Be sure to review the casino’s terms and conditions regarding deposits and withdrawals
          </p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="sectionTitle item__title">App Security and Protection Features</h2>
        <div class="item__content">
          <p class="sectionText item__text">
            You need to be careful when downloading apps to play Aviator because not all versions
            are safe for your device. Our Aviator app guarantees you a safe experience with the
            game, as we are an Our app has security measures like high-grade encryption that protect
            you from fraud and third parties accessing your data.
            <br />
            <br />
            When you download the app from unofficial platforms and marketplaces, there is an
            increased risk of fraud and data theft. When playing online, we recommend that you avoid
            sharing
          </p>
          <a class="item__link" href="#">VIEW APP SECURITY STATUS</a>
        </div>
      </div>
    </div>
  </div>
</section>
