<section class="evening2">
  <div class="evening2__swiper">
    <div class="swiper phonesSwiper eveningSwiper2">
      <div class="swiper-wrapper evening2__phones">
        <div class="swiper-slide evening2__phone">
          1
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          2
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          3
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          4
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          5
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          6
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          7
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
        <div class="swiper-slide evening2__phone">
          8
          <img class="evening2__phone-img" src="img/new-home-page/evening/phone-inner.png" alt="" />
        </div>
      </div>
      <div class="swiper-pagination evening2__swiper-pagination"></div>
    </div>
    <h2 class="evening2__title">In the evening</h2>
    <p class="evening2__sub-title">
      The airplane crash game has many advantages that give it a unique place among the competition
      and attract Indian players.
    </p>
  </div>
</section>
