<section class="info">
  <div class="info__container">
    <div class="info__swiper swiper appInfoSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/license.svg" alt="slide icon" />
            <span class="slide__title">License:</span>
          </div>
          <p class="slide__text">Curacao</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/year.svg" alt="slide icon" />
            <span class="slide__title">Year of Launch:</span>
          </div>
          <p class="slide__text">2018</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Company</span>
          </div>
          <p class="slide__text">Umbrella Development B.V.</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/language.svg" alt="slide icon" />
            <span class="slide__title">Min Deposit:</span>
          </div>
          <p class="slide__text">100 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Withdrawal Limit:</span>
          </div>
          <p class="slide__text">Min 1000 / Max 250,000 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Bonuses:</span>
          </div>
          <p class="slide__text">200% up to 24,000 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Bonuses:</span>
          </div>
          <p class="slide__text">200% up to 24,000 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Bonuses:</span>
          </div>
          <p class="slide__text">200% up to 24,000 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Bonuses:</span>
          </div>
          <p class="slide__text">200% up to 24,000 INR</p>
        </div>

        <div class="swiper-slide slide">
          <div class="slide__header">
            <img class="slide__ico" src="img/new-page/slide-ico/company.svg" alt="slide icon" />
            <span class="slide__title">Bonuses:</span>
          </div>
          <p class="slide__text">200% up to 24,000 INR</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  let infoSwiper = null;

  function initOrDestroySwiper() {
    const screenWidth = window.innerWidth;

    if (screenWidth <= 620 && !infoSwiper) {
      infoSwiper = new Swiper('.appInfoSwiper', {
        loop: true,
        slidesPerView: 1.2,
        grabCursor: true,
        spaceBetween: 15,
        centeredSlides: true,
        initialSlide: 0,
        autoplay: {
          delay: 3000,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    } else if (screenWidth > 620 && infoSwiper) {
      infoSwiper.destroy(true, true);
      infoSwiper = null;
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    initOrDestroySwiper();
    window.addEventListener('resize', initOrDestroySwiper);
  });
</script>
