<section class="stores">
  <div class="stores__container">
    <div class="stores__store store">
      <div class="store__header">
        <img class="store__logo" src="img/new-home-page/stores/apple.png" alt="apple store logo" />
        <a class="store__link" href="#">
          <img
            class="store__ico"
            src="img/new-app-page/stores/appstore.png"
            alt="apple store ico"
          />
        </a>
      </div>
      <h2 class="store__title sectionTitle">Download for iOS</h2>
      <p class="store__description sectionText">
        Mobile users in India can enjoy the game on the go by downloading and installing the app.
        The crash game is designed to be mobile-friendly. It runs without issues
      </p>
      <div class="store__table">
        <table>
          <tbody>
            <tr>
              <td>Developer</td>
              <td>Spribe OU, Tallinn, EU Source</td>
            </tr>
            <tr>
              <td>Release</td>
              <td>January 2019</td>
            </tr>
            <tr>
              <td>License</td>
              <td>UKGC, lic. No 57302, MGA, GGC, show all</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>Video Game/Casino Crash/Slot</td>
            </tr>
            <tr>
              <td>Currency</td>
              <td>INR, USD, EUR Min/Max bet INR 10/INR 10,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="store__play-btn" href="#">Play online</a>
    </div>
    <div class="stores__store store">
      <div class="store__header">
        <img
          class="store__logo"
          src="img/new-home-page/stores/android.png"
          alt="google play logo"
        />
        <a class="store__link" href="#">
          <img
            class="store__ico"
            src="img/new-app-page/stores/googleplay.png"
            alt="google play ico"
          />
        </a>
      </div>
      <h2 class="store__title sectionTitle">Download for Android</h2>
      <p class="store__description sectionText">
        Mobile users in India can enjoy the game on the go by downloading and installing the app.
        The crash game is designed to be mobile-friendly. It runs without issues
      </p>
      <div class="store__table">
        <table>
          <tbody>
            <tr>
              <td>Developer</td>
              <td>Spribe OU, Tallinn, EU Source</td>
            </tr>
            <tr>
              <td>Release</td>
              <td>January 2019</td>
            </tr>
            <tr>
              <td>License</td>
              <td>UKGC, lic. No 57302, MGA, GGC, show all</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>Video Game/Casino Crash/Slot</td>
            </tr>
            <tr>
              <td>Currency</td>
              <td>INR, USD, EUR Min/Max bet INR 10/INR 10,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <a class="store__play-btn" href="#">Play online</a>
    </div>
  </div>
</section>
