<section class="play">
  <div class="play__container">
    <div class="play__info">
      <h3 class="play__title">Play on PC</h3>
      <p class="play__sub-title">
        If you own a PC, you are not left out of the game experience. Aviator app download is
        available for both Windows and macOS devices, allowing you to enjoy the game on your
        computer. First, you’ll need to install a reliable emulator on your PC. Once the emulator is
        set up, you can run the Aviator APK file designed for Android. An emulator is a platform
        through which PC users can run apps, making their PC function as an Android device. While
        emulators are generally safe, it is important to only install software from trusted sites
        with a good reputation to avoid harmful software.
      </p>
    </div>
    <div class="play__card">
      <div class="play__card-bg">
        <img
          class="play__inner"
          src="img/new-app-page/play/bg-card.png"
          alt="macbook inner image"
        />
      </div>
    </div>
    <div class="play__note">
      <img class="play__ico" src="img/new-app-page/play/pin.svg" alt="pin icon" />
      <p class="play__text">
        <span>Remember the Core Rule:</span> Gambling should be a fun and controlled activity.
        Always prioritize your financial stability, and if gambling starts affecting your
        well-being, seek professional
      </p>
    </div>
  </div>
</section>
