<section class="what-is">
  <div class="what-is__container">
    <div class="what-is__text">
      <h2 class="what-is__title">What is Aviator game?</h2>
      <p class="what-is__sub-title">
        In 2019, this social multiplayer casino game was launched as a passion project by a lesser-known studio, Spribe. Nowadays, it gets
        more than 32 million players every month. Aviator Crash is a popular
      </p>
      <a class="hero__play-btn what-is__play-btn" href="#">
        Play online
        <img class="hero__button-arrow" src="img/new-page/play-btn.svg" alt="play btn arrow" />
      </a>
    </div>
    <div class="what-is__devices">
      <div class="what-is__iphone">
        <img src="img/new-home-page/what-is/iphone-inner.png" alt="iphone inner image" />
      </div>
      <div class="what-is__ipad">
        <img src="img/new-home-page/what-is/ipad-inner.png" alt="ipad inner image" />
      </div>
    </div>
  </div>
</section>
