<section class="registration">
  <div class="registration__container">
    <div class="registration__item item">
      <div class="item__logo">
        <div class="item__wrapper">
          <img class="item__image" src="img/new-home-page/registration/test-image.png" alt="image" />
        </div>

        <div class="item__description">
          <img class="item__ico" src="img/new-home-page/registration/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="item__title">Registr the Casino Site</h2>
        <p class="item__sub-text">
          While the <a href="#" target="_blank" rel="noopener noreferrer">sign-up process</a> may vary a bit at different Indian casinos,
          the procedure remains straightforward and intuitive. Most online casinos in India have fast One-Click sign-up, Email, and Phone
          options. Other possible variants are a lengthy Full Form and a Social Media method.
          <br />
          <br />
          Please, note that all personal information must be real – your name, age, date of birth, etc. 
          <br />
          <br />
          In addition, some casinos may request to confirm your phone number, so use your real one to receive confirmation SMS or code. In
          case you need to change some of your data, like email or phone
        </p>
        <a class="item__link" href="#">Show more</a>
      </div>
    </div>

    <div class="registration__item item">
      <div class="item__logo">
        <div class="item__wrapper">
          <img class="item__image" src="img/new-home-page/registration/test-image2.png" alt="image" />
        </div>
        <div class="item__description">
          <img class="item__ico" src="img/new-home-page/registration/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="item__title">Log In to Aviator Money Game Fast</h2>
        <p class="item__sub-text">
          Gamblers with a registered casino account can sign in to their profile on desktop or mobile platforms and continue playing. If
          there are multiple options, select the suitable one. The typical variants are Email or Phone. Also, there may be a Social Media
          method which skips filling in personal details while log in.
          <br />
          <br />
          The login page has the Forgot Password link for an effortless password recovery. Once the user clicks it and enters their email
          address, they receive a link for resetting the password.
        </p>
        <a class="item__link" href="#">Show more</a>
      </div>
    </div>
  </div>
</section>
