<section class="registration">
  <div class="registration__container">
    <div class="registration__item item">
      <div class="item__logo">
        <div class="item__wrapper">
          <img
            class="item__image"
            src="img/new-home-page/registration/test-image.png"
            alt="image"
          />
        </div>

        <div class="item__description">
          <img
            class="item__ico"
            src="img/new-home-page/registration/pin.svg"
            alt="item image icon"
          />
          <p class="item__text">
            Be sure to review the casino’s terms and conditions regarding deposits and withdrawals
          </p>
        </div>
      </div>
      <div class="item__details item__details--1">
        <h2 class="item__title">Registr the Casino Site</h2>
        <div class="item__content item__content--1">
          <p class="item__sub-text">
            While the <a href="#" target="_blank" rel="noopener noreferrer">sign-up process</a> may
            vary a bit at different Indian casinos, the procedure remains straightforward and
            intuitive. Most online casinos in India have fast One-Click sign-up, Email, and Phone
            options. Other possible variants are a lengthy Full Form and a Social Media method.
            <br />
            <br />
            Please, note that all personal information must be real – your name, age, date of birth,
            etc.  Please, note that all personal information must be real – your name, age, date of
            birth, In addition, some casinos may request to confirm your phone number, so use your
            real one to receive confirmation SMS or code. In case you need to change some of your
            data, like email or phone
            <br />
            <br />
            In addition, some casinos may request to confirm your phone number, so use your real one
            to receive confirmation SMS or code. In case you need to change some of your data, like
            email or phone
            <br />
            <br />
            In addition, some casinos may request to confirm your phone number, so use your real one
            to receive confirmation SMS or code. In case you need to change some of your data, like
            email or phone
          </p>
          <!-- <a class="item__link" href="#">Show more</a> -->
        </div>
        <button type="button" class="item__showMoreBtn reg__smb1" aria-label="show-more">
          Show more
        </button>
      </div>
    </div>

    <div class="registration__item item">
      <div class="item__logo">
        <div class="item__wrapper">
          <img
            class="item__image"
            src="img/new-home-page/registration/test-image2.png"
            alt="image"
          />
        </div>
        <div class="item__description">
          <img
            class="item__ico"
            src="img/new-home-page/registration/pin.svg"
            alt="item image icon"
          />
          <p class="item__text">
            Be sure to review the casino’s terms and conditions regarding deposits and withdrawals
          </p>
        </div>
      </div>
      <div class="item__details item__details--2">
        <h2 class="item__title">Log In to Aviator Money Game Fast</h2>
        <div class="item__content item__content--2">
          <p class="item__sub-text">
            Gamblers with a registered casino account can sign in to their profile on desktop or
            mobile platforms and continue playing. If there are multiple options, select the
            suitable one. The typical variants are Email or Phone. Also, there may be a Social Media
            method which skips filling in personal details while log in.
            <br />
            <br />
            The login page has the Forgot Password link for an effortless password recovery. Once
            the user clicks it and enters their email address, they receive a link for resetting the
            password.
            <br />
            <br />
            The login page has the Forgot Password link for an effortless password recovery. Once
            the user clicks it and enters their email address, they receive a link for resetting the
            password.
            <br />
            <br />
            The login page has the Forgot Password link for an effortless password recovery. Once
            the user clicks it and enters their email address, they receive a link for resetting the
            password.
          </p>
          <!-- <a class="item__link" href="#">Show more</a> -->
        </div>
        <button type="button" class="item__showMoreBtn reg__smb2" aria-label="show-more">
          Show more
        </button>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    //1
    const textBlock = document.querySelector('.item__details--1');
    const textWrapper = document.querySelector('.item__content--1');
    const btn = document.querySelector('.reg__smb1');

    const maxHeightDesktop = 500;
    if (textBlock.scrollHeight > maxHeightDesktop) {
      btn.classList.add('visible');
      textWrapper.classList.add('short');
    }

    btn.addEventListener('click', function () {
      textWrapper.classList.toggle('short');
      const expanded = textBlock.classList.toggle('expanded');
      btn.textContent = expanded ? 'Show less' : 'Show more';
      btn.classList.toggle('less');
    });
    //2
    const textBlock2 = document.querySelector('.item__details--2');
    const textWrapper2 = document.querySelector('.item__content--2');
    const btn2 = document.querySelector('.reg__smb2');

    const maxHeightDesktop2 = 500;
    if (textBlock2.scrollHeight > maxHeightDesktop2) {
      btn2.classList.add('visible');
      textWrapper2.classList.add('short');
    }

    btn2.addEventListener('click', function () {
      textWrapper2.classList.toggle('short');
      const expanded2 = textBlock2.classList.toggle('expanded');
      btn2.textContent = expanded2 ? 'Show less' : 'Show more';
      btn2.classList.toggle('less');
    });
  });
</script>
