<section class="funds">
  <div class="funds__wrapper">
    <h2 class="funds__title">Depositing and Withdrawing Funds</h2>
    <p class="funds__sub-title">
      It is important to note that each online gambling site offering Aviator casino game may have different rules, terms and conditions,
      fees, and withdrawal processing times. Therefore, it is recommended to carefully review the casino’s policies and procedures before
      submitting
    </p>
    <a class="hero__play-btn funds__play-btn" href="#">
      Play online
      <img class="hero__button-arrow" src="img/new-page/play-btn.svg" alt="play btn arrow" />
    </a>
  </div>
</section>
