<section class="funds2">
  <div class="funds2__container">
    <div class="funds2__item item">
      <div class="item__logo">
        <div class="item__wrapper">
          <img class="item__image" src="img/new-home-page/funds2/test-image.png" alt="image" />
        </div>

        <div class="item__description">
          <img class="item__ico" src="img/new-home-page/funds2/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="item__title">Depositing Funds</h2>
        <div class="item__sub-texts">
          <p class="item__sub-text">To begin playing with real money, you’ll need to deposit funds into your casino account:</p>
          <p class="item__sub-text">
            Access the Deposit Section: Log in to your account and navigate to the “Deposit” or “Cashier” section.
          </p>
          <p class="item__sub-text">
            Select a Payment Method: Choose from available payment options such as UPI, Paytm, credit/debit cards, or other methods commonly
            used in India.
          </p>
          <p class="item__sub-text">
            Complete the Transaction: Follow the on-screen instructions to finalize your deposit. Funds are usually credited instantly.
          </p>
        </div>
      </div>
    </div>

    <div class="funds2__item item">
      <div class="item__logo">
        <div class="item__wrapper">
          <img class="item__image" src="img/new-home-page/funds2/test-image2.png" alt="image" />
        </div>
        <div class="item__description">
          <img class="item__ico" src="img/new-home-page/funds2/pin.svg" alt="item image icon" />
          <p class="item__text">Be sure to review the casino’s terms and conditions regarding deposits and withdrawals</p>
        </div>
      </div>
      <div class="item__details">
        <h2 class="item__title">Log In to Aviator Money Game Fast</h2>
        <div class="item__sub-texts">
          <p class="item__sub-text">Go to the Withdrawal Section: Access the “Withdraw” or “Cashier” area in your account.</p>
          <p class="item__sub-text">
            Specify Withdrawal Amount: Enter the amount you wish to withdraw, keeping in mind any minimum or maximum limits.
          </p>
          <p class="item__sub-text">
            Follow Verification Procedures: You may be required to verify your identity by providing documents such as an ID card or proof
            of address.
          </p>
          <p class="item__sub-text">
            Complete the Withdrawal Request: Submit your request and await confirmation. Processing times can vary depending
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
