<section class="payments">
  <div class="payments__container">
    <div class="payments__header">
      <div class="payments__text">
        <h2 class="payments__title">Main Casino Payment Methods in India</h2>
        <p class="payments__description">
          There are numerous payment methods available for Indian online gamblers. With such a wide range of options, it can be challenging
          to decide which one to use.
        </p>
      </div>
      <div class="payments__buttons">
        <button class="payments__button payments__button--prev">
          <img src="img/new-page/up-btn-desk.svg" alt="prev button" />
        </button>
        <button class="payments__button payments__button--next">
          <img src="img/new-page/up-btn-desk.svg" alt="next button" />
        </button>
      </div>
    </div>

    <div class="swiper paymentsSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide payment-item">
          <div class="payment-item__avatar">
            <img src="img/new-home-page/payments/visa.svg" alt="payment method image" />
          </div>
          <p class="payment-item__title">UPI</p>
          <p class="payment-item__sub-title">
            An Indian mobile app that links together multiple payment methods for the user’s convenience. For anyone who wishes to play
            Aviator game in India, UPI is an easy way to deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide payment-item">
          <div class="payment-item__avatar">
            <img src="img/new-home-page/payments/gpay.svg" alt="payment method image" />
          </div>
          <p class="payment-item__title">Google Pay</p>
          <p class="payment-item__sub-title">
            An Indian mobile app that links together multiple payment methods for the user’s convenience. For anyone who wishes to play
            Aviator game in India, UPI is an easy way to deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide payment-item">
          <div class="payment-item__avatar">
            <img src="img/new-home-page/payments/city24.svg" alt="payment method image" />
          </div>
          <p class="payment-item__title">AstroPay</p>
          <p class="payment-item__sub-title">
            An Indian mobile app that links together multiple payment methods for the user’s convenience. For anyone who wishes to play
            Aviator game in India, UPI is an easy way to deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide payment-item">
          <div class="payment-item__avatar">
            <img src="img/new-home-page/payments/gpay.svg" alt="payment method image" />
          </div>
          <p class="payment-item__title">Google Pay2</p>
          <p class="payment-item__sub-title">
            An Indian mobile app that links together multiple payment methods for the user’s convenience. For anyone who wishes to play
            Aviator game in India, UPI is an easy way to deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide payment-item">
          <div class="payment-item__avatar">
            <img src="img/new-home-page/payments/visa.svg" alt="payment method image" />
          </div>
          <p class="payment-item__title">Visa 2</p>
          <p class="payment-item__sub-title">
            An Indian mobile app that links together multiple payment methods for the user’s convenience. For anyone who wishes to play
            Aviator game in India, UPI is an easy way to deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>

        <div class="swiper-slide payment-item">
          <div class="payment-item__avatar">
            <img src="img/new-home-page/payments/city24.svg" alt="payment method image" />
          </div>
          <p class="payment-item__title">city24</p>
          <p class="payment-item__sub-title">
            An Indian mobile app that links together multiple payment methods for the user’s convenience. For anyone who wishes to play
            Aviator game in India, UPI is an easy way to deposit INR. Withdrawals are neither fast nor widely available.
          </p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  function initSwiper() {
    const swiper = new Swiper('.paymentsSwiper', {
      loop: true,
      slidesPerView: 1.2,
      spaceBetween: 15,
      centeredSlides: true,
      grabCursor: true,
      initialSlide: 0,

      navigation: {
        nextEl: '.payments__button--next',
        prevEl: '.payments__button--prev',
      },

      autoplay: {
        delay: 3000,
      },

      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      breakpoints: {
        550: {
          loop: true,
          slidesPerView: 2,
          spaceBetween: 15,
          centeredSlides: true,
          grabCursor: true,
          initialSlide: 0,

          navigation: {
            nextEl: '.payments__button--next',
            prevEl: '.payments__button--prev',
          },

          autoplay: {
            delay: 3000,
          },

          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        },
        750: {
          loop: false,
          centeredSlides: false,
          slidesPerView: 2.5,
          spaceBetween: 20,
          grabCursor: true,
          navigation: {
            nextEl: '.payments__button--next',
            prevEl: '.payments__button--prev',
          },
          autoplay: false,
        },
        1025: {
          loop: false,
          centeredSlides: false,
          slidesPerView: 3,
          spaceBetween: 20,
          grabCursor: true,
          navigation: {
            nextEl: '.payments__button--next',
            prevEl: '.payments__button--prev',
          },
          autoplay: false,
        },
        1200: {
          loop: false,
          centeredSlides: false,
          slidesPerView: 3.75,
          spaceBetween: 20,
          grabCursor: true,
          navigation: {
            nextEl: '.payments__button--next',
            prevEl: '.payments__button--prev',
          },
          autoplay: false,
        },
      },
    });
  }

  document.addEventListener('DOMContentLoaded', initSwiper());
</script>
