<section class="stores">
  <div class="stores__container">
    <div class="stores__store">
      <img class="stores__ico" src="img/new-home-page/stores/apple.png" alt="store image" />
      <h3 class="stores__title">Aviator Game for iOS</h3>
      <p class="stores__sub-title">
        Mobile users in India can enjoy the game on the go by downloading and installing the app. The crash game is designed to be
        mobile-friendly. It runs without issues on all modern smartphones and tablets powered by iOS or Android. Fitting the smaller display
        size, the interface layout shifts slightly. You can find information
      </p>
      <div class="stores__buttons">
        <button type="button" class="showMoreBtn stores__showMoreBtn" aria-label="show-more">Show more</button>
        <a href="#" class="stores__link">play online</a>
      </div>
    </div>

    <div class="stores__store">
      <img class="stores__ico" src="img/new-home-page/stores/android.png" alt="store image" />
      <h3 class="stores__title">Aviator Game for Android</h3>
      <p class="stores__sub-title">
        Mobile users in India can enjoy the game on the go by downloading and installing the app. The crash game is designed to be
        mobile-friendly. It runs without issues on all modern smartphones and tablets powered by iOS or Android. Fitting the smaller display
        size, the interface layout shifts slightly. You can find information
      </p>
      <div class="stores__buttons">
        <button type="button" class="showMoreBtn stores__showMoreBtn" aria-label="show-more">Show more</button>
        <a href="#" class="stores__link">play online</a>
      </div>
    </div>
  </div>
</section>
