<section class="licenses">
  <div class="licenses__container">
    <div class="licenses__text">
      <div class="licenses__top">
        <h3 class="licenses__title">Licenses & Certifications</h3>
        <p class="licenses__sub-title">
          Spribe has created a secure game with Aviator, ensuring no risks related to data security, fairness, or gameplay integrity for
          users. While the game involves betting and the inherent risk of losing money, it fully complies with international safety and
          security standards in the gambling industry. The developer is accredited and certified in multiple jurisdictions, and the game
          studio holds several
        </p>
      </div>
      <div class="licenses__risk">
        <img class="licenses__risk-ico" src="img/new-home-page/licenses/risk.svg" alt="licenses risk image" />
        <p class="licenses__risk-title">Financial Awareness and Risk Management</p>
        <p class="licenses__risk-text">
          The Aviator game online is designed for entertainment, where the thrill of crash gameplay comes from testing your luck. A gamer
          should be aware that no strategy will definitely work and that a game should never be treated as a way to provide for certain
          income reliably. It will help to develop a responsible and financially conscious
        </p>
      </div>
    </div>
    <div class="licenses__table">
      <table>
        <thead>
          <tr>
            <th>Jurisdiction</th>
            <th>Regulating Authority</th>
            <th>License Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
            <td>Gaming-Related Supplier</td>
          </tr>
          <tr>
            <td>Ontario, Canada2</td>
            <td>Gibraltar 2</td>
            <td>Gaming2</td>
          </tr>
          <tr>
            <td>small</td>
            <td>small</td>
            <td>small</td>
          </tr>
          <tr>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates, quidem, maiores maxime illum delectus, veritatis
              aliquid id ex labore in. Non corporis, iure sint reprehenderit numquam ratione quod placeat?
            </td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates, quidem, maiores maxime illum delectus, veritatis
              aliquid id ex labore in. Non corporis, iure sint reprehenderit numquam ratione quod placeat?
            </td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates, quidem, maiores maxime illum delectus, veritatis
              aliquid id ex labore in. Non corporis, iure sint reprehenderit numquam ratione quod placeat?
            </td>
          </tr>
          <tr>
            <td>small</td>
            <td>small</td>
            <td>small</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
            <td>Gaming-Related Supplier</td>
          </tr>
          <tr>
            <td>Ontario, Canada</td>
            <td>Gibraltar Gaming Commission</td>
            <td>Gaming-Related Supplier</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
