<section class="benefits2">
  <div class="benefits2__container">
    <h2 class="benefits2__title">Benefits of playing Aviator games online</h2>
    <p class="benefits2__sub-title">
      The airplane crash game has many advantages that give it a unique place among the competition
      and attract Indian players.
    </p>
    <div class="swiper benefits2Swiper">
      <div class="swiper-wrapper benefits2__cards">
        <div class="swiper-slide benefits2__card card">
          <img
            class="card__ico"
            src="img/new-home-page/benefits2/icon-1.png"
            alt="benefit card icon"
          />
          <p class="card__title">SINGLE BET</p>
          <p class="card__text">
            Cashing it out at a small multiplier (1.20x) is a low-risk tactic with insignificant
            profits. Waiting until 2.00x has moderate risks and reasonable profits.
          </p>
        </div>
        <div class="swiper-slide benefits2__card card">
          <img
            class="card__ico"
            src="img/new-home-page/benefits2/icon-2.png"
            alt="benefit card icon"
          />
          <p class="card__title">2:1</p>
          <p class="card__text">
            The first Aviator bet is twice as large as the second one. The first bet cashes out at
            1.50x to cover the cost of both wagers. The second bet waits for a higher multiplier.
          </p>
        </div>
        <div class="swiper-slide benefits2__card card">
          <img
            class="card__ico"
            src="img/new-home-page/benefits2/icon-3.png"
            alt="benefit card icon"
          />
          <p class="card__title">MARTINGALE</p>
          <p class="card__text">
            Increases the bet twofold after every loss, so the eventual win covers all losses. For
            example: betting INR 20, then INR 40 results in losses. If the third bet of INR 80 wins
          </p>
        </div>
        <div class="swiper-slide benefits2__card card">
          <img
            class="card__ico"
            src="img/new-home-page/benefits2/icon-4.png"
            alt="benefit card icon"
          />
          <p class="card__title">PAROLI</p>
          <p class="card__text">
            The bet grows twofold after every win. For example, two bets of INR 20 were lost. The
            next such bet wins at 2.00x, recouping INR 20. Now, winning the next INR 40 Aviator bet
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', startSwiper);

  function startSwiper() {
    const benefits2Swiper = new Swiper('.benefits2Swiper', {
      slidesPerView: 1.05,
      spaceBetween: 10,
      loop: true,
      grabCursor: true,
      centeredSlides: true,
      initialSlide: 0,
      autoplay: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        bulletElement: 'button',
      },
      breakpoints: {
        420: {
          slidesPerView: 1.1,
          spaceBetween: 10,
          loop: true,
          grabCursor: true,
          centeredSlides: true,
          initialSlide: 0,
          autoplay: false,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        },
        550: {
          slidesPerView: 1.2,
          spaceBetween: 10,
          loop: true,
          grabCursor: true,
          centeredSlides: true,
          initialSlide: 0,
          autoplay: false,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        },
        670: {
          slidesPerView: 2,
          spaceBetween: 15,
          loop: true,
          grabCursor: true,
          centeredSlides: true,
          initialSlide: 0,
          autoplay: false,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        },
        840: {
          slidesPerView: 2.5,
          spaceBetween: 15,
          loop: true,
          grabCursor: true,
          initialSlide: 0,
          autoplay: false,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        },
        1150: {
          slidesPerView: 3,
          spaceBetween: 15,
          loop: true,
          grabCursor: true,
          initialSlide: 0,
          autoplay: false,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
        },
        1325: {
          loop: false,
          centeredSlides: false,
          slidesPerView: 4,
          spaceBetween: 18,
          grabCursor: true,
        },
      },
    });
  }
</script>
