<section class="legality">
  <div class="legality__container">
    <div class="legality__info">
      <h3 class="legality__title">Gambling Legality in India</h3>
      <p class="legality__sub-title">
        The main legislation regulating gambling in India is the Public Gambling Act of 1867, which
        prohibits running and participating in land-based gambling activities. However, this does
        not include any provisions covering online gambling, since the law was enacted before the
        digital era.
        <br />
        <br />
        As a result, India has not enacted any federal law that absolutely prohibits or restricts
        online gambling. The effect has been the creation of a legal “gray area” where online
        gambling is neither prohibited nor fully legalized under federal law. For players who may
        question the legality of the Aviator game, playing the online version of Aviator does not
        violate any existing federal laws in India.
      </p>
      <button type="button" class="showMoreBtn legality__showMoreBtn" aria-label="show-more">
        Show more
      </button>
    </div>
    <div class="legality__card">
      <div class="legality__card-bg">
        <div class="legality__phone">
          <!-- <img src="img/new-home-page/legality/phone-inner.png" alt="legality image" /> -->
        </div>
      </div>
    </div>
    <div class="legality__note">
      <img class="legality__ico" src="img/new-home-page/legality/pin.svg" alt="pin icon" />
      <p class="legality__text">
        <span>Remember the Core Rule:</span> Gambling should be a fun and controlled activity. Always prioritize
        your financial stability, and if gambling starts affecting your well-being, seek
        professional
      </p>
    </div>
  </div>
</section>
