<section class="games">
  <div class="games__container">
    <div class="games__header">
      <div class="games__text">
        <h2 class="games__title">Appreciation letter</h2>
        <p class="games__description">
          Leading Indian gaming influencers share their real-life experiences with the Aviator game.
          Learn how they approach the gameplay, manage risks and celebrate their wins.
        </p>
      </div>
      <div class="games__buttons">
        <button class="games__button games__button--prew">
          <img src="img/new-page/up-btn-desk.svg" alt="game avatar" />
        </button>
        <button class="games__button games__button--next">
          <img src="img/new-page/up-btn-desk.svg" alt="game avatar" />
        </button>
      </div>
    </div>

    <div class="swiper gamesSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide game-item">
          <div class="game-item__marker">
            <img
              class="game-item__marker-ico"
              src="img/new-home-page/games/play-ico.svg"
              alt="play marker icon"
            />
            <p class="game-item__marker-text">play now</p>
          </div>
          <div class="game-item__avatar">
            <img src="img/new-home-page/games/avatar-1.png" alt="game avatar" />
          </div>
          <p class="game-item__title">@WasimGamerHindi</p>
          <div class="game-item__rates">
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹500</p>
              <p class="game-item__rate-text">Bet</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">1.8x</p>
              <p class="game-item__rate-text">Cash-Out Multiplier</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹900</p>
              <p class="game-item__rate-text">Outcome:</p>
              <p class="game-item__rate-profit">profit of ₹400</p>
            </div>
          </div>
          <p class="game-item__sub-title">
            This round was a calculated risk. I usually aim low, but this time I trusted my
            intuition and went for 8x. I don't often recommend this approach, but it worked for me
            here!"
          </p>
        </div>

        <div class="swiper-slide game-item">
          <div class="game-item__marker">
            <img
              class="game-item__marker-ico"
              src="img/new-home-page/games/play-ico.svg"
              alt="play marker icon"
            />
            <p class="game-item__marker-text">play now</p>
          </div>
          <div class="game-item__avatar">
            <img src="img/new-home-page/games/avatar-2.png" alt="game avatar" />
          </div>
          <p class="game-item__title">@WasimGamerHindi</p>
          <div class="game-item__rates">
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹500</p>
              <p class="game-item__rate-text">Bet</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">1.8x</p>
              <p class="game-item__rate-text">Cash-Out Multiplier</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹900</p>
              <p class="game-item__rate-text">Outcome:</p>
              <p class="game-item__rate-profit">profit of ₹400</p>
            </div>
          </div>
          <p class="game-item__sub-title">
            This round was a calculated risk. I usually aim low, but this time I trusted my
            intuition and went for 8x. I don't often recommend this approach, but it worked for me
            here!"
          </p>
        </div>

        <div class="swiper-slide game-item">
          <div class="game-item__marker">
            <img
              class="game-item__marker-ico"
              src="img/new-home-page/games/play-ico.svg"
              alt="play marker icon"
            />
            <p class="game-item__marker-text">play now</p>
          </div>
          <div class="game-item__avatar">
            <img src="img/new-home-page/games/avatar-3.png" alt="game avatar" />
          </div>
          <p class="game-item__title">@WasimGamerHindi</p>
          <div class="game-item__rates">
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹500</p>
              <p class="game-item__rate-text">Bet</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">1.8x</p>
              <p class="game-item__rate-text">Cash-Out Multiplier</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹900</p>
              <p class="game-item__rate-text">Outcome:</p>
              <p class="game-item__rate-profit">profit of ₹400</p>
            </div>
          </div>
          <p class="game-item__sub-title">
            This round was a calculated risk. I usually aim low, but this time I trusted my
            intuition and went for 8x. I don't often recommend this approach, but it worked for me
            here!"
          </p>
        </div>

        <div class="swiper-slide game-item">
          <div class="game-item__marker">
            <img
              class="game-item__marker-ico"
              src="img/new-home-page/games/play-ico.svg"
              alt="play marker icon"
            />
            <p class="game-item__marker-text">play now</p>
          </div>
          <div class="game-item__avatar">
            <img src="img/new-home-page/games/avatar-4.png" alt="game avatar" />
          </div>
          <p class="game-item__title">@WasimGamerHindi</p>
          <div class="game-item__rates">
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹500</p>
              <p class="game-item__rate-text">Bet</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">1.8x</p>
              <p class="game-item__rate-text">Cash-Out Multiplier</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹900</p>
              <p class="game-item__rate-text">Outcome:</p>
              <p class="game-item__rate-profit">profit of ₹400</p>
            </div>
          </div>
          <p class="game-item__sub-title">
            This round was a calculated risk. I usually aim low, but this time I trusted my
            intuition and went for 8x. I don't often recommend this approach, but it worked for me
            here!"
          </p>
        </div>

        <div class="swiper-slide game-item">
          <div class="game-item__marker">
            <img
              class="game-item__marker-ico"
              src="img/new-home-page/games/play-ico.svg"
              alt="play marker icon"
            />
            <p class="game-item__marker-text">play now</p>
          </div>
          <div class="game-item__avatar">
            <img src="img/new-home-page/games/avatar-1.png" alt="game avatar" />
          </div>
          <p class="game-item__title">@WasimGamerHindi</p>
          <div class="game-item__rates">
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹500</p>
              <p class="game-item__rate-text">Bet</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">1.8x</p>
              <p class="game-item__rate-text">Cash-Out Multiplier</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹900</p>
              <p class="game-item__rate-text">Outcome:</p>
              <p class="game-item__rate-profit">profit of ₹400</p>
            </div>
          </div>
          <p class="game-item__sub-title">
            This round was a calculated risk. I usually aim low, but this time I trusted my
            intuition and went for 8x. I don't often recommend this approach, but it worked for me
            here!"
          </p>
        </div>

        <div class="swiper-slide game-item">
          <div class="game-item__marker">
            <img
              class="game-item__marker-ico"
              src="img/new-home-page/games/play-ico.svg"
              alt="play marker icon"
            />
            <p class="game-item__marker-text">play now</p>
          </div>
          <div class="game-item__avatar">
            <img src="img/new-home-page/games/avatar-2.png" alt="game avatar" />
          </div>
          <p class="game-item__title">@WasimGamerHindi</p>
          <div class="game-item__rates">
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹500</p>
              <p class="game-item__rate-text">Bet</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">1.8x</p>
              <p class="game-item__rate-text">Cash-Out Multiplier</p>
            </div>
            <div class="game-item__rate">
              <p class="game-item__rate-title">₹900</p>
              <p class="game-item__rate-text">Outcome:</p>
              <p class="game-item__rate-profit">profit of ₹400</p>
            </div>
          </div>
          <p class="game-item__sub-title">
            This round was a calculated risk. I usually aim low, but this time I trusted my
            intuition and went for 8x. I don't often recommend this approach, but it worked for me
            here!"
          </p>
        </div>
      </div>
      <div class="swiper-pagination games__swiper-pagination"></div>
    </div>
  </div>
</section>
