<section class="wins">
  <div class="wins__container">
    <div class="wins__left">
      <h2 class="wins__title">Aviator Top Bets and Big Wins</h2>
      <p class="wins__sub-title">
        Examples of notable bets and wins from the past month based on available
      </p>
      <div class="wins__table-wrapper">
        <div class="wins__buttons">
          <button class="wins__button wins__button--active monthBtn">month</button>
          <button class="wins__button yearBtn">year</button>
        </div>
        <div class="wins__table active monthTable">
          <table>
            <thead>
              <tr>
                <th>Agent</th>
                <th>Bet USD</th>
                <th>Cashed out</th>
                <th>Win USD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  <span>@WasimGame...</span>
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  <span>@WasimGame...</span>
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="wins__table yearTable">
          <table>
            <thead>
              <tr>
                <th>Agent</th>
                <th>Bet USD</th>
                <th>Cashed out</th>
                <th>Win USD</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava-2.png" alt="winner avatar" />
                  <span>@WasimGame...</span>
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava-2.png" alt="winner avatar" />
                  <span>@WasimGame...</span>
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava-2.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava-2.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
              <tr>
                <td>
                  <img src="../img/new-home-page/wins/ava-2.png" alt="winner avatar" />
                  @WasimGame...
                </td>
                <td>1.00</td>
                <td>10000.00x</td>
                <td>10,000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="wins__right">
      <div class="wins__phone">
        <div class="wins__phone-marker"><span>RTP &#8722; 97%</span></div>
        <img src="../img/new-home-page/wins/phone-inner.png" alt="phone-inner" />
      </div>
      <h2 class="wins__title">What about?</h2>
      <p class="wins__sub-title">
        In 2019, this social multiplayer casino game was launched as a passion project by a
        lesser-known studio, Spribe. Nowadays, it gets more than 32 million players every month.
        Aviator is a popular example of the crash game genre, which has emerged in recent years and
        attracted a significant following. The Aviator
      </p>
      <a class="hero__play-btn" href="#">
        Play online
        <img class="hero__button-arrow" src="img/new-page/play-btn.svg" alt="play btn arrow" />
      </a>
    </div>
  </div>
</section>

<script>
  const buttons = document.querySelectorAll('.wins__button');

  const monthBtn = document.querySelector('.monthBtn');
  const yearBtn = document.querySelector('.yearBtn');
  const monthTable = document.querySelector('.monthTable');
  const yearTable = document.querySelector('.yearTable');

  monthBtn.addEventListener('click', () => {
    if (!monthBtn.classList.contains('wins__button--active')) {
      monthBtn.classList.toggle('wins__button--active');
      yearBtn.classList.toggle('wins__button--active');
      monthTable.classList.add('active');
      yearTable.classList.remove('active');
    }
  });
  yearBtn.addEventListener('click', () => {
    if (!yearBtn.classList.contains('wins__button--active')) {
      monthBtn.classList.toggle('wins__button--active');
      yearBtn.classList.toggle('wins__button--active');
      monthTable.classList.remove('active');
      yearTable.classList.add('active');
    }
  });
</script>
