<section class="algorithm">
  <div class="algorithm__container">
    <div class="algorithm__text">
      <h2 class="algorithm__title">Aviator Fairness: Provably Fair Algorithms</h2>
      <p class="algorithm__sub-title">
        It is a method of generating and securing random round results. It employs multiple layers of heavy-duty cryptography. The algorithm
        uses both server-generated data and client-side inputs. Players can independently verify the fairness of each round by following
        these
      </p>
      <div class="algorithm__lines">
        <p class="algorithm__line">
          Open game history: In the game interface, locate the section with round history or click on the fairness verification icon
        </p>
        <p class="algorithm__line">
          Open game history: In the game interface, locate the section with round history or click on the fairness verification icon
        </p>
        <p class="algorithm__line">
          Open game history: In the game interface, locate the section with round history or click on the fairness verification icon
        </p>
      </div>
      <p class="algorithm__sub-title">
        Check the hash: Using any online SHA-512 hash calculator, mix the listed seeds and compare the resulting hash with the one in the
      </p>
      <a class="algorithm__link" href="#">Show more</a>
    </div>
    <div class="algorithm__item algorithm__item--1">
      <img src="../img/new-home-page/algorithm/item-1.png" alt="algorithm image" />
      <div class="algorithm__item--tablet-bg1"></div>
    </div>
    <div class="algorithm__item algorithm__item--2">
      <img src="../img/new-home-page/algorithm/item-2.png" alt="algorithm image" />
      <div class="algorithm__item--tablet-bg2"></div>
    </div>
  </div>
</section>
