<section class="hero">
  <div class="hero__container">
    <div class="hero__info">
      <h1 class="hero__title">Aviator Game: Welcome to Crash Betting Online</h1>
      <p class="hero__sub-title">
        The Aviator game is fast becoming popular among Indian players. Simple rules and engaging gameplay make it easy for anyone to play,
        whether you are a beginner or an experienced bettor. The challenge is in deciding the right time to cash out, but remember, it all
        depends on luck - there is no sure way to win. This is what makes
      </p>
      <a class="hero__play-btn" href="#">
        Play online
        <img class="hero__button-arrow" src="img/new-page/play-btn.svg" alt="play btn arrow" />
      </a>
      <img class="hero__plane" src="img/new-home-page/hero/plane-small.svg" alt="small plane" />
    </div>
    <div class="hero__devices">
      <div class="hero__ipad">
        <img class="hero__image-ipad" src="img/new-home-page/hero/ipad-bg.jpg" alt="hero ipad picture" >
        <!-- <img class="hero__image-ipad" src="img/new-home-page/hero/ipad-bg.png" alt="hero ipad picture" > -->
        <!-- <img class="hero__image-ipad" src="img/new-home-page/hero/ipad-bg-2.png" alt="hero ipad picture" > -->
      </div>
      <div class="hero__iphone"></div>
      <div class="hero__marker marker--ipad"></div>
      <div class="hero__marker marker--iphone"></div>
    </div>
  </div>
</section>
