<section class="casino">
    <div class="casino__container">
        <div class="casino__breadcrumbs">
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Index</a>
            <a href="#" class="casino__breadcrumbs-link" aria-label="link-breadcrumbs">Casino category</a>
            <span class="casino__breadcrumbs-link" >Casino category</span>
        </div>
        <div class="casino__row">
            <div class="casino__info-wrap">
                <div class="casino__info-image">
                    <picture>
                        <source srcset="img/page10/casino-img.webp" type="image/webp">
                        <img loading="lazy" src="img/page10/casino-img.jpg" width="324"
                             height="128" alt="image-casino">
                    </picture>
                </div>
                <h1 class="casino__info-title">Mastercard</h1>
                <div class="casino__info-reviews">
                    <div class="casino__info-reviews-star">
                        <img src="img/page3/casino/star.svg" alt="star" width="14" height="14">
                        <div class="casino__info-reviews-text">4.5 / 5</div>
                    </div>
                    <div class="casino__info-reviews-comment">
                        <img src="img/page3/casino/comment.svg" alt="comment" width="14" height="14">
                        <div class="casino__info-reviews-text">22 comment</div>
                    </div>
                </div>
                <div class="casino__info-data" data-da=".casino__row,1024,3">
                    <div class="casino__info-data-create">Data created: 20.08.2022</div>
                    <div class="casino__info-data-update">Lost updated: 20.08.2022</div>
                </div>

            </div>
            <ul class="casino__info-list">
                <li class="casino__info-item">
                    <div class="casino__info-item-title">Games Developed: </div>
                    <div class="casino__info-item-text">777</div>
                </li>
                <li class="casino__info-item">
                    <div class="casino__info-item-title">Year of Foundation: </div>
                    <div class="casino__info-item-text">2022</div>
                </li>
                <li class="casino__info-item">
                    <div class="casino__info-item-title">Founder: </div>
                    <div class="casino__info-item-text">Johann Graf</div>
                </li>
                <li class="casino__info-item">
                    <div class="casino__info-item-title">Headquarters: </div>
                    <div class="casino__info-item-text">City, Country</div>
                </li>
            </ul>
        </div>
    </div>
</section>